{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} :: pretalx</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "cfp/scss/main.scss" %}"/>
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "common/img/favicon.png" %}">
    {% compress js %}
        <script type="text/javascript" src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/bootstrap-4-dev/dist/js/bootstrap.js" %}"></script>
    {% endcompress %}
</head>
<body>
<div id="wrapper">
    <div id="top-bg" class="bg-primary"></div>
    <div class="container" id="main-container">
        <header>
            <h1>Name of the event</h1>
        </header>
        <section class="card" id="main">
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <img src="{% static "common/img/logo.svg" %}">
        </footer>
    </div>
</div>
</body>
</html>
