{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "events" %}{% endblock %}

{% block content %}
    {% if current_events or future_events or past_events %}
        <h1>{% trans "Events" %}</h1>
    {% endif %}
    {% if current_events %}
    <ul>
        {% for event in current_events %}
            <li><a href="{{ event.urls.base }}">
                {{ event.name }}
                ({{ event.date_from }} – {{ event.date_to }})
            </a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if future_events %}
    {% if current_events or past_events %}
        <legend>{% trans "Upcoming events" %}</legend>
    {% endif %}
    <ul>
        {% for event in future_events %}
            <li><a href="{{ event.urls.base }}">
                {{ event.name }}
                ({{ event.date_from }} – {{ event.date_to }})
            </a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if past_events %}
    {% if current_events or future_events %}
        <legend>{% trans "Past events" %}</legend>
    {% endif %}
    <ul>
        {% for event in past_events %}
            <li><a href="{{ event.urls.base }}">
                {{ event.name }}
                ({{ event.date_from }} – {{ event.date_to }})
            </a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
