{% extends 'eventyay_common/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{{ _('Enable two-factor authentication') }}{% endblock %}
{% block content %}
    <h1>{{ _('Enable two-factor authentication') }}</h1>
    <form action='' method='post' class='form-horizontal'>
        {% csrf_token %}
        <p>
            {{ _('Do you really want to enable two-factor authentication?') }}
        </p>
        <p>
            {{ _('You will no longer be able to log in without one of your configured devices.') }}
            {{ _('Please make sure to print out or copy the emergency tokens and store them in a safe place.') }}
        </p>
        <div class='form-group submit-group'>
            <a href="{% url 'eventyay_common:account.2fa' %}" class='btn btn-default btn-cancel'>
                {{ _('Cancel') }}
            </a>
            <button type='submit' class='btn btn-danger btn-save'>
                {{ _('Enable') }}
            </button>
        </div>
    </form>
{% endblock %}
