{% extends 'eventyay_common/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{{ _('Revoke access') }}{% endblock title %}

{% block nav_top_header %}
    <a href="{% url 'eventyay_common:account' %}" class='dropdown-toggle'>
        <span class='fa-stack fa-lg'>
            <i class='fa fa-circle fa-stack-2x'></i>
            <i class='fa fa-user fa-stack-1x fa-inverse'></i>
        </span>
        <div class='context-indicator'>
            <span class='context-name'>{{ _('Account') }}</span>
        </div>
    </a>
{% endblock nav_top_header %}

{% block content %}
    <h1>{{ _('Revoke access') }}</h1>
    <form action='' method='post' class='form-horizontal'>
        {% csrf_token %}
        <p>{{ _('Are you sure you want to revoke access to your account for the application %(application)s?')|safe }}</p>
        <div class='form-group submit-group'>
            <a href="{% url 'eventyay_common:account.oauth.authorized-apps' %}" class='btn btn-default btn-cancel'>
                {{ _('Cancel') }}
            </a>
            <button type='submit' class='btn btn-danger btn-save'>
                {{ _('Revoke') }}
            </button>
        </div>
    </form>
{% endblock content %}
