body {
  background: $gray-lighter;
}

#top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

#main-container {
  padding-top: 100px;
}

h1 a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.locales {
  padding-top: 1.3rem;
  padding-bottom: 4px;

  a {
    color: white;
  }
  a:hover {
    border-bottom: 1px dashed white;
    text-decoration: none;
  }
  a.active {
    border-bottom: 1px solid white;
  }
}
#event-logo {
  height: 95px;
  margin-top: -25px;
}
#main {
  min-height: 300px;
  box-shadow: 0 5px 10px rgba($black, 0.2);
  padding: 0;
  border: none;

  .content {
    padding: 20px;
  }

  .user-row {
    background: $brand-info;
    padding: 5px 20px;
    color: white;

    a {
      color: white;
      font-weight: bold;
    }
  }
}

.event-nonpublic {
  background: $brand-danger;
  padding: 5px 20px;
  color: white;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
  }
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 11px;

  img {
    max-height: 50px;
  }
}

.btn-secondary .fa {
  padding-right: 5px;
}

.bootstrap4-multi-input {
  margin: auto;
}
.user-avatar-display {
  display: flex;
  align-items: flex-start;
  img {
    padding-right: 16px;
    width: 160px;
    height: auto;
  }
}

.add-speaker .input-group {
  padding-left: 8px;
}

@include media-breakpoint-down(sm) {
  #main-container {
    padding-top: 20px;
  }
}

.url-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
  padding: 10px;

  a, button {
    margin: 5px;
    flex-basis: 100px;
    flex-grow: 1;
  }
}
