body {
  background: $gray-lightest;
}

#top-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: -1;
  display: flex;

  #header-image {
    object-fit: cover;
    width: 100%;
  }
}

h1 a {
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  word-break: break-word;
  z-index: 1000;
  height: 180px;
}

#header-row {
  padding-bottom: 4px;
  color: white;

  a {
    color: white;
  }

  .locales a:hover {
    border-bottom: 1px dashed $white;
    text-decoration: none;
  }

  .locales a.active {
    border-bottom: 1px solid $white;
  }
}

#event-logo {
  max-height: 150px;
  margin-bottom: 8px;
}

#main-card {
  min-height: 300px;
  box-shadow: 0 5px 10px rgba($black, 0.2);
  padding: 0;
  border: none;

  main {
    padding: 1rem;
  }
}

#user-dropdown-label .dropdown-content {
  a,
  a:hover {
    color: $brand-primary;
  }
}

#event-nonpublic {
  background: $brand-danger;
  padding: 5px 20px;
  color: white;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 11px;
  max-width: calc(100vw - 12px);
  position: sticky;
  left: 0;

  img {
    max-height: 50px;
  }
}

.bootstrap4-multi-input {
  margin: auto;
}

.add-speaker .input-group {
  padding-left: 8px;
}

@media (max-width: 1400px) {
  .user-logs {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  #main-container {
    padding: 0;
    padding-top: 20px;
    width: 100%;

    main {
      width: 100%;
      padding: 16px;
    }

    header {
      padding: 10px 20px;
      #event-logo {
        max-height: 120px;
      }
    }

    .user-row {
      flex-direction: column;
    }

    .btn-success {
      width: 100%;
    }

    .col-form-label {
      text-align: left;
      display: flex;

      span {
        padding-left: 4px;
      }
    }

    .url-links {
      flex-direction: column-reverse;

      a {
        flex-basis: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .orga-edit-link {
      max-height: 40px;
    }

    #user-dropdown {
      right: 0;
    }

    .table td.text-right {
      display: flex;
      flex-direction: row;
      margin-left: auto;

      > * {
        margin-left: 4px;
      }
    }

    .formset {
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;

      .resource-option-fields {
        display: flex;
        flex-direction: column;
        border-bottom: 2px $gray-lighter solid;
        margin-bottom: 8px;
      }

      .btn-info {
        width: 100%;
      }
    }
  }
}

.url-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
  padding: 10px;

  a,
  button {
    margin: 5px;
    flex-basis: 100px;
    flex-grow: 1;
  }
}

.submission-abstract {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .card-body {
    margin: 0 16px;
  }
}

.user-logs {
  position: absolute;
  left: 100%;
  top: 5%;
  width: 200px;
  z-index: -1;

  .logentry {
    display: flex;
    flex-direction: column;
    .time {
      color: $text-muted;
    }
    .person {
      font-style: italic;
    }
    span i.fa {
      padding-right: 4px;
    }
  }
}

.resource-option-row,
.resource-option-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .resource-option-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px $gray-lighter solid;
    padding-top: 4px;
    .resource-option-inline {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .resource-option-delete {
    float: right;
    flex-grow: 0;
    margin-top: 8px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    margin-bottom: 0;
    margin-top: 2px;

    .bootstrap-multi-input {
      flex-grow: 1;
    }

    input {
      width: 280px;
    }
  }
}
