body {
  background: $gray-lightest;
}

#top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: -1;
}

#main-container {
  padding-top: 100px;
}

h1 a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.locales {
  padding-top: 1.3rem;
  padding-bottom: 4px;

  a {
    color: white;
  }
  a:hover {
    border-bottom: 1px dashed $white;
    text-decoration: none;
  }
  a.active {
    border-bottom: 1px solid $white;
  }
}
#event-logo {
  height: 95px;
  margin-top: -25px;
}
#main {
  min-height: 300px;
  box-shadow: 0 5px 10px rgba($black, 0.2);
  padding: 0;
  border: none;

  .content {
    padding: 20px;
  }

  .user-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $brand-light solid 4px;
    background-color: $gray-lightest;
    padding: 5px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    a {
      color: $brand-primary;
      font-weight: bold;
    }
  }
}

.event-nonpublic {
  background: $brand-danger;
  padding: 5px 20px;
  color: white;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
  }
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 11px;

  img {
    max-height: 50px;
  }
}

.bootstrap4-multi-input {
  margin: auto;
}
.avatar-form {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  padding-bottom: 8px;

  img.avatar {
    padding-right: 16px;
    margin-left: -16px;
    max-width: 100%;
    height: auto;
  }
  .avatar-form-fields {
    display: flex;
    flex-direction: column;
    .user-avatar-display .bootstrap4-multi-input {
      margin: 0;
    }
    .form-group {
      display: flex;
    flex-direction: column;
    }
  }
}

.add-speaker .input-group {
  padding-left: 8px;
}

table .btn-secondary {
  background: $gray-light;
  border-color: white;
}

.table-responsive {
  display: table;
}

@include media-breakpoint-down(sm) {
  #main-container {
    padding: 0;
    padding-top: 20px;
    width: 100%;

    .content {
      width: 100%;
      padding: 16px;
    }
    header {
      padding: 10px 20px;
    }
    .user-row {
      flex-direction: column;
    }
    .btn-success {
      width: 100%;
    }
    .col-form-label {
      text-align: left;
      display: flex;
      span {
        padding-left: 4px;
      }
    }
    .formset {
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      .resource-option-input {
        display: flex;
        flex-direction: column;
        border-bottom: 2px $gray-lighter solid;
        margin-bottom: 8px;
      }
      .btn-info {
        width: 100%;
      }
      .resource-option-delete {
        float: none;
        padding-left: -8px;
      }
    }
  }
}

.url-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: stretch;
  padding: 10px;

  a, button {
    margin: 5px;
    flex-basis: 100px;
    flex-grow: 1;
  }
}
.submission-abstract {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  .card-body {
    margin: 0 16px;
  }
}

.user-logs {
  position: absolute;
  left: 100%;
  top: 5%;
  width: 240px;
  z-index: -1;

  .panel-heading {
    background-color: $gray-lightest;
    margin-bottom: -10px;
    padding: 8px;
  }
}
.resource-option-row, .resource-option-input {
  display: flex;
  flex-direction: row;
  width: 100%;

  .resource-option-delete {
    float: right;
    padding-right: 8px;
    flex-grow: 0;
  }
  .form-group {
    display: flex;
    padding-right: 16px;

    .bootstrap-multi-input {
      flex-grow: 1;
    }

    input {
      width: 280px;
    }
  }
}
