@import "../../common/scss/_variables";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../vendored/fontawesome/scss/font-awesome";
@import "../../common/scss/availabilities";
@import "_layout";

table .btn-secondary {
  background: $gray-lighter;
  border-color: white;
}

.table-responsive {
  display: table;
}
