:root {
    --border-radius: 0;
    --loader-bg: {{ world.config.theme.colors.bbb_background|default:"#333333" }};
    --color-primary: {{ world.config.theme.colors.primary|default:"#673ab7" }};
    --list-item-focus-border: {{ world.config.theme.colors.primary|default:"#673ab7" }};
}

.overlay--1aTlbi, body {
    background-color: {{ world.config.theme.colors.bbb_background|default:"#333333" }} !important;
}

.userNameSub--1RuGj6 span {
    display: none;
}

.chatListItem--Z2sTdzU {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
