{% extends "orga/base.html" %}
{% load i18n %}
{% block content %}
    {% if request.event %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.outbox" in url_name %}active{% endif %}"
              href="{{ request.event.orga_urls.outbox }}"
            >
                {% trans "Outbox" %}
                {% if request.event.pending_mails %}<span class="pending-mails">{{ request.event.pending_mails }}{% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.templates" in url_name %}active{% endif %}"
              href="{{ request.event.orga_urls.mail_templates }}"
            >
                {% trans "Edit Templates" %}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.send" in url_name %}active{% endif %}"
              href="{{ request.event.orga_urls.send_mails }}"
            >
                {% trans "Send Emails" %}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.sent" in url_name %}active{% endif %}"
              href="{{ request.event.orga_urls.sent_mails }}"
            >
                {% trans "Sent Emails" %}
            </a>
          </li>
        </ul>
    {% endif %}

    {% block mail_content %}
    {% endblock %}

{% endblock %}
