{% extends "orga/base.html" %}
{% load i18n %}
{% block headline %}
    {% trans "Emails" %}
{% endblock %}
{% block content %}
    {% if request.event %}
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.outbox" in url_name %}active{% endif %}"
              href="{% url "orga:mails.outbox.list" event=request.event.slug %}"
            >
                {% trans "Outbox" %}
                {% if request.event.pending_mails %}<span class="pending-mails">{{ request.event.pending_mails }}{% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.templates" in url_name %}active{% endif %}"
              href="{% url "orga:mails.templates.list" event=request.event.slug %}"
            >
                {% trans "Edit Templates" %}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if "mails.send" in url_name %}active{% endif %}"
              href="{% url "orga:mails.send" event=request.event.slug %}"
            >
                {% trans "Send Emails" %}
            </a>
          </li>
        </ul>
    {% endif %}

    {% block mail_content %}
    {% endblock %}

{% endblock %}
