{% extends "orga/mails/_mail_editor.html" %}

{% load i18n %}

{% block email_editor_title_detail %}
  {% translate "Reviewers and team members" %}
{% endblock email_editor_title_detail %}

{% block skip_queue %}
  <div class="alert alert-danger mt-3" role="alert">
    {% blocktranslate trimmed %}
      Emails to reviewers and other team members are always sent out directly,
      and are not placed in the outbox first.
      They also do not show up in the list of sent mails.
    {% endblocktranslate %}
  </div>
{% endblock skip_queue %}

{% block recipient_form %}
  {{ form.recipients.as_field_group }}
{% endblock recipient_form %}

{% block send_button_label %}{{ phrases.base.send }}{% endblock send_button_label %}
