{% extends "orga/mails/_mail_editor.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block email_editor_title_detail %}
  {% translate "Reviewers and team members" %}
{% endblock %}

{% block skip_queue %}
  <div class="alert alert-danger col-md-9 offset-md-3">
    {% blocktranslate trimmed %}
      Emails to reviewers and other team members are always sent out directly,
      and are not placed in the outbox first.
      They also do not show up in the list of sent mails.
    {% endblocktranslate %}
  </div>
{% endblock %}

{% block recipient_form %}
  {% bootstrap_field form.recipients layout='event' %}
{% endblock %}

{% block send_button_label %}
  {% translate "Send" %}
{% endblock %}
