{% extends "orga/base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% translate "Send emails" %}</h1>
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ request.event.orga_urls.compose_mails_sessions }}">
      <h4>
        {% translate "Sessions, proposals, speakers" %}
        <i class="fa fa-chevron-right"></i>
      </h4>
      <p>{% translate "Send an email to speakers, authors, submitters, based on their proposal status and other filters."%}</p>
    </a>
    <a class="list-group-item list-group-item-action" href="{{ request.event.orga_urls.compose_mails_teams }}">
      <h4>
        {% translate "Reviewers and team members" %}
        <i class="fa fa-chevron-right"></i>
      </h4>
      <p>{% translate "Send an email to your reviewers or other team members." %}</p>
    </a>
  </ul>
{% endblock %}
