{% extends "orga/mails/base.html" %}
{% load i18n %}
{% block mail_content %}
    <h2>
        {% translate "Please confirm:" %}
    </h2>
    {{ question }}
    <form method="post">
        {% csrf_token %}
        <div class="submit-group">
            <a href="{{ request.event.orga_urls.outbox }}" class="btn btn-lg btn-danger">
                {% translate "Back" %}
            </a>
            <button type="submit" class="btn btn-lg btn-success">
                {% translate "Yes" %}
            </button>
        </div>
    </form>
{% endblock %}
