{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block mail_content %}

    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "Mail Editor" %}</legend>
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                {% if action == "edit" %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                {% elif action == "view" %}
                    <a class="btn btn-primary" href={{ form.instance.urls.send }}>{% trans "Send" %}</a>
                    <a class="btn btn-secondary" href={{ form.instance.urls.edit }}>{% trans "Edit" %}</a>
                    <a class="btn btn-danger" href={{ form.instance.urls.delete }}>{% trans "Discard" %}</a>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
