{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block mail_content %}

    <div class="row">
        <a href="{{ request.event.orga_urls.send_outbox }}">
            <button class="btn btn-primary">{% trans "Send all" %}</button>
        </a>
        <a href="{{ request.event.orga_urls.purge_outbox }}">
            <button class="btn btn-danger">{% trans "Discard all" %}</button>
        </a>
    </div>

    <legend>{{ mails.count }} {% trans "pending e-mails" %}</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "To" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>
                    <a href="{{ mail.urls.base }}">
                        {{ mail.subject }}
                    </a>
                </td>
                <td>
                    {{ mail.to }}
                </td>
                <td class="text-right">
                    <a href="{{ mail.urls.edit }}"
                        class="btn btn-sm btn-secondary">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="{{ mail.urls.delete }}"
                        class="btn btn-sm btn-secondary">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
