{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block mail_content %}

    <div class="row">
        <a href="{% url "orga:mails.outbox.send" event=request.event.slug %}">
            <button class="btn btn-primary">{% trans "Send all" %}</button>
        </a>
        <a href="{% url "orga:mails.outbox.purge" event=request.event.slug %}">
            <button class="btn btn-danger">{% trans "Discard all" %}</button>
        </a>
    </div>

    <legend>{{ submissions.count }} {% trans "pending e-mails" %}</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "To" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>
                    <a href="{% url "orga:mails.outbox.mail.view" event=request.event.slug pk=mail.pk %}">
                        {{ mail.subject }}
                    </a>
                </td>
                <td>
                    {{ mail.to }}
                </td>
                <td class="text-right">
                    <a href="{% url "orga:mails.outbox.mail.edit" event=request.event.slug pk=mail.pk %}"
                        class="btn btn-sm btn-secondary">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="{% url "orga:mails.outbox.mail.delete" event=request.event.slug pk=mail.pk %}"
                        class="btn btn-sm btn-secondary">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
