{% extends "orga/mails/base.html" %}

{% load i18n %}

{% block mail_content %}
  <h2>{% translate "Send reminder to unsubmitted proposal drafts" %}</h2>
  <div class="alert alert-warning">
    {% blocktranslate trimmed %}
      These emails will be sent out immediately! They will not be
      saved to the outbox or logged first, to protect the privacy of
      the draft authors.
    {% endblocktranslate %}
  </div>

  {% include "orga/includes/base_form.html" with submit_label=phrases.base.send %}

  </form>
{% endblock mail_content %}
