{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block mail_content %}

    <legend>{{ mails.count }} {% trans "sent e-mails" %}</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "To" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>
                    <a href="{{ mail.urls.base }}">
                        {{ mail.subject }}
                    </a>
                </td>
                <td>
                    {{ mail.to }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
