{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load url_replace %}

{% block mail_content %}
    <h2>
        {{ page_obj.paginator.count }}
        {% trans "Sent Mails" %}
    </h2>
    {% include "common/search_form.html" %}
    <table class="table table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th>
                    {% trans "Subject" %}
                    <a href="?{% url_replace request 'sort' '-subject' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'sort' 'subject' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th>
                    {% trans "To" %}
                    <a href="?{% url_replace request 'sort' '-to' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'sort' 'to' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th>
                    {% trans "Sent" %}
                    <a href="?{% url_replace request 'sort' '-sent' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'sort' 'sent' %}"><i class="fa fa-caret-up"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>
                    <a href="{{ mail.urls.base }}">
                        {{ mail.subject }}
                    </a>
                </td>
                <td>
                    {% for user in mail.to_users.all %}
                    {% if user in request.event.submitters %}
                        <a href="{% url "orga:speakers.view" event=request.event.slug pk=user.pk %}">
                            {{ user }}
                        </a>{% else %}{{ user }}{% endif %}{% if not forloop.last or mail.to %}, {% endif %}
                    {% endfor %}
                    {% if mail.to %}
                        {{ mail.to }}
                    {% endif %}
                </td>
                <td>
                    {{ mail.sent }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "orga/pagination.html" %}
{% endblock %}
