{% extends "orga/mails/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block mail_content %}
    {% if placeholders %}
    <div class="alert alert-info"><span>
        {% blocktrans trimmed %}
            You have some variables available that will be rendered into the mails
            (in the appropriate language) before sending:
        {% endblocktrans %}
        <ul>
        {% for placeholder in placeholders %}
            <li>{{ placeholder.name }}{% if placeholder.explanation %}: {{ placeholder.explanation }}{% endif %}</li>
        {% endfor %}
        </ul>
    </span></div>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "Mail Template Editor" %}</legend>
        {% bootstrap_form form layout='event' %}
        {% include "orga/submit_row.html" %}
    </form>
{% endblock %}
