{% load i18n %}
<div class="form-group {{ form_group_class }}{% with classes=field.css_classes %}{% if classes %} {{ classes }}{% endif %}{% endwith %}">
    {% block field_label_left %}
        {% if field.field.widget.input_type != "checkbox" or field.field.widget.allow_multiple_selected %}
            <label for="{{ field.auto_id }}" class="{{ label_class }}">
                <span>{{ field.label }}<span class="d-inline text-danger">{% if field.field.required or field.field.one_required %} *{% endif %}</span></span>
                {% if not field.field.required and not field.field.one_required %}<span class="optional">{% translate "Optional" %}</span>{% endif %}
                {% if field.help_text %}<span class="field-help-toggle" role="button" tabindex="0" aria-label="{% translate 'Show help' %}">?</span>{% endif %}
            </label>
        {% endif %}
    {% endblock %}

    {% block field_content_right %}
        {% if help_text_above and field.help_text %}<small class="form-text text-muted"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</small>{% endif %}
        {% if field.use_fieldset %}<fieldset{% if field.help_text and field.auto_id and "aria-describedby" not in field.field.widget.attrs %} aria-describedby="{{ field.auto_id }}_helptext"{% endif %}>{% endif %}
        {% if field.field.widget.input_type == "checkbox" and not field.field.widget.allow_multiple_selected %}
            <div class="form-check">
                {{ field }}
                <label class="form-check-label" for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
            </div>
        {% else %}
            {{ field }}
        {% endif %}
        {% if field.use_fieldset %}</fieldset>{% endif %}
        {% if field.errors %}
            {% for text in field.errors %}
                <div class="invalid-feedback d-block">{{ text }}</div>
            {% endfor %}
        {% endif %}
        {% if field.help_text and not help_text_above %}<small class="form-text text-muted"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</small>{% endif %}
    {% endblock %}
</div>
