@import 'variables'
variables()
normalize-css()
base()
@import 'typography'
typography()
components()
scrollbars()
@import 'themed-buntpapier'
themed-buntpapier()
@import 'common-ui'

a
	color: var(--clr-primary)
	text-decoration: none

body
	background-color: transparent

html, body, #app
	margin: 0
	height: 100%
	// Do not globally hide overflow; individual scroll containers use v-scrollbar
	overflow: visible

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space
