{% extends "eventyay_common/base.html" %} {% load i18n %} {% block title %}{%
trans "Dashboard" %} {% endblock %} {% block content %}
<h1>{% trans "Dashboard" %}</h1>
<div class="dropdown-container">
  <input
    type="text"
    class="form-control"
    id="dashboard_query"
    placeholder="{% trans 'Go to event' %}"
    autofocus
  />
</div>
<h2>{% trans "Your upcoming events" %}</h2>
<div class="dashboard">
  {% if can_create_event %}
  <div class="widget-small widget-container">
    <a href="{% url 'eventyay_common:events.add' %}" class="widget">
      <div class="newevent">
        <span class="fa fa-plus-circle"></span>{% trans "Create a new event" %}
      </div>
    </a>
  </div>
  {% endif %} {% for w in upcoming %}
  <div
    class="widget-{{ w.display_size|default:'small' }} {{ w.container_class|default:'widget-container' }} {% if w.lazy %}widget-lazy-loading{% endif %}"
    data-lazy-id="{{ w.lazy }}"
  >
    <div class="widget">
      {% if w.lazy %}
      <span class="fa fa-cog fa-4x"></span>
      {% else %} {{ w.content|safe }} {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% if upcoming %}
<p class="">
  <a
    href="{% url 'eventyay_common:events' %}?ordering=date_from&status=date_future"
    class=""
  >
    {% trans "View all upcoming events" %}
  </a>
</p>
{% endif %} {% endblock %}
