{% extends "common/base.html" %}
{% load compress %}
{% load staticfiles %}
{% load i18n %}
{% block custom_header %}
    <link rel="alternate" type="application/atom+xml" title="{{ request.event.name }}Schedule Versions" href="{{ request.event.urls.feed }}" />
    {% block agenda_custom_header %}
    {% endblock %}
{% endblock %}

{% block nav_link %}
{{ request.event.urls.schedule }}
{% endblock %}

{% block content %}
{% if event.settings.show_schedule or request.is_orga %}

    {% if not event.settings.show_schedule %}
        <div class="event-nonpublic">
            <span class="fa fa-user-secret"></span>
            {% blocktrans trimmed %}
                This schedule-related page is non-public. Only orga members can see it.
            {% endblocktrans %}
        </div>

    {% endif %}

    {% block agenda_content %}
    {% endblock %}
{% endif %}
{% endblock %}
