{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

{% for schedule in request.event.schedules.all %}{% if schedule.version %}

    <legend>{% trans "Version" %} {{ schedule.version }}</legend>

    {% if not schedule.changes.count %}
        {% if schedule.changes.action == 'update' %}
            <p>{% trans "Nothing has changed, we just wanted to change the version name. It was going out of style." %}</p>
        {% else %}
            <p>{% trans "We released our first schedule!" %}</p>
        {% endif %}
    {% else %}
        {% if schedule.changes.new_talks|length > 0 %}
            {% if schedule.changes.new_talks|length > 1 %}
                <p>{% trans "We have new talks:" %}</p>
                <ul>
                    {% for talk in schedule.changes.new_talks %}
                    <li><a href="{{ talk.submission.urls.public }}">»{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "We have a new talk: " %}
                {% for talk in schedule.changes.new_talks %}
                    <a href="{{ talk.submission.urls.public }}">»{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}</a>
                {% endfor %}
            {% endif %}</p>
        {% endif %}

        {% if schedule.changes.canceled_talks|length > 0 %}
            {% if schedule.changes.canceled_talks|length > 1 %}
                <p>{% trans "Sadly, we had to cancel talks:" %}</p>
                <ul>
                    {% for talk in schedule.changes.canceled_talks %}
                    <li>»{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "We have sadly had to cancel a talk: " %}
                {% for talk in schedule.changes.canceled_talks %}
                    »{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}
                {% endfor %}</p>
            {% endif %}
        {% endif %}

        {% if schedule.changes.moved_talks|length > 0 %}
            {% if schedule.changes.moved_talks|length > 1 %}
                <p>{% trans "We had to move some talks, so if you were planning on seeing them, check their new dates or locations:" %}</p>
                <ul>
                    {% for talk in schedule.changes.moved_talks %}
                    <li><a href="{{ talk.submission.urls.public }}">»{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{% trans "We have moved a talk around: " %}
                {% for talk in schedule.changes.moved_talks %}
                    <a href="{{ talk.submission.urls.public }}">»{{ talk.submission.title }}« {% trans "by" %} {{ talk.submission.display_speaker_names }}</a>
                {% endfor %}</p>
            {% endif %}
        {% endif %}

    {% endif %}

{% endif %}{% endfor %}

{% endblock %}
