{% load i18n %}
{% load rich_text %}
{% if schedule.comment %}
  <p>{{ schedule.comment|rich_text }}</p>
{% endif %}
{% if not schedule.changes.count %}
    {% if schedule.changes.action == 'update' %}
        <p>{{ phrases.agenda.changelog_unchanged }}</p>
    {% else %}
        <p>{{ phrases.agenda.changelog_first }}</p>
    {% endif %}
{% else %}
    {% if schedule.changes.new_talks|length > 0 %}
        {% if schedule.changes.new_talks|length > 1 %}
            <p>{{ phrases.agenda.changelog_new_talks }}</p>
            <ul>
                {% for talk in schedule.changes.new_talks %}
                <li><a href="{{ talk.submission.urls.public }}">
                    {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                    {% if talks.submission.speakers.exists %}
                        {% trans "by" %} {{ talk.submission.display_speaker_names }}
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ phrases.agenda.changelog_new_talk }}
            {% for talk in schedule.changes.new_talks %}
                <a href="{{ talk.submission.urls.public }}">
                    {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                    {% if talk.submission.speakers.exists %}
                        {% trans "by" %} {{ talk.submission.display_speaker_names }}
                    {% endif %}
                </a>.
            {% endfor %}
        {% endif %}</p>
    {% endif %}

    {% if schedule.changes.canceled_talks|length > 0 %}
        {% if schedule.changes.canceled_talks|length > 1 %}
            <p>{{ phrases.agenda.changelog_canceled_talks }}</p>
            <ul>
                {% for talk in schedule.changes.canceled_talks %}
                <li>
                    {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                    {% if talk.submission.speakers.exists %}
                        {% trans "by" %} {{ talk.submission.display_speaker_names }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ phrases.agenda.changelog_canceled_talk }}
            {% for talk in schedule.changes.canceled_talks %}
                {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                {% if talk.submission.speakers.exists %}
                    {% trans "by" %} {{ talk.submission.display_speaker_names }}.
                {% endif %}
            {% endfor %}</p>
        {% endif %}
    {% endif %}

    {% if schedule.changes.moved_talks|length > 0 %}
        {% if schedule.changes.moved_talks|length > 1 %}
            <p>{{ phrases.agenda.changelog_moved_talks }}</p>
            <ul>
                {% for talk in schedule.changes.moved_talks %}
                <li><a href="{{ talk.submission.urls.public }}">
                    {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                    {% if talk.submission.speakers.exists %}
                        {% trans "by" %} {{ talk.submission.display_speaker_names }}
                    {% endif %}
                    </a>
                {% if talk.old_room == talk.new_room %}
                ({{ talk.old_start }} → {{ talk.new_start }})
                {% elif talk.old_start == talk.new_start %}
                ({{ talk.old_room }} → {{ talk.new_room }})
                {% else %}
                ({{ talk.old_start }}, {{ talk.old_room }} → {{ talk.new_start }}, {{ talk.new_room }})
                {% endif %}
               </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ phrases.agenda.changelog_moved_talk }}
            {% for talk in schedule.changes.moved_talks %}
                <a href="{{ talk.submission.urls.public }}">
                    {{ quotation_open }}{{ talk.submission.title }}{{ quotation_close }}
                    {% if talk.submission.speakers.exists %}
                        {% trans "by" %} {{ talk.submission.display_speaker_names }}
                    {% endif %}
                </a>
                {% if talk.old_room == talk.new_room %}
                ({{ talk.old_start }} → {{ talk.new_start }})
                {% elif talk.old_start == talk.new_start %}
                ({{ talk.old_room }} → {{ talk.new_room }})
                {% else %}
                ({{ talk.old_start }}, {{ talk.old_room }} → {{ talk.new_start }}, {{ talk.new_room }}).
                {% endif %}
            {% endfor %}</p>
        {% endif %}
    {% endif %}
{% endif %}
