{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div id="fahrplan">
    {% for day in data %}
    <div class="day" id="{{ day.start.date|date:"c" }}">
        <a href="#{{ day.start.date|date:"c" }}" class="date">{{ day.start.date|date:"c" }}</a>
        {% if day.first_talk %}
            <div class="rooms">
                {% for room in day.rooms %}
                <div class="room">
                    <div class="room-header">{{ room.name }}</div>
                    <div class="talk-container" style="height: {{ day.height }}px">
                        {% for talk in room.talks %}
                        <a href="{{ talk.submission.urls.public }}">
                            <div class="talk" id="{{ talk.submission.code }}"
                                    style="height: {{ talk.height }}px; min-height: {{ talk.height }}px; top: {{ talk.top }}px">
                                <div class="talk-content">
                                    <span class="talk-title">{{ talk.submission.title }}</span>
                                    <span class="talk-speakers">({{ talk.submission.speaker_names|join:', ' }})</span><br>
                                    <span class="talk-time">{{ talk.start.time|date:"H:i" }}–{{ talk.end.time|date:"H:i" }}</span>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-talks">
            {% blocktrans with day.start.date as current_day %}
                <div class="no-talks">No talks on {{ current_day }}.</div>
            {% endblocktrans %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
