{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block agenda_content %}
<p>
    <b>{% trans "Welcome to our schedule sneak peek!" %}</b><br><br>
    {% if talks %}
    {% blocktrans trimmed %}
    We prepared a list of exciting talks, so you can get a feel for our
    conference. Please keep in mind that this is not our full schedule.
    We will follow up with the full schedule in time, stay tuned!
    {% endblocktrans %}
    {% else %}
    {% blocktrans trimmed %}
    In the near future you will see a curated list of talks we'd like
    to show off here. Right now we are busy reviewing submissions.<br>
    Check back later!
    {% endblocktrans %}
    {% endif %}
</p>
<div id="sneakpeak">
    {% for talk in talks %}
        <h3 class="talk-title">
            <div> »{{ talk.title }}«</div>
            <small>
                {{ talk.display_speaker_names }};
                <i>{{ talk.submission_type }}</i>
            </small>
        </h3>
        <p>
            {{ talk.abstract|default:talk.description|default:"" }}
        </p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
