{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load rich_text %}
{% load staticfiles %}

{% block agenda_content %}
<h3>
    {% blocktrans with event=request.event.name trimmed %}
    {{ event }} speaker:
    {% endblocktrans %}
    {{ speaker.get_display_name }}
    <div class="buttons float-right">
        <a class="btn btn-outline-primary" href="{{ profile.urls.talks_ical }}">
            <i class="fa fa-calendar"></i> .ical
        </a>
    </div>
</h3>
<div class="speaker-container">
    <div class="speaker-info">
        <div class="speaker-bio">
            {{ profile.biography|rich_text }}
        </div>
        <div class="speaker-info">
            {% if speaker.get_gravatar %}
                <img width="100%" src="https://www.gravatar.com/avatar/{{ speaker.gravatar_parameter }}" />
            {% elif speaker.avatar %}
                <img width="100%" src="{{ speaker.avatar.url }}">
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="speaker-talks">
        <h4>{% trans "Talks" %}</h4>
        {% for talk in talks %}
        <a href="{{ talk.urls.public }}"><div class="talk">
            <h5 class="talk-title">
                {{ talk.title }}
            </h5>
            <div class="talk-abstract">
                {{ talk.abstract|rich_text }}
            </div>
        </div></a>
        {% endfor %}
    </div>
{% endblock %}
