{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block agenda_content %}
    {% include "agenda/header_row.html" %}
<p></p>
    {% for speaker in speakers %}
        <section>
            <h3 class="talk-title">
                <a href="{{ speaker.urls.public }}"> {{ speaker.user.get_display_name }}</a>
            </h3>
            <p>
            {% for talk in speaker.talks %}
                <a href="{{ talk.urls.public }}">{{ quotation_open }}{{ talk.title }}{{ quotation_close }}</a>
                {% if not forloop.last %} | {% endif %}
            {% endfor %}
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </section>
    {% empty %}
        {% if search %}{% blocktrans trimmed %}
            No speaker matches your search.
        {% endblocktrans %}{% endif %}
    {% endfor %}
{% endblock %}
