{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load rich_text %}
{% load static %}

{% block agenda_content %}
    {% include "agenda/header_row.html" %}
<p></p>
    {% for talk in talks %}
        <section>
            <h3 class="talk-title">
                <a href="{{ talk.urls.public }}"> {{ quotation_open }}{{ talk.title }}{{ quotation_close }}</a>
                <small>
                    {{ talk.display_speaker_names }} ·
                    <i>
                        {{ talk.submission_type }}
                        {% if request.event.is_multilingual %}· {{ talk.get_content_locale_display }}{% endif %}
                    </i>
                </small>
            </h3>
            <p>
                {{ talk.abstract|rich_text|truncatechars_html:300 }}
            </p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </section>
    {% empty %}
        {% if search %}{% blocktrans trimmed %}
            No talk matches your search.
        {% endblocktrans %}{% endif %}
    {% endfor %}
{% endblock %}
