{% extends "agenda/base.html" %}
{% load compress %}
{% load static %}
{% load html_signal %}
{% load i18n %}
{% load rich_text %}

{% block title %}{{ submission.title }} ::{% endblock %}
{% block meta_title %}{{ submission.title }}{% endblock %}
{% block social_title %}{{ submission.title }}{% endblock %}
{% block meta_description %}{{ submission_description }}{% endblock %}
{% block social_description %}{{ submission_description }}{% endblock %}
{% block meta_image %}<meta property="thumbnail" content="{{ submission.urls.social_image.full }}">
    <meta property="og:image" content="{{ submission.urls.social_image.full }}">{% endblock %}
{% block alternate_link %}
    <link rel="alternate" type="application/json" title="{{ request.event.name }} API" href="{{ request.event.api_urls.talks.full }}{{ submission.code }}" />
{% endblock %}

{% block agenda_custom_header %}
    {% compress js %}
        <script src="{% static "agenda/js/favourite.js" %}" async></script>
        <script src="{% static "common/js/lightbox.js" %}"></script>
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "common/scss/lightbox.scss" %}">
    {% endcompress %}
{% endblock %}

{% block agenda_content %}
    <article>
        {% html_signal "pretalx.agenda.signals.html_above_session_pages" sender=request.event request=request submission=submission %}
        <h3 class="talk-title">
            <div class="heading-with-buttons">
                <span>
                    {{ submission.title }}
                    <button class="btn btn-xs btn-link d-none" id="fav-button">
                        <i class="fa fa-star-o d-none" title="{% translate "Favourite this session" %}"></i>
                        <i class="fa fa-star d-none" title="{% translate "Remove this session from your favourites" %}"></i>
                    </button>
                </span>
                <div class="buttons" id="talk-buttons">
                    {% if submission.state == 'confirmed' and request.event.current_schedule %}
                        <a class="btn btn-outline-primary" href="{{ submission.urls.ical }}">
                            <i class="fa fa-calendar"></i> .ical
                        </a>
                    {% endif %}
                    {% if submission.does_accept_feedback and request.event.feature_flags.use_feedback and not is_html_export %}
                        <a href="{{ submission.urls.feedback }}"
                           class="btn btn-success">
                            <i class="fa fa-comments"></i> {{ phrases.agenda.feedback }}
                        </a>
                    {% endif %}
                    {% if request.user in submission.speakers.all %}
                        <a href="{{ submission.urls.user_base }}"
                           class="btn btn-info">
                            <i class="fa fa-edit"></i> {{ phrases.base.edit }}
                        </a>
                    {% endif %}
                </div>
            </div>
            <small>
                {% if talk_slots|length == 1 %}
                    {{ talk_slots.0.start|date:DAY_MONTH_DATE_FORMAT }}, {{ talk_slots.0.start|date:"TIME_FORMAT" }}–{{ talk_slots.0.end|date:"TIME_FORMAT" }} ({{ request.event.timezone }}), {{ talk_slots.0.room.name }} {% if talk_slots.0.room.description %}<i class="fa fa-question-circle" data-toggle="tooltip" title="{{ talk_slots.0.room.description }}"></i>{% endif %}
                {% endif %}
                {% if request.event.is_multilingual and request.event.cfp.request_content_locale %}
                    <div class="speakers">
                        <strong>{% translate "Language" %}:</strong> {{ submission.get_content_locale_display }}
                    </div>
                {% endif %}
                {% if submission.do_not_record %}
                    <span class="fa-stack">
                        <i class="fa fa-video-camera fa-stack-1x"></i>
                        <i class="fa fa-ban do-not-record fa-stack-2x" aria-hidden="true" alt="{{ phrases.agenda.schedule_do_not_record }}"></i>
                    </span>
                    <em>{{ phrases.agenda.schedule.do_not_record }}</em>
                {% endif %}
            </small>
        </h3>
        <div class="talk row">
            <div class="talk-content">
                {% if recording_iframe %}
                    {{ recording_iframe|safe }}
                {% endif %}
                {% if submission.image %}
                    <div class="talk-image">
                        <a href="{{ submission.image.url }}" data-lightbox="{{ submission.image.url }}">
                            <img loading="lazy" src="{{ submission.image.url }}" alt="{% translate "This session's header image" %}">
                        </a>
                    </div>
                {% endif %}
                {% if talk_slots|length > 1 %}
                    <ul class="talk-slots">
                        {% for talk in talk_slots %}
                            <li class="talk-slot">
                                {{ talk.start|date:DAY_MONTH_DATE_FORMAT }}, {{ talk.start|date:"TIME_FORMAT" }}–{{ talk.end|date:"TIME_FORMAT" }}, {{ talk.room.name }} {% if room.description %}<i class="fa fa-question-circle" data-toggle="tooltip" title="{{ room.description }}"></i>{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p><i>{% blocktranslate trimmed with tz=request.event.timezone %}All times in {{ tz }}{% endblocktranslate %}</i></p>
                {% endif %}
                <section class="abstract">
                    {{ submission.abstract|rich_text }}
                </section>
                {% if submission.abstract and submission.description %}
                    <hr />
                {% endif %}
                <section class="description">
                    {{ submission.description|rich_text }}
                </section>
                {% if answers %}
                    <hr />
                    <section class="answers">
                        {% for answer in answers %}
                            <span class="question"><strong>{{ answer.question.question }}</strong></span>
                            <span class="answer">– {% include "common/question_answer.html" with answer=answer %}</span>
                        {% endfor %}
                {% endif %}
            </section>
            {% if submission.active_resources %}
                <section class="resources">
                    {% translate "See also:" %}
                    {% if submission.active_resources.count == 1 %}{% with resource=submission.active_resources.first %}
                        {% include "agenda/includes/submission_resource.html" %}
                    {% endwith %}{% else %}
                        <ul>
                            {% for resource in submission.active_resources %}
                                <li>{% include "agenda/includes/submission_resource.html" %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
            {% endif %}
            <section>
                {% html_signal "pretalx.agenda.signals.html_below_session_pages" sender=request.event request=request submission=submission %}
            </section>
        </div>
    </div>
    {% if not hide_speaker_links %}
        {% for speaker in speakers %}
            <div class="pretalx-session">
                <div class="pretalx-session-time-box avatar">
                    <a href="{{ speaker.talk_profile.urls.public }}">
                        <div class="avatar-wrapper">
                            {% if speaker.avatar_url and request.event.cfp.request_avatar %}
                                <img loading="lazy" src="{{ speaker.avatar_url }}">
                            {% else %}
                                <img loading="lazy" src="{{ request.event.urls.speakers }}avatar.svg">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="pretalx-session-info">
                    <div class="title">
                        <a href="{{ speaker.talk_profile.urls.public }}">{{ speaker.get_display_name }}</a>
                    </div>
                    <div class="abstract">{{ speaker.talk_profile.biography|default:''|rich_text }}</div>
                    {% if speaker.other_submissions %}
                        {% translate "This speaker also appears in:" %}
                        <ul>
                            {% for talk in speaker.other_submissions %}
                                <li>
                                    <a href="{{ talk.urls.public }}">{{ talk.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </article>
{% endblock %}
