{% load i18n %}
{% load eventsignal %}
{% load safelink %}
{% load event_tags %}
{% load eventurl %}
{% load presale_locale %}
{% load staff_session %}
{% load nav_tags %}

{% with current_event=request.event path=request.path_info schedule_label=phrases.schedule.schedule|default:_("Schedule") sessions_label=phrases.schedule.sessions|default:_("Sessions") speakers_label=phrases.schedule.speakers|default:_("Speakers") %}
    {% tickets_tab_visible as show_tickets_tab %}
    {% can_view_talks as show_talks_tab %}
    <a href="{% url 'presale:event.index' event=current_event.slug organizer=current_event.organizer.slug %}" id="nav-tab-info" class="header-tab {% if request.resolver_match.url_name == 'event.index' and '#tickets' not in request.get_full_path %}active{% endif %}">
        {% if is_meetup_event %}
            {% translate "Details" %}
        {% else %}
            <i class="fa fa-info-circle"></i> {% translate "Info" %}
        {% endif %}
    </a>
    {% if show_tickets_tab and not is_meetup_event %}
        {% get_localized_menu_label current_event 'menu_label_tickets' as label %}
        <a href="{% url 'presale:event.index' event=current_event.slug organizer=current_event.organizer.slug %}#tickets" id="nav-tab-tickets" class="header-tab">
            <i class="fa fa-ticket"></i> {{ label }}
        </a>
    {% endif %}
    {% can_view_featured_sessions_public current_event as show_featured_sessions_tab %}
    {% if show_featured_sessions_tab %}
        <a href="{{ current_event.urls.featured }}" id="nav-tab-featured" class="header-tab {% if '/featured/' in path %}active{% endif %}" title="{% translate 'Featured Sessions' %}">
            <i class="fa fa-certificate" aria-hidden="true"></i> {% translate "Featured" %}
        </a>
    {% endif %}
    {% if show_talks_tab %}
        {% show_schedule_nav_tab current_event as show_schedule_nav %}
            {% if show_schedule_nav %}
            {% agenda_schedule_nav_url request current_event as schedule_url %}
                <a href="{{ schedule_url }}" class="header-tab {% if '/schedule/' in path and '/speakers/' not in path and '/talk/' not in path %}active{% endif %}">
                    <i class="fa fa-calendar"></i> {{ schedule_label }}
                </a>
            {% endif %}
            {% show_public_speakers_list current_event as show_speakers_list %}
            {% if show_speakers_list %}
                {% agenda_speakers_nav_url request current_event as speakers_url %}
                    <a href="{{ speakers_url }}" class="header-tab {% if '/speakers/' in path %}active{% endif %}">
                        <i class="fa fa-group"></i> {{ speakers_label }}
                    </a>
            {% endif %}
    {% endif %}

    {% if show_talks_tab %}
        {% with cfp=current_event.cfp %}
            {% if cfp.is_open or access_code.is_valid %}
                <a class="header-tab {% if '/cfp' in path %}active{% endif %}"
                    href="{% url 'cfp:event.start' event=current_event.slug organizer=current_event.organizer.slug %}">
                    <i class="fa fa-bullhorn"></i> <span class="cfs-full">{% translate "Call for Speakers" %}</span><span class="cfs-short">{% translate "CfS" %}</span>
                </a>
            {% elif not cfp.settings.hide_after_deadline %}
                <a class="header-tab {% if '/cfp' in path %}active{% endif %}"
                    href="{% url 'cfp:event.start' event=current_event.slug organizer=current_event.organizer.slug %}">
                    <i class="fa fa-bullhorn"></i> <span class="cfs-full">{% translate "Call for Speakers (Closed)" %}</span><span class="cfs-short">{% translate "CfS" %}</span>
                </a>
            {% endif %}
        {% endwith %}
    {% endif %}

    {% eventsignal current_event "eventyay.presale.signals.header_nav_tabs" request=request %}

    {% for link in header_links %}
        <a href="{% safelink link.url %}" target="_blank" rel="noopener" class="header-tab">
            <i class="fa fa-link"></i> {{ link.label }}
        </a>
    {% endfor %}

    {% if show_online_video_link|default:False %}
        {% get_localized_menu_label current_event 'menu_label_join_video' as label %}
        {% if nav_context == "presale" %}
            <a id="join-event-link" href="{% eventurl current_event 'presale:event.onlinevideo.join' %}" class="header-tab join-video-link {% if '/onlinevideo' in path %}active{% endif %}">
                <i class="fa fa-video-camera"></i> <span class="mobile-hide-text">{{ label }}</span>
            </a>
        {% else %}
            <a id="join-event-link" href="{% url 'agenda:event.onlinevideo.join' organizer=current_event.organizer.slug event=current_event.slug %}" class="header-tab join-video-link {% if '/onlinevideo' in path %}active{% endif %}">
                <i class="fa fa-video-camera"></i> <span class="mobile-hide-text">{{ label }}</span>
            </a>
        {% endif %}
    {% endif %}
{% endwith %}
