{% extends "orga/base.html" %}
{% load i18n %}
{% block content %}
    <ul class="nav nav-pills">
      <li class="nav-item">
          <a
            class="nav-link {% if "schedule.main" in url_name %}active{% endif %}"
            href="{{ request.event.orga_urls.schedule }}"
          >
            {% trans "Editor" %}
          </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if "schedule.export" in url_name %}active{% endif %}"
          href="{{ request.event.orga_urls.schedule_export }}"
        >
            {% trans "Export" %}
        </a>
      </li>
    </ul>

    {% block schedule_content %}
    {% endblock %}
{% endblock %}
