{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}
    {% trans "Schedule editor" %}
    {% if schedule_version %}
        – version {{ schedule_version }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% compress js %}
    <script type="text/javascript" src="{% static "vendored/moment-with-locales.js" %}"></script>
    {% if debug %}
    <script type="text/javascript" src="{% static "vendored/vue.js" %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static "vendored/vue.min.js" %}"></script>
    {% endif %}
    {% endcompress %}
{% endblock %}

{% block content %}
    {% if schedule_version %}
        <div class="alert alert-warning schedule-alert">
            {% trans "You're currently viewing a released schedule version. Released versions cannot be edited anymore." %}
        </div>
    {% endif %}
    <div class="schedule-header">
        <div id="schedule-choice">
            <div class="input-group">
                <form>
                    <select name="version">
                        <option value="">{% trans "Editor version" %}</option>
                        {% for schedule in request.event.schedules.all %}
                            {% if schedule.version %}
                                <option value="{{ schedule.version }}" {% if schedule.version == schedule_version %}selected{% endif %}>{{ schedule.version }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">{% trans "Go" %}</button>
                </form>
            </div>
        </div>
        {% if not schedule_version %}
            <div id="schedule-release">
                <form method="post" action="{% url "orga:schedule.release" event=request.event.slug %}">
                    <div class="input-group">
                        <input id="id_version" class="form-control" name="version" maxlength="200" placeholder="{% trans 'Release as version' %}" title="" type="text">
                        <button type="submit" class="btn btn-primary">{% trans "Release" %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <form method="post" action="{% url "orga:schedule.reset" event=request.event.slug %}?{{ request.GET.urlencode }}">
                <button type="submit" class="btn btn-secondary">{% trans "Edit this version" %}</button>
            </form>
        {% endif %}
    </div>
    <div id="fahrplan">
    </div>

    {% compress js %}
    <script type="text/javascript" src="{% static "orga/js/schedule.js" %}"></script>
    {% endcompress %}
{% endblock %}
