{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "Room" %}</legend>
        {% bootstrap_field form.name layout='event' %}
        {% bootstrap_field form.description layout='event' %}
        {% bootstrap_field form.speaker_info layout='event' %}
        {% bootstrap_field form.capacity addon_after='people' addon_after_class='input-group-append input-group-text' layout='event' %}
        {% bootstrap_field form.position layout='event' %}
        {% include "orga/submit_row.html" %}
    </form>
{% endblock %}
