#event-nav {
    .header-nav {
        border-color: darken($btn-primary-bg, 10%) !important;
        border: 1px solid;
        font-size: 16px;
        font-weight: normal;
        border-radius: 0;
    }
    .header-nav.active {
        background-color: $hover-button-color !important;
        color: #fff;
    }
    .navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .navigation-button {
            margin-left: auto;
        }
        a {
            pointer-events: auto;
        }
        a:hover, a:active {
            color: #fff;
            background-color: $hover-button-color !important;
        }
    }
}

.dashboard .widget-container.no-padding {
    padding: 0;
  }
