{% extends "control/base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

{% if validlink %}

{% if form.errors %}
<p>Your passwords didn't match, please enter them again.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change password">
</form>

{% else %}

The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.

{% endif %}

{% endblock %}

