{% extends 'eventyay_common/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{{ _('Account history') }}{% endblock title %}

{% block nav_top_header %}
    <a href="{% url 'eventyay_common:account' %}" class='dropdown-toggle'>
        <span class='fa-stack fa-lg'>
            <i class='fa fa-circle fa-stack-2x'></i>
            <i class='fa fa-user fa-stack-1x fa-inverse'></i>
        </span>
        <div class='context-indicator'>
            <span class='context-name'>{{ _('Account') }}</span>
        </div>
    </a>
{% endblock nav_top_header %}

{% block content %}
    <h1>{{ _('Account history') }}</h1>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class='panel-title'>
                {{ _('Account history') }}
            </h3>
        </div>
        {% include 'pretixcontrol/includes/logs.html' with obj=fakeobj %}
    </div>
    {% include 'pretixcontrol/pagination.html' %}
{% endblock content %}
