{% extends "orga/base.html" %}
{% load i18n %}
{% block content %}
    <h2>
        {% translate "Do you really want to delete this user?" %}
    </h2>
    <strong>{{ quotation_close }}{{ object.name }}{{ quotation_open }}</strong> – {{ object.text }}<p>
        <form method="post">
            {% csrf_token %}
            <div class="submit-group">
                <a href="/orga/admin/users/{{ object.code }}/" class="btn btn-lg btn-outline-info">
                    {{ phrases.base.back_button }}
                </a>
                <button type="submit" class="btn btn-lg btn-danger">
                    {{ phrases.base.delete_button }}
                </button>
            </div>
        </form>
{% endblock %}
