[project]
name = "eventyay"
dynamic = ["version"]
description = "the open source event solution"
readme = "README.rst"
requires-python = ">=3.11"
license = {file = "LICENSE"}
keywords = ["tickets", "events", "web", "shop", "ecommerce"]
authors = [ {name = "eventyay", email = "info@eventyay.com"}, ]
maintainers = [ {name = "eventyay", email = "info@eventyay.com"}, ]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: Other Audience",
  "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
  "Environment :: Web Environment",
  "License :: OSI Approved :: Apache License, Version 2.0",
  "Programming Language :: Python :: 3.11",
  "Framework :: Django :: 4.2",
]
dependencies = [
        'Django==4.2.*',
        'djangorestframework==3.15.*',
        'python-dateutil==2.9.*',
        'isoweek',
        'requests==2.31.*',
        'pytz',
        'django-bootstrap3==24.2',
        'django-formset-js-improved==0.5.0.3',
        'django-compressor==4.5',
        'django-hierarkey==1.2.*',
        'django-filter==24.2',
        'django-scopes==2.0.*',
        'django-localflavor==4.0',
        'reportlab==4.2.*',
        'Pillow==10.4.*',
        'pypdf==4.2.*',
        'django-libsass==0.9',
        'libsass==0.23.*',
        'django-otp==1.5.*',
        'webauthn==2.2.*',
        'django-formtools==2.5.1',
        "celery==5.4.*",
        'kombu==5.3.*',
        'django-statici18n==2.5.*',
        'css-inline==0.14.*',
        'BeautifulSoup4==4.12.*',
        'lxml',
        'static3==0.7.*',
        'dj-static',
        'csscompressor',
        'django-markup',
        'markdown==3.6',
        'bleach==5.0.*',
        'sentry-sdk==1.15.*',
        'babel',
        'paypalrestsdk==1.13.*',
        'pycparser==2.22',
        'django-redis==5.4.*',
        'redis==5.0.*',
        'fakeredis==2.23.*',
        'stripe==7.9.*',
        'chardet==5.2.*',
        'mt-940==4.30.*',
        'django-i18nfield==1.9.*,>=1.9.4',
        'psycopg2-binary==2.9.9',
        'tqdm==4.*',
        'vobject==0.9.*',
        'pycountry',
        'django-countries==7.5.*',
        'pyuca', # for better sorting of country names in django-countries
        'defusedcsv>=1.1.0',
        'vat_moss_forked==2020.3.20.0.11.0',
        'jsonschema',
        'django-hijack==3.5.*',
        'openpyxl==3.1.*',
        'django-oauth-toolkit==2.4.*',
        'oauthlib==3.2.*',
        'django-phonenumber-field==7.3.*',
        'phonenumberslite==8.13.*',
        'python-bidi==0.4.*',  # Support for Arabic in reportlab
        'arabic-reshaper==3.0.0',  # Support for Arabic in reportlab
        'packaging',
        'tlds>=2020041600',
        'text-unidecode==1.*',
        'protobuf==5.27.*',
        'cryptography>=3.4.2',
        'pycryptodome==3.20.*',
        'sepaxml==2.6.*',
        'geoip2==4.*',
        'paypalhttp==1.*',
        'eventyay-stripe @ git+https://your_token@github.com/fossasia/eventyay-tickets-stripe.git@master',
        'sendgrid==6.11.*',
        'importlib_metadata==8.*',
        'qrcode==7.4.*',
        'pretix-pages @ git+https://github.com/fossasia/eventyay-ticket-pages.git@master',
        'pretix-venueless @ git+https://github.com/fossasia/eventyay-ticket-video.git@master',
        'django-sso==3.0.2',
        'PyJWT~=2.8.0',
]

[project.optional-dependencies]
memcached = ["pylibmc"]
dev = [
            'django-debug-toolbar==4.0.*',
            'pycodestyle==2.10.*',
            'pyflakes==3.0.*',
            'flake8==7.1.*',
            'pep8-naming==0.14.*',
            'coveralls',
            'coverage',
            'pytest==8.2.*',
            'pytest-django==4.*',
            'pytest-xdist==3.6.*',
            'isort==5.13.*',
            'pytest-mock==3.14.*',
            'pytest-rerunfailures==14.*',
            'responses',
            'potypo',
            'freezegun',
            'pytest-cache',
            'pytest-cov',
            'pytest-sugar',
]

[project.entry-points."distutils.commands"]
build = "setup:CustomBuild"
build_ext = "setup:CustomBuildExt"


[build-system]
requires = [
  'setuptools',
  'setuptools-rust',
  'wheel',
  'importlib_metadata'
]

[project.urls]
homepage = "https://eventyay.com"
repository = "https://github.com/fossasia/eventyay-tickets.git"
documentation = "https://eventyay.com"
changelog = "https://eventyay.com"

[tool.setuptools]
include-package-data = true

[tool.setuptools.dynamic]
version = {attr = "pretix.__version__"}

[tool.setuptools.packages.find]
where = ["src"]
include = ["pretix*"]
namespaces = false
