amqp==5.2.0
asgiref==3.8.1
build==1.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorclass==2.2.2
Django==5.0.4
django-appconf==1.0.6
django-bootstrap3==24.2
django-compressor==4.4
django-countries==7.6.1
django-filter==24.2
django-formset-js==0.5.0
django-jquery-js==3.1.1
django-markup==1.8.1
django-otp==1.5.0
django-statici18n==2.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
idna==3.7
kombu==5.3.7
packaging==24.0
pip-tools==7.4.1
pip-upgrader==1.4.15
pipdeptree==2.19.1
pycountry==23.12.11
PyJWT==2.8.0
pyproject_hooks==1.1.0
pytz==2024.1
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
sqlparse==0.5.0
terminaltables==3.1.10
tomli==2.0.1
typing_extensions==4.11.0
urllib3==2.2.1
vine==5.1.0
