{% load i18n %}
{% load eventurl %}

{% if request.organizer.settings.customer_accounts %}
    {{ request.event.organizer.slug|json_script:"organizer_name" }}
    {{ request.event.slug|json_script:"event_slug" }}
    {{ 'popover-profile'|json_script:"popover_toggle" }}
    {{ base_path|json_script:"base_path" }}
    <nav class="loginstatus" aria-label="{% trans "customer account" %}">
        {% if request.customer %}
            <div class="navigation-button">
                <a target="_blank" class="header-nav btn btn-outline-success" data-toggle="popover-profile">
                    <i class="fa fa-user"></i> {{ request.customer.name|default:request.customer.email }}
                    <i class="fa fa-solid fa-caret-down"></i>
                </a>
            </div>
        {% else %}
            <a href="{% abseventurl request.organizer "presale:organizer.customer.login" %}?next={{ request.path|urlencode }}%3F{{ request.META.QUERY_STRING|urlencode }}">
                {% trans "Log in" %}</a>
        {% endif %}
    </nav>
{% endif %}
