{% load i18n %}
{% load eventurl %}
<div id="ajaxerr">
</div>
<div id="popupmodal" hidden aria-live="polite">
    <div class="modal-card">
        <div class="modal-card-icon">
            <i class="fa fa-window-restore big-icon" aria-hidden="true"></i>
        </div>
        <div class="modal-card-content">
            <div>
                <h3>
                    {% trans "Being processed in a new window." %}
                </h3>
                <p class="text">
                    {% trans "Re-launch new window." %}
                </p>
                <p>
                    <a href="" data-open-in-popup-window class="btn btn-default">
                        <span class="fa fa-external-link-square"></span>
                        {% trans "Open window again" %}
                    </a>
                </p>
                <p class="text">
                    {% trans "After completing the process in the new window, you can proceed here." %}
                </p>
            </div>
        </div>
    </div>
</div>
<div id="loadingmodal">
    <div class="modal-card">
        <div class="modal-card-icon">
            <i class="fa fa-cog big-rotating-icon" aria-hidden="true"></i>
        </div>
        <div class="modal-card-content">
            <h3></h3>
            <p class="text"></p>
            <p class="status">{% trans "If the process continues for an extended period, feel free to reach out to us." %}</p>
        </div>
    </div>
</div>
<div id="join-video-popupmodal" hidden aria-live="polite">
    <div class="modal-card join-online-video">
        <div class="modal-card-content-join">
            <div>
                <h3>
                    {% trans "This is a ticketed event. If you ordered a ticket as a guest user, you don't have an account but can still access the ticket using the secret link in your ticket confirmation email. On the tickets page there is also a link to join online sessions." %}
                </h3>
                <h3>
                    {% trans "As a ticket holder please also check your email for the unique link to join online sessions." %}
                </h3>
                <p class="text">
                    {% trans "Can't find your ticket?" %}
                    <a class="btn btn-link" href='/{{request.organizer.slug}}/{{event.slug}}/resend'>
                        {% trans "Resend the email" %}
                    </a>
                    {% trans "to receive it." %}
                </p>
                <p class="text">
                    {% trans "Want to order a ticket?" %}
                    <a class="btn btn-link" href='/{{request.organizer.slug}}/{{event.slug}}'>
                        {% trans "Get a ticket here" %}
                    </a>
                </p>
                <p class="text">
                    {% blocktrans with event_name=event_name %}
                        Want to create a {{ event_name }} account?
                    {% endblocktrans %}
                    <a class="btn btn-link" href='{% eventurl request.organizer "presale:organizer.customer.register" %}'>
                        {% trans "Sign up here" %}
                    </a>
                </p>
                <p class="text">
                    {% blocktrans with event_name=event_name %}
                        Already have a {{ event_name }} account?
                    {% endblocktrans %}
                    <a class="btn btn-link" href='{% eventurl request.organizer "presale:organizer.customer.login" %}'>
                        {% trans "Login here" %}
                    </a>
                </p>
            </div>
        </div>
        <div class="join-online-close">
            <button id="join-online-close-button" class="btn btn-default join-online-close-button">Close</button>
        </div>
    </div>
</div>
