{% load i18n %}
{% load eventurl %}
<div id="ajaxerr">
</div>
<div id="popupmodal" hidden aria-live="polite">
    <div class="modal-card">
        <div class="modal-card-icon">
            <i class="fa fa-window-restore big-icon" aria-hidden="true"></i>
        </div>
        <div class="modal-card-content">
            <div>
                <h3>
                    {% trans "We've started the requested process in a new window." %}
                </h3>
                <p class="text">
                    {% trans "If you do not see the new window, we can help you launch it again." %}
                </p>
                <p>
                    <a href="" data-open-in-popup-window class="btn btn-default">
                        <span class="fa fa-external-link-square"></span>
                        {% trans "Open window again" %}
                    </a>
                </p>
                <p class="text">
                    {% trans "Once the process in the new window has been completed, you can continue here." %}
                </p>
            </div>
        </div>
    </div>
</div>
<div id="loadingmodal">
    <div class="modal-card">
        <div class="modal-card-icon">
            <i class="fa fa-cog big-rotating-icon" aria-hidden="true"></i>
        </div>
        <div class="modal-card-content">
            <h3></h3>
            <p class="text"></p>
            <p class="status">{% trans "If this takes longer than a few minutes, please contact us." %}</p>
        </div>
    </div>
</div>
<div id="join-video-popupmodal" hidden aria-live="polite">
    <div class="modal-card">
        <div class="modal-card-content-join">
            <div>
                <h3>
                    {% trans "This is a ticketed event. Please check your email for your unique ticketed link to join." %}
                </h3>
                <p class="text">
                    {% trans "Lost your ticket?" %}
                    <a id="resend_link" class="btn btn-default" href='/{{request.organizer.slug}}/{{event.slug}}/resend'>
                        {% trans "Resend the email" %}
                    </a>
                    {% trans "to receive it here." %}
                </p>
                <p class="text">
                    {% trans "Haven’t got a ticket yet?" %}
                    <a id="login_link" class="btn btn-default" href='{% eventurl request.organizer "presale:organizer.customer.login" %}'>
                        {% trans "Register here" %}
                    </a>
                </p>
            </div>
        </div>
        <div class="join-online-close">
            <button id="join-online-close-button" class="btn btn-default join-online-close-button">Close</button>
        </div>
    </div>
</div>
