{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="form-signin" action="" method="post">
        <h3>{% trans "Hello!" %}</h3>
        <p>
            {% blocktrans trimmed with a_attr="href='https://eventyay.com'" %}
                This is a self-hosted installation of <a {{ a_attr }}>eventyay, your open source event solution.</a>.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                If you're looking to buy a ticket, you need to follow a direct link to an event or organizer profile.
            {% endblocktrans %}
        </p>
        <p>
            {% url 'control:index' as index_url %}
            {% blocktrans trimmed with a_attr="href="|add:index_url %}
                If you're looking to configure this installation, please <a {{ a_attr }}>head over here</a>.
            {% endblocktrans %}
        </p>
        {% if show_link_in_start_pages %}
            Please read below links for more information:
            {% for page in show_link_in_start_pages %}
                    <a href='{% url "page" slug=page.slug %}' title='{{ page.title|safe }}'>{{ page.title|safe }}</a>{% if not forloop.last %}, {% else %}.{% endif %}
            {% endfor %}
        {% endif %}
        <p style="margin-top: 20px">Enjoy!</p>
    </div>
{% endblock %}
