{% extends "orga/base.html" %}
{% load i18n %}
{% load rules %}
{% block extra_title %}{% translate "SSO settings" %} :: {% endblock extra_title %}
{% block content %}
    <h2>{% translate "SSO client settings" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="submit-group panel">
            <span>
              {% if sso_provider %}
                <a class="btn-outline-danger btn-lg" role="button" href='{% url "orga:admin.sso.delete" %}'>
                    {% translate "Delete key" %}
                </a>
              {% endif %}
            </span>
            <span>
                <button type="submit" class="btn-success btn-lg">
                    <i class="fa fa-check"></i>
                    {{ phrases.base.save }}
                </button>
            </span>
        </div>
    </form>
{% endblock content %}
