.bootstrap4-multi-input {
  margin: auto;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.labelless-password-input-form {
  margin-left: auto;
  margin-right: auto;

  .form-group {
    flex-direction: column;
  }

  input.password_strength,
  input.password_confirmation {
    height: 100%;
    display: block;
    width: 100%;
    flex-grow: 1;
  }
}
input.password_strength {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    border-bottom: 0;
    + .password-progress .password-progress-bar {
      border: #89d6b8 2px solid;
      border-top: 0;
    }
  }
}

#auth-form {
  flex-direction: row;
  .form-group {
    flex-direction: column;
  }
  .auth-form-block {
    margin: 12px;
    flex-grow: 1;
  }
}

.password-input-form,
.labelless-password-input-form {
  p.text-muted {
    font-size: 80%;
    padding-top: 2px;
    padding: 0;
    margin-bottom: 0;
    color: var(--color-text-lighter);
  }

  .password-progress {
    margin-top: 0 !important;

    .password-progress-bar {
      height: 4px;
      margin-bottom: 0 !important;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

.password_strength_info {
  margin-bottom: 0;
}

.submit-group {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: var(--color-grey-lightest);
  padding: 16px;
  margin-bottom: 16px;

  button {
    align-self: flex-end;

    i.fa {
      padding-right: 8px;
    }
  }
}
.wizard-row {
  display: flex;
  flex-direction: row-reverse;
}

.markdown-wrapper {
  max-height: 160px;
  textarea {
    max-height: 160px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .markdown-preview {
    border: 1px solid #ced4da;
    border-top: none;
    border-bottom-left-radius: var(--size-border-radius);
    border-bottom-right-radius: var(--size-border-radius);
    min-height: 160px;
    max-height: 160px;
    padding: 0.375rem 0.75rem;
    overflow-y: auto;
    width: auto;
    background: var(--color-bg);
    color: var(--color-text-input);
  }
}
.markdown-nav[role=tablist] {
    margin-bottom: 0;
    input[type=radio][role=tab] {
        & + label {
            line-height: 1.4;
        }
        &:checked + label {
            border: 1px solid var(--color-border);
            border-radius: var(--size-border-radius) var(--size-border-radius) 0 0;
            border-bottom: 1px solid white !important;
        }
    }
}

@media (max-width: 768px) {
  .submit-group {
    flex-direction: column;
    button,
    .btn {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
