.export-qrcode-image,
.qrcode-image {
  display: none;
  position: absolute;
  background: white;
  box-shadow: var(--shadow-light);
}
.export-qrcode:hover .export-qrcode-image,
.qrcode:hover .qrcode-image {
  display: block;
}

.copyable-text {
  cursor: pointer;
  &:hover {
    background: $gray-lightest;
    box-shadow: 0px 0px 4px 4px $gray-lightest;
  }
}

.mail-card .card-header {
  cursor: pointer;
}

.state-fragment {
  white-space: nowrap;
}

.logentry {
  display: flex;
  flex-direction: column;
  .time {
    color: var(--color-text-muted);
  }
  span i.fa {
    padding-right: 4px;
  }
}
