input.availabilities-editor-data {
  display: none !important;
}

.availability-form .form-group {
  flex-direction: column;
}
.fc .fc-timegrid-col-bg .fc-highlight {
  opacity: 0.7;
  background: rgb(70, 151, 201);
}
.availabilities-editor {
  max-width: 100%;
  tr:hover {
    background-color: inherit;
  }
}
.availabilities-tz-hint {
  text-align: right;
  color: var(--color-grey);
}

.fc-event.delete {
  background-color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
  &:before,
  &::before {
    font-family: ForkAwesome;
    content: "\f014";
    position: absolute;
    top: calc(50% - 1ex);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: white;
  }
}

.fc-day-grid-event.delete::before {
  font-size: 100%;
  top: 0;
}

table table {
  margin-bottom: 0;
}
