.avatar-form {
  display: flex;
  align-items: flex-start;

  .form-image-preview {
    margin-left: 6px;
  }

  .avatar-upload .form-group {
    display: block;

    input[type="checkbox"] {
      margin: 0 2px 0 12px;
    }

    input[type="file"] {
      display: inline-block;
      width: auto;
      margin-left: 2px;
    }
  }
}
