.dialog-anchor {
  cursor: pointer;
}
dialog {
  padding: 0;
  box-shadow: var(--shadow-dialog);
  border-radius: 0.27rem;
  opacity: 0;
  max-width: 70vw;

  &[open] {
    opacity: 1;
    animation: fade-in 0.3s ease-out;
    /* dialogs are supposed to auto-centre on the page
     * and I can't be arsed to debug why they aren't */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
  }

  &,
  &:focus-visible,
  a:focus-visible,
  button:focus-visible {
    border: none;
    outline: none;
  }
  &::backdrop {
    background-color: rgb(0 0 0 / 0.3);
  }

  /* Special treatment for dialogs that are just there to show an alert box */
  .alert {
    margin: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
