.resource-option-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .resource-option-delete {
    float: right;
    flex-grow: 0;
  }

  .form-group {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;

    .bootstrap-multi-input {
      flex-grow: 1;
    }
    label .optional {
      display: none;
    }

    input {
      height: 2rem;
    }
    input[type="file"] + small {
      display: none;
    }
  }
}
hr + .resource-option-row {
  margin-top: -12px;
}
