# prod
Django==3.0.*
channels==2.4.*
channels_redis==2.4.*
djangorestframework==3.11.*
django-extensions==2.2.5

aiofile
aiohttp
lxml

pyjwt
pytz

# deploy
psycopg2-binary
gunicorn
uvicorn

# dev
black
isort
flake8
pytest
pytest-django
pytest-asyncio
pytest-cov
aioresponses
