# prod
aiofile~=3.0.0
aiohttp~=3.7.0
beautifulsoup4==4.9.*
celery~=4.4.0
channels==2.4.*
channels_redis==2.4.*
Django==3.0.*
django-cors-headers==3.4.*
django-extensions==2.2.5
djangorestframework==3.11.*
emoji~=0.6.0
lxml~=4.5.0
matplotlib~=3.3.0
numpy~=1.19.0
orjson~=3.3.0
pdfrw==0.4
pyjwt~=1.7.0
python-dateutil~=2.8.0
pytz
redis
reportlab==3.5.*
requests~=2.24.0
sentry-sdk~=0.16.0
tqdm~=4.48.0
websockets~=8.0

# deploy
psycopg2-binary
gunicorn
uvicorn[standard]==0.12.*  # pinned due to https://github.com/getsentry/sentry-python/issues/947

# dev
black
isort==4.*
flake8
pytest
pytest-django
pytest-asyncio
pytest-cov
aioresponses
yappi
