# prod
aiofile==3.9.*
aiohttp==3.11.18
beautifulsoup4==4.12.*
celery==5.4.*
channels==4.2.*
channels_redis==4.2.*
Django==4.2.*
django-cors-headers==4.7.*
django-decorator-include==3.2
django-extensions==3.2.*
django-formset-js-improved
django-multifactor==0.7.4
djangorestframework==3.16.*
emoji==2.14.*
icalendar==6.1.*
lxml==5.3.*
matplotlib==3.9.*
numpy==2.2.*
orjson==3.10.*
openpyxl~=3.1.4
Pillow==11.0.*
pandas==2.2.*
pdf2image==1.17.*
pdfrw==0.4
pyjwt==2.10.*
python-dateutil==2.9.*
pytz
redis==5.2.1
reportlab==4.3.*
requests==2.32.*
sentry-sdk==2.28.*
tqdm==4.67.*
websockets==15.*

# deploy
psycopg2==2.9.10
gunicorn==23.0.0
uvicorn[standard]==0.34.2

# dev
daphne==4.1.*
black==24.10.0
isort==6.0.1
flake8==7.2.0
pytest==8.3.5
pytest-django==4.11.1
pytest-asyncio==0.26.0
pytest-cov==6.0.0
pytest-rerunfailures==15.0
aioresponses==0.7.8
yappi==1.6.10
