{% extends "orga/base.html" %}

{% load compress %}
{% load i18n %}
{% load formset_tags %}
{% load static %}

{% block extra_title %}{% translate "Assign reviewers" %} :: {% endblock extra_title %}

{% block content %}
    <h2>{% translate "Assign reviewers" %}</h2>
    <p>
        {% blocktranslate trimmed with href="#" %}
            You can upload your reviewer assignments from a JSON file here. You can either have the proposal codes (e.g. “UX3N1”) as keys, and user identification as values, or the other way around. User identification can be either the reviewer’s email address or their user code (e.g. “34KJN”). You can find an example file <a href="{{ href }}">here</a>.
        {% endblocktranslate %}
    </p>

    {% translate "Import" as button_label %}
    {% include "orga/includes/base_form.html" with submit_label=button_label %}

{% endblock content %}
