{% extends "orga/base.html" %}
{% load i18n %}
{% block headline %}
    {% if submission %}
        {% blocktrans with title=submission.title trimmed %}
            Reviews for submission »{{ title }}«
        {% endblocktrans %}
        ({{ submission.display_speaker_names }})
        <a href="{{ submission.orga_urls.base }}">
            <span class="fa fa-external-link"></span>
        </a>
    {% else %}
        {% trans "Reviews" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% block review_content %}
    {% endblock %}
{% endblock %}
