{% extends "orga/submission/review_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block review_content %}

    <div class="alert alert-info">{% blocktrans %}
        Please give a fair review on why you'd like to see this submission at the conference,
        or why you think it would not be a good fit.
    {% endblocktrans %}</div>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row">
            <div class="ml-auto col-md-9">
                <button type="submit" class="btn btn-primary" name="show_next" value="1">{% trans "Save and next" %}</button>
                <button type="submit" class="btn btn-secondary">{% trans "Save" %}</button>
            </div>
        </div>
    </form>

{% endblock %}

