{% extends "orga/submission/review_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block review_content %}

<legend>
    {% blocktrans with name=form.instance.user.get_display_name trimmed %}
        Review by {{ name }}
    {% endblocktrans %}
</legend>

<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}

    {% if form.instance.user == request.user %}
    <div class="col-md-9 offset-3">
        <a class="btn btn-primary" href="{{ form.instance.urls.edit }}">{% trans "Edit" %}</a>
    </div>
    {% endif %}
</form>

{% endblock %}


