{% extends "eventyay_common/base.html" %}
{% load i18n %}
{% load static %}
{% load urlreplace %}
{% load bootstrap3 %}
{% block title %}{% trans "Events management" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>{% trans "Events" %}</h1>
    {% if events|length == 0 and not filter_form.filtered %}
        {% url 'eventyay_common:events.add' as create_event_url %}
        {% trans "No events yet" as empty_title %}
        {% trans "You currently do not have access to any events. Create one to get started." as empty_description %}
        {% trans "Create Event" as empty_primary_label %}
        
        {% if event_series_creation_enabled %}
            {% trans "Create Event Series" as series_label %}
        {% endif %}
        
        {% if meetup_creation_enabled %}
            {% trans "Create Meetup" as meetup_label %}
        {% endif %}
        
        {% include "eventyay_common/includes/personal_empty_state.html" with icon="calendar" title=empty_title description=empty_description primary_url=create_event_url primary_label=empty_primary_label secondary_url=create_event_url|add:'?series=1' secondary_label=series_label tertiary_url=create_event_url|add:'?meetup=1' tertiary_label=meetup_label %}
    {% else %}
        <div class="advanced-filter-search" data-advanced-filter-search>
            <form class="filter-form advanced-filter-search-form" action="" method="get">
                <div class="advanced-filter-search-bar">
                    <div class="input-group advanced-filter-search-query-group">
                        <input id="id_query" type="text" name="query" class="form-control" placeholder="{% trans 'Search events…' %}" aria-label="{% trans 'Search events…' %}" value="{{ filter_form.query.value|default_if_none:'' }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="fa fa-search" aria-hidden="true"></span>
                                {% trans "Search" %}
                            </button>
                        </span>
                    </div>
                    <div class="advanced-filter-field advanced-filter-field--inline">
                        {% bootstrap_field filter_form.status layout='inline' %}
                    </div>
                    <div class="advanced-filter-field advanced-filter-field--inline">
                        {% bootstrap_field filter_form.organizer layout='inline' %}
                    </div>
                    <div class="advanced-filter-search-actions">
                        <button class="btn btn-primary" type="submit">
                            <span class="fa fa-filter" aria-hidden="true"></span>
                            {% trans "Filter" %}
                        </button>
                        <a href="{{ request.path }}" class="btn btn-default btn-clear-filter" aria-label="{% trans 'Clear filters' %}" title="{% trans 'Clear filters' %}">
                            <span class="fa fa-eraser" aria-hidden="true"></span>
                            <span class="sr-only">{% trans "Clear filters" %}</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div data-ajax-results-region>
            <p>
                <a href='{% url "eventyay_common:events.add" %}' class="btn btn-default">
                    <span class="fa fa-plus"></span>
                    {% trans "Create Event" %}
                </a>
                {% if event_series_creation_enabled %}
                <a href='{% url "eventyay_common:events.add" %}?series=1' class="btn btn-default">
                    {% include "eventyay_common/includes/icon_calendar_series.html" %}
                    {% trans "Create Event Series" %}
                </a>
                {% endif %}
                {% if meetup_creation_enabled %}
                <a href='{% url "eventyay_common:events.add" %}?meetup=1' class="btn btn-default">
                    <span class="fa fa-users"></span>
                    {% trans "Create Meetup" %}
                </a>
                {% endif %}
            </p>
            <table class="table table-condensed table-hover events-table">
                <thead>
                <tr>
                <th>
                    {% trans "Event name" %}
                </th>
                <th>
                    {% trans "Short form" %}
                </th>
                <th>
                    {% trans "Organizer" %}
                    <a href="?{% url_replace request 'ordering' '-organizer' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'ordering' 'organizer' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th>
                    {% trans "Start date" %}
                    <a href="?{% url_replace request 'ordering' '-date_from' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'ordering' 'date_from' %}"><i class="fa fa-caret-up"></i></a>
                    /
                    {% trans "End date" %}
                    <a href="?{% url_replace request 'ordering' '-date_to' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'ordering' 'date_to' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th>
                    {% trans "Paid tickets per quota" %}
                    <a href="?{% url_replace request 'ordering' '-total_quota' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'ordering' 'total_quota' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th>
                    {% trans "Shop" %}
                    <a href="?{% url_replace request 'ordering' '-live' %}"><i class="fa fa-caret-down"></i></a>
                    <a href="?{% url_replace request 'ordering' 'live' %}"><i class="fa fa-caret-up"></i></a>
                </th>
                <th class="text-right flip">
                    {% trans "Actions" %}
                </th>
                </tr>
                </thead>
                <tbody>
                {% for e in events %}
                    <tr>
                    <td class="event-name-col" data-label="{% trans 'Event name' %}">
                        <strong><a href='{% url "eventyay_common:event.index" organizer=e.organizer.slug event=e.slug %}'>{{ e.name }}</a></strong>
                    </td>
                    <td data-label="{% trans 'Short form' %}">{{ e.slug }}</td>
                    <td data-label="{% trans 'Organizer' %}">{{ e.organizer }}</td>
                    <td class="event-date-col" data-label="{% trans 'Date' %}">
                        {% if e.has_subevents %}
                            {{ e.min_from|default_if_none:""|date:"SHORT_DATETIME_FORMAT" }}
                        {% else %}
                            {{ e.get_short_date_from_display }}
                        {% endif %}
                        {% if e.has_subevents %}
                            <span class="label label-default">{% trans "Series" %}</span>
                        {% endif %}
                        {% if e.settings.show_date_to and e.date_to %}
                            –<br>
                            {% if e.has_subevents %}
                                {{ e.max_fromto|default_if_none:e.max_from|default_if_none:e.max_to|default_if_none:""|date:"SHORT_DATETIME_FORMAT" }}
                            {% else %}
                                {{ e.get_short_date_to_display }}
                            {% endif %}
                        {% endif %}
                        {% if e.settings.timezone != request.timezone %}
                            <span class="fa fa-globe text-muted" data-toggle="tooltip" title="{{ e.timezone }}"></span>
                        {% endif %}
                    </td>
                    <td data-label="{% trans 'Paid tickets' %}">
                        {% for q in e.first_quotas|slice:":3" %}
                            {% include "pretixcontrol/fragment_quota_box_paid.html" with quota=q %}
                        {% endfor %}
                        {% if e.first_quotas|length > 3 %}
                            <a href="{% url 'control:event.products.quotas' organizer=e.organizer.slug event=e.slug %}"
                               class="quotabox-more" data-toggle="tooltip" title="{% trans 'More quotas' %}"
                               aria-label="{% trans 'More quotas' %}" data-placement="top">
                                &middot;&middot;&middot;
                            </a>
                        {% endif %}
                    </td>
                    <td data-label="{% trans 'Shop' %}" class="events-table__cell--no-border">
                        {% if not e.live %}
                            <span class="label label-danger">{% trans "Shop disabled" %}</span>
                        {% elif e.presale_has_ended %}
                            <span class="label label-warning">{% trans "Presale over" %}</span>
                        {% elif not e.presale_is_running %}
                            <span class="label label-warning">{% trans "Presale not started" %}</span>
                        {% else %}
                            <span class="label label-success">{% trans "On sale" %}</span>
                        {% endif %}
                    </td>
                    <td class="text-right flip">
                        <a href='{% url "eventyay_common:event.create_access_to_video" organizer=e.organizer.slug event=e.slug %}'
                           class="btn btn-sm btn-default" title="{% trans "Enable video access" %}"
                           data-toggle="tooltip">
                            <span class="fa fa-video-camera"></span>
                        </a>
                        <a href='{% url "eventyay_common:event.update" organizer=e.organizer.slug event=e.slug %}'
                           class="btn btn-sm btn-default" title="{% trans "Edit" %}"
                           data-toggle="tooltip">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "pretixcontrol/pagination.html" %}
        </div>
    {% endif %}
{% endblock %}
