{% load i18n %}
{% load event_tags %}
{% is_meetup request.event as is_meetup_flag %}
{% if request.event.testmode %}
    {% if request.event.live or is_organiser %}
        {% if request.sales_channel.testmode_supported %}
            <div class="alert alert-warning alert-margin">
                <strong>
                    {% if is_meetup_flag %}
                        {% trans "This meetup is currently in test mode. Registrations are for testing purposes." %}
                    {% else %}
                        {% trans "This ticket shop is currently in test mode. Please do not perform any real purchases as your order might be deleted without notice." %}
                    {% endif %}
                </strong>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <strong>
                    {% if is_meetup_flag %}
                        {% trans "Registrations made through this sales channel cannot be deleted - even if the meetup is in test mode!" %}
                    {% else %}
                        {% trans "Orders made through this sales channel cannot be deleted - even if the ticket shop is in test mode!" %}
                    {% endif %}
                </strong>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
