.talk-title small {
  font-size: 18px;
  display: block;
}

.talk {
  display: flex;
  flex-direction: row;

  .talk-content {
    padding: 0 18px;
    width: 100%;

    .talk-slots {
      list-style: none;
    }

    .abstract {
      margin-top: var(--size-spacer);
      margin-bottom: var(--size-spacer);
      border: 0;
      font-weight: bold;
    }
    .talk-image {
      float: right;
      max-width: 380px;
      padding: 24px;
      img {
        max-width: 100%;
      }
    }
  }
  &.feedback-list .feedback-box {
    margin: 20px;

    .quote {
      font-size: 1.5rem;
      color: rgb(0 0 0 / 0.56);
      border: var(--color-border) 1px solid;
      border-radius: var(--size-border-radius);
      padding: 20px;
    }

    .feedback-text {
      padding-left: 40px;
    }
  }
}

.speaker-container {
  display: flex;
  flex-direction: column;

  .speaker-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .speaker-bio {
      flex: 1;
    }
  }

  hr {
    max-width: 95%;
  }

  a:hover {
    text-decoration: none !important;
  }
}
