{% load i18n %}
{% load money %}
{% load bootstrap3 %}
{% load eventurl %}
{% load rich_text %}

<div class="card">
    <label class="accordion-radio">
        <div class="card-header">
            <h4 class="card-title">
                <input type="radio" name="customer_mode" value="login"
                        data-parent="#customer"
                        {% if selected == "login" %}checked="checked"{% endif %}
                        data-toggle="radiocollapse" data-target="#customer_login"/>
                <strong>
                    {% trans "Log in with a customer account" %}
                </strong>
            </h4>
        </div>
    </label>
    <div id="customer_login"
            class="panel-collapse collapsed {% if selected == "login" %}in{% endif %}">
        <div class="card-body form-horizontal">
            {% if customer %}
                <p>
                    {% blocktrans trimmed with org=request.organizer.name %}
                        You are currently logged in with the following credentials.
                    {% endblocktrans %}
                </p>
                <div class="info-list">
                    <div class="info-item">
                        <span class="info-label">{% trans "Email" %}</span>
                        <span class="info-value">#{{ customer.email }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">{% trans "Name" %}</span>
                        <span class="info-value">{{ customer.name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">{% trans "Customer ID" %}</span>
                        <span class="info-value">{{ customer.identifier }}</span>
                    </div>
                </div>
            {% else %}
                <p>
                    {% blocktrans trimmed with org=request.organizer.name %}
                        If you created a customer account at {{ org }} before, you can log in now and connect
                        your order to your account. This will allow you to see all your orders in one place
                        and access them at any time.
                    {% endblocktrans %}
                </p>
                {% if request.organizer.settings.customer_accounts_native %}
                    {% bootstrap_form login_form layout="checkout" %}
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <a
                                    href="{% abseventurl request.organizer "presale:organizer.customer.password.reset" %}"
                                    target="_blank">
                                {% trans "Reset password" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        {% for provider in request.organizer.sso_providers.all %}
                            {% if provider.is_active %}
                                <a href="{% eventurl request.organizer "presale:organizer.customer.login" provider=provider.pk %}?next={% if request.event_domain %}{{ request.scheme }}://{{ request.get_host }}{% endif %}{{ request.get_full_path|urlencode }}"
                                   class="btn btn-primary btn-lg btn-block" data-open-in-popup-window>
                                    {{ provider.button_label }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <input type="hidden" name="login-sso-data" id="login_sso_data">
            {% endif %}
        </div>
    </div>
</div>
