{% load i18n %}
{% load money %}
{% load bootstrap3 %}
{% load eventurl %}
{% load rich_text %}
<div class="card">
    <label class="accordion-radio">
        <div class="card-header">
            <h4 class="card-title">
                <input type="radio" name="customer_mode" value="guest"
                        data-parent="#customer"
                        {% if selected == "guest" %}checked="checked"{% endif %}
                        data-toggle="radiocollapse" data-target="#customer_guest"/>
                <strong>
                    {% trans "Continue as a guest" %}
                </strong>
            </h4>
        </div>
    </label>
    <div id="customer_guest"
            class="panel-collapse collapsed {% if selected == "guest" %}in{% endif %}">
        <div class="card-body form-horizontal">
            <p>
                {% blocktrans trimmed %}
                    Creating an account is optional. If you choose to proceed as a guest,
                    you'll still be able to view your order details and status at any time
                    using the secret link we send you via email after your order is completed.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
