{% load i18n %}
{% load money %}
{% load bootstrap3 %}
{% load eventurl %}
{% load rich_text %}
<div class="card">
    <label class="accordion-radio">
        <div class="card-header">
            <h4 class="card-title">
                <input type="radio" name="customer_mode" value="register"
                        data-parent="#customer"
                        {% if selected == "register" %}checked="checked"{% endif %}
                        data-toggle="radiocollapse" data-target="#customer_register"/>
                <strong>
                    {% trans "Create a new customer account" %}
                </strong>
            </h4>
        </div>
    </label>
    <div id="customer_register"
            class="panel-collapse collapsed {% if selected == "register" %}in{% endif %}">
        <div class="card-body form-horizontal">
            {% bootstrap_form register_form layout="checkout" %}
            <p>
                {% blocktrans trimmed with org=request.organizer.name %}
                    You'll receive an email with a link to activate your account and set a password, 
                    allowing you to use the account for future orders at {{ org }}. 
                    You can still proceed with this purchase even if you haven't received the email yet.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
