{% load i18n %}
<div class="navigation-button">
    {% if request.event %}
        {% if not is_meetup and not is_meetup_event %}
            <a href='{% url "eventyay_common:event.index" organizer=request.event.organizer.slug event=request.event.slug %}' class="header-nav btn btn-outline-success">
                <i class="fa fa-home"></i> {% translate "Home" %}
            </a>
            {% if has_ticket_access %}
                <a href='{% url "control:event.index" organizer=request.event.organizer.slug event=request.event.slug %}' class="header-nav btn btn-outline-success">
                    <i class="fa fa-ticket"></i> {% translate "Tickets" %}
                </a>
            {% endif %}
            <a href="{% url 'orga:event.dashboard' organizer=request.event.organizer.slug event=request.event.slug %}" class="header-nav btn btn-outline-success active">
                <i class="fa fa-group"></i> {% translate "Talks" %}
            </a>
        {% endif %}
        {% if has_video_access %}
            <a class="header-nav btn btn-outline-success"
               href='{% url "eventyay_common:event.create_access_to_video" organizer=request.event.organizer.slug event=request.event.slug %}'
               title="{% translate 'Access videos related to this event' %}">
                <i class="fa fa-video-camera"></i> {% translate "Videos" %}
            </a>
        {% endif %}
    {% endif %}
</div>
