{% extends "pretixcontrol/global_settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block inner %}
{% include "pretixcontrol/global_settings_tabs.html" %}
<div class="tab-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if active_tab == 'basics' %}
                    {% trans "Basic Settings" %}
                {% elif active_tab == 'localization' %}
                    {% trans "Localization Settings" %}
                {% elif active_tab == 'email' %}
                    {% trans "Email Settings" %}
                {% elif active_tab == 'payment_gateways' %}
                    {% trans "Payment Gateway Settings" %}
                {% elif active_tab == 'ticket_fees' %}
                    {% trans "Ticket Fee Settings" %}
                {% elif active_tab == 'billing_validation' %}
                    {% trans "Billing Validation Settings" %} 
                {% elif active_tab == 'maps' %}
                    {% trans "Map Settings" %}
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form_errors form %}

                    {% for field in form %}
                        {% bootstrap_field field layout='control' %}
                    {% endfor %}

                    <div class="form-group submit-group">
                        <button type="submit" class="btn btn-primary btn-save">
                            {% trans "Save" %}
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        // Show/hide email vendor specific fields
        if ($('input[name="email_vendor"]').length) {
            $('input[name="email_vendor"]').change(function() {
                var selectedVendor = $('input[name="email_vendor"]:checked').val();
                if (selectedVendor == 'sendgrid') {
                    $('.field-send_grid_api_key').show();
                    $('.field-smtp_host, .field-smtp_port, .field-smtp_username, .field-smtp_password, .field-smtp_use_tls, .field-smtp_use_ssl').hide();
                } else {
                    $('.field-send_grid_api_key').hide();
                    $('.field-smtp_host, .field-smtp_port, .field-smtp_username, .field-smtp_password, .field-smtp_use_tls, .field-smtp_use_ssl').show();
                }
            }).trigger('change');
        }
    });
</script>
{% endblock %}
