{% extends "pretixcontrol/global_settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner %}
    <fieldset>
        <legend>{% trans "Update check results" %}</legend>
        {% if not gs.settings.update_check_perform %}
            <div class="alert alert-warning">
                {% trans "Update checks are disabled." %}
            </div>
        {% elif not gs.settings.update_check_last %}
            <div class="alert alert-info">
                {% trans "No update check has been performed yet since the last update of this installation. Update checks are performed on a daily basis if your cronjob is set up properly." %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <button type="submit" name="trigger" value="1" class="btn btn-default">
                        {% trans "Check for updates now" %}
                    </button>
                </p>
            </form>
        {% elif "error" in gs.settings.update_check_result %}
            <div class="alert alert-danger">
                {% trans "The last update check was not successful." %}
                {% if gs.settings.update_check_result.error == "http_error" %}
                    {% trans "The pretix.eu server returned an error code." %}
                {% elif gs.settings.update_check_result.error == "unavailable" %}
                    {% trans "The pretix.eu server could not be reached." %}
                {% elif gs.settings.update_check_result.error == "development" %}
                    {% trans "This installation appears to be a development installation." %}
                {% endif %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <button type="submit" name="trigger" value="1" class="btn btn-default">
                        {% trans "Check for updates now" %}
                    </button>
                </p>
            </form>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    {% blocktrans trimmed with date=gs.settings.update_check_last|date:"SHORT_DATETIME_FORMAT" %}
                        Last updated: {{ date }}
                    {% endblocktrans %}
                    <button type="submit" name="trigger" value="1" class="btn btn-default btn-xs">
                        {% trans "Check for updates now" %}
                    </button>
                </p>
            </form>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>{% trans "Component" %}</th>
                        <th>{% trans "Installed version" %}</th>
                        <th>{% trans "Latest version" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in tbl %}
                    <tr class="{% if row.3 %}danger{% elif row.2 == "?" %}warning{% else %}success{% endif %}">
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </fieldset>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Update check settings" %}</legend>
            {% bootstrap_form_errors form %}
            {% bootstrap_form form layout='horizontal' %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>

    <h1>{% translate "Administrator information" %}</h1>

    {% if settings.DEBUG %}
        <div class="alert alert-danger"><span></span><span>
            {% blocktranslate trimmed %}
                You are running {{site_name}} in development mode. Please <strong>STOP</strong>
                and set the DEBUG variable to False if this page is in any way reachable
                from the internet.
            {% endblocktranslate %}
        </span>
        </div>
    {% endif %}

    <p>
        {% translate "Your pretalx version is:" %} <strong>{{ pretalx_version|copyable }}</strong>.
        {% blocktranslate trimmed with url="/orga/admin/update/" %}
            You can check for updates <a href="{{ url }}">here</a>.
        {% endblocktranslate %}
    </p>

    <h2>{% translate "Settings" %}</h2>

    <p>
        {% if settings.CONFIG_FILES %}
            {% translate "Settings have been loaded from:" %}
            {% for config_file in settings.CONFIG_FILES %}
                <code>{{ config_file|copyable }}</code>{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% else %}
            {% translate "No settings files were found, all settings are either set to their default value or have been read from environment variables." %}
        {% endif %}
    </p>
    <ul>
        <li>{% translate "Database" %}
            <ul>
                <li>{% translate "Driver" %}: <code>{{ settings.DATABASES.default.ENGINE|copyable }}</code></li>
                <li>{% translate "Name" %}: <code>{{ settings.DATABASES.default.NAME|copyable }}</code></li>
            </ul>
        </li>
        <li>{% translate "Files" %}
            <ul>
                <li>{% translate "Log" %}: <code>{{ settings.LOG_DIR|copyable }}</code></li>
                <li>{% translate "Static files" %}: <code>{{ settings.STATIC_ROOT|copyable }}</code></li>
                <li>{% translate "Media files" %}: <code>{{ settings.MEDIA_ROOT|copyable }}</code></li>
            </ul>
        </li>
        <li>{% translate "Mails" %}
            <ul>
                <li>{% translate "Host" %}: <code>{{ settings.EMAIL_HOST|copyable }}</code></li>
                <li>{% translate "Port" %}: <code>{{ settings.EMAIL_PORT|copyable }}</code></li>
                <li>{% translate "User" %}: <code>{{ settings.EMAIL_HOST_USER|copyable }}</code></li>
                <li>{% translate "Password" %}: {% if settings.EMAIL_HOST_PASSWORD %}{% translate "An email password has been set." %}{% else %}{% translate "No email password has been set." %}{% endif %}</li>
            </ul>
        </li>
    </ul>
    <h2>{% translate "System" %}</h2>
    <ul>
        <li>{% translate "Executable" %}: <code>{{ executable|copyable }}</code></li>
        <li>{% translate "Plugins" %}: {% if settings.PLUGINS %}<ul>{% for plugin in settings.PLUGINS %}<li>{{ plugin|copyable }}</li>{% endfor %}</ul>{% else %}–{% endif %}</li>
        <li>{% if settings.ADMINS %}{% translate "On errors, emails will be sent to:" %}
            {% for admin in settings.ADMINS %}
                <code>{{ admin.0|copyable }}</code>{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% else %}{% translate "On errors, no emails will be sent." %}{% endif %}
        </li>
    </ul>

    <h3 class="mt-4">redis</h3>
    {% if not settings.HAS_REDIS %}
        {% translate "No redis server has been configured." %}
    {% else %}
        {% translate "Redis is used as cache backend:" %} <code>{{ settings.CACHES.redis.LOCATION|copyable }}</code>
    {% endif %}

    <h3 class="mt-4">Celery</h3>
    {% if not settings.HAS_CELERY %}
        {% translate "No celery workers have been configured." %}
    {% else %}
        <ul>
            <li>{% translate "Broker" %}: <code>{{ settings.CELERY_BROKER_URL|copyable }}</code></li>
            <li>{% translate "Backend" %}: <code>{{ settings.CELERY_RESULT_BACKEND|copyable }}</code></li>
            <li>{% translate "Current queue length" %}: <strong>{{ queue_length }}</strong></li>
        </ul>
    {% endif %}

   
    <!-- Reference for adding the administrator information that should be displayed on the global settings of the eventyay-tickets  -->




{% endblock %}
