{% extends "pretixcontrol/global_settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner %}
<h2>{% translate "Settings" %}</h2>

<p>
    {% if settings.CONFIG_FILES %}
        {% translate "Settings have been loaded from:" %}
        {% for config_file in settings.CONFIG_FILES %}
            <code>{{ config_file }}</code>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% else %}
        {% translate "No settings files were found, all settings are either set to their default value or have been read from environment variables." %}
    {% endif %}
</p>
<ul>
    <li>{% translate "Database" %}
        <ul>
            <li>{% translate "Driver" %}: <code>{{ settings.DATABASES.default.ENGINE }}</code></li>
            <li>{% translate "Name" %}: <code>{{ settings.DATABASES.default.NAME }}</code></li>
        </ul>
    </li>
    <li>{% translate "Files" %}
        <ul>
            <li>{% translate "Log" %}: <code>{{ settings.LOG_DIR }}</code></li>
            <li>{% translate "Static files" %}: <code>{{ settings.STATIC_ROOT}}</code></li>
            <li>{% translate "Media files" %}: <code>{{ settings.MEDIA_ROOT }}</code></li>
        </ul>
    </li>
    <li>{% translate "Mails" %}
        <ul>
            <li>{% translate "Host" %}: <code>{{ settings.EMAIL_HOST }}</code></li>
            <li>{% translate "Port" %}: <code>{{ settings.EMAIL_PORT}}</code></li>
            <li>{% translate "User" %}: <code>{{ settings.EMAIL_HOST_USER }}</code></li>
            <li>{% translate "Password" %}: {% if settings.EMAIL_HOST_PASSWORD %}{% translate "An email password has been set." %}{% else %}{% translate "No email password has been set." %}{% endif %}</li>
        </ul>
    </li>
</ul>
<h2>{% translate "System" %}</h2>
    <ul>
        <li>{% translate "Plugins" %}: {% if settings.PLUGINS %}<ul>{% for plugin in settings.PLUGINS %}<li>{{ plugin }}</li>{% endfor %}</ul>{% else %}–{% endif %}</li>
        <li>{% if settings.ADMINS %}{% translate "On errors, emails will be sent to:" %}
            {% for admin in settings.ADMINS %}
                <code>{{ admin.0 }}</code>{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% else %}{% translate "On errors, no emails will be sent." %}{% endif %}
        </li>
    </ul>

    
<!-- Reference for adding the administrator information that should be displayed on the global settings of the eventyay-tickets  -->

<h2 class="mt-4">{% translate "Links" %}</h2>
<ul>
    <li><a target="_blank" rel="noopener" href="https://eventyay.com">{% translate "Checkout Our website" %}</a></li>
    <li><a target="_blank" rel="noopener" href="https://eventyay.com">{% translate "Eventyay documentation" %}</a>
        <ul>
            <li><a target="_blank" rel="noopener" href="https://docs.pretalx.org/en/latest/administrator/configure.html">{% translate "Configuration reference" %}</a></li>
            <li><a target="_blank" rel="noopener" href="https://docs.pretalx.org/en/latest/administrator/installation.html">{% translate "Installation guide" %}</a></li>
            <li><a target="_blank" rel="noopener" href="https://docs.pretalx.org/en/latest/administrator/maintenance.html">{% translate "Upgrade/maintenance guide" %}</a></li>
        </ul>
    </li>
    <li><a target="_blank" rel="noopener" href="https://docs.pretalx.org/en/latest/changelog.html">{% translate "Release notes" %}</a></li>
    <li><a target="_blank" rel="noopener" href="https://blog.eventyay.com/">{% translate "Eventyay-Talk blogs" %}</a></li>
</ul>

{% endblock %}