{% load i18n %}
<div class="tabbed-nav">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if active_tab == 'basics' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.basics' %}">
                {% trans "Basics" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'localization' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.localization' %}">
                {% trans "Localization" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'email' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.email' %}">
                {% trans "Email" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'payment_gateways' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.payment_gateways' %}">
                {% trans "Payment Gateways" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'ticket_fees' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.ticket_fees' %}">
                {% trans "Ticket Fees" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'billing_validation' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.billing_validation' %}">
                {% trans "Billing Validation" %}
            </a>
        </li>
        <li role="presentation" {% if active_tab == 'maps' %}class="active"{% endif %}>
            <a href="{% url 'control:admin.global.settings.maps' %}">
                {% trans "Maps" %}
            </a>
        </li>
    </ul>
</div>
