{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} :: pretalx</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "orga/scss/auth.scss" %}"/>
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1C4A3B">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static "common/img/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "common/img/favicon-16x16.png" %}">
    {% compress js %}
        <script type="text/javascript" src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    {% endcompress %}
</head>
<body>
<div id="wrapper">
    <img src="{% static "common/img/logo_white.svg" %}" class="logo">
    {% if messages %}
        {% for message in messages %}
            <div class="card card-inverse card-{{ message.tags }} mb-3 text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card card-login">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
