{% extends "orga/auth/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Sign in" %}{% endblock %}
{% block content %}
    <form class="form-signin" action="" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="{{ phrases.base.enter_email }}" required autofocus id="email"
               autocomplete="off" name="email">
        <input type="password" class="form-control" placeholder="{% trans "Password" %}" required id="password" autocomplete="off"
               name="password">
        <button class="btn btn-lg btn-success btn-block" type="submit">
            {% trans "Sign in" %}
        </button>
    </form>
{% endblock %}
