{% extends "orga/auth/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
    <div>
        <h4 class="text-center">{% trans "Forgot your password?" %}</h4>
        <p></p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.login_email layout='inline' %}
            <button type="submit" class="btn btn-block btn-success">{% trans "Let me set a new one!" %}</button>
        </form>
    </div>
{% endblock %}
