{% load bootstrap4 %}
{% load formset_tags %}
{% load i18n %}
{% load filesize %}

<div class="formset form-group row" id="resource-upload" data-formset data-formset-prefix="{{ formset.prefix }}">
    {{ formset.management_form }}
    {% bootstrap_formset_errors formset %}
    <label class="col-md-3 col-form-label">{% translate "Resources" %}</label>
    <div data-formset-body class="col-md-9">
        {% if can_edit %}
            <div class="alert alert-info flip ml-auto">
                {% translate "Resources will be publicly visible. Please try to keep your uploads below 16MB." %}
            </div>
        {% endif %}
        {% for form in formset %}
            <div data-formset-form class="mb-2">
                <div class="sr-only">
                    {{ form.id }}
                    {% bootstrap_field form.DELETE form_group_class="" layout="inline" %}
                </div>
                {% bootstrap_form_errors form %}
                <div class="resource-option-row flip ml-auto">
                    <div class="resource-option{% if not form.errors %}-input{% endif %}{% if action == 'view' %} disabled{% endif %}">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.description layout='inline' %}
                        {% if form.errors %}
                            <div class="resource-option-inline">
                                {% bootstrap_field form.link layout='inline'  %}
                                {% bootstrap_field form.resource layout='inline'  %}
                            </div>
                        {% else %}
                            {% if form.instance.link %}
                                {% bootstrap_field form.link layout='inline'  %}
                            {% else %}
                                <i class="fa fa-paperclip mr-1 ml-2 pt-1"></i> <a href="{{ form.instance.url }}">{{ form.instance.filename }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if can_edit %}
                        <div class="resource-option-delete">
                            <button type="button" class="btn btn-danger btn-sm" data-formset-delete-button>
                                <i class="fa fa-trash"></i></button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="mt-1">
                {% translate "This proposal has no resources yet." %}
            </div>
        {% endfor %}
    </div>
    {% if can_edit %}
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form class="formset-row">
                <div class="sr-only">
                {{ formset.empty_form.id }}
                {% bootstrap_field formset.empty_form.DELETE form_group_class="" layout="inline" %}
                </div>
                <div class="resource-option-row flip ml-auto">
                <div class="resource-option-fields">
                {% bootstrap_field formset.empty_form.description layout='inline' %}
                <div class="resource-option-inline">
                {% bootstrap_field formset.empty_form.link layout='inline'  %}
                {% bootstrap_field formset.empty_form.resource layout='inline'  %}
                <button type="button" class="btn btn-danger btn-sm ml-auto" data-formset-delete-button>
                <i class="fa fa-trash"></i></button>
                </div>
                <div class="form-text text-muted mt-0 pt-0 mb-2">
                {% translate "You can either provide a URL or upload a file." %}
                {{ formset.empty_form.resource.help_text }}
                </div>
                <div class="resource-option-delete">
                </div>
                </div>
                </div>
                </div>
            {% endescapescript %}
        </script>
        {% if action != 'view' %}
            <div class="d-flex flex-row-reverse w-100 mr-3">
                <button type="button" class="btn btn-info" data-formset-add>
                    <i class="fa fa-plus"></i> {% translate "Add another resource" %}</button>
            </div>
        {% endif %}
    {% endif %}
</div>
