{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}

{% block video_admin_content %}
<h1 class="page-header">{% trans "Update user" %}</h1>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-body">{{ form.as_p }}</div>
    <div class="video-admin-btn-row">
        <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> {% trans "Save" %}</button>
        <a href="{% url 'control:user.list' %}" class="btn btn-default">{% trans "Back" %}</a>
    </div>
</form>
{% endblock %}
