{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Send access code" %} :: {% endblock extra_title %}

{% block content %}
    <h2>{% translate "Send access code" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form layout="event" %}

        {% include "orga/includes/submit_row.html" with submit_label=phrases.base.send %}

    </form>

{% endblock content %}
