{% extends "orga/cfp/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block scripts %}
    {{ current_configuration|json_script:"currentConfiguration" }}
    {{ all_fields|json_script:"allFields" }}
    {{ event_configuration|json_script:"eventConfiguration" }}

    {% if debug %}
    <script defer src="{% static "vendored/vue.js" %}"></script>
    {% else %}
    <script defer src="{% static "vendored/vue.min.js" %}"></script>
    {% endif %}
    <script defer src="{% static "vendored/marked.min.js" %}"></script>
    <script defer src="{% static "orga/js/cfp_flow.js" %}"></script>
{% endblock %}

{% block cfp_content %}
    <h1>{% trans "CfP Editor" %}</h1>
    <p>
        {% blocktrans trimmed %}
        This is the pretalx CfP editor. This page allows you to change the
        headline and information text on all of the individual CfP steps. You
        can also add a custom help text to individual fields. Just click on the
        item you want to change!
        {% endblocktrans %}
    </p>
    <div id="flow">
    </div>
{% endblock %}

