{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load static %}
{% load times %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "vendored/nvd3/nv.d3.min.css" %}" />
{% endblock %}

{% block scripts %}
    {% compress js %}
        <script defer src="{% static "vendored/nvd3/d3.min.js" %}"></script>
        <script defer src="{% static "vendored/nvd3/nv.d3.min.js" %}"></script>
        <script defer src="{% static "orga/js/question_stats.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block cfp_content %}
<h4>
    {{ quotation_open }}{{ question.question }}{{ qutoation_close }}
    <small>({{ question.get_variant_display }})</small>
    <a href="{{ question.urls.edit }}" class="btn btn-sm btn-outline-info">
        <i class="fa fa-edit"></i>
    </a>
</h4>

{% if question.active %}
  <div class="alert alert-info">
    <span>
    {% trans "This question is currently active, it will be asked during submission." %}
    <a class="btn btn-sm btn-danger" href="{{ question.urls.toggle }}">{% trans "Hide question" %}</a>
    </span>
  </div>
{% else %}
  <div class="alert alert-info">
    <span>
    {% trans "This question is currently inactive, and will not be asked during submission." %}
    <a class="btn btn-sm btn-success" href="{{ question.urls.toggle }}">{% trans "Activate question" %}</a>
    </span>
  </div>
{% endif %}

<div class="pb-2">
  <form class="form-inline">
    {% bootstrap_form filter_form layout='inline' %}
    <button class="btn btn-info" type="submit">{% trans "Filter" %}</button>
  </form>
</div>

{% if not answer_count %}
    {% trans "Nobody has answered this question at the moment." %}
{% else %}
    {% if missing_answers %}
        {% blocktrans with count=question.answers.count|times missing=missing_answers trimmed %}
            This question has been answered <strong>{{ count }}</strong>, <strong>{{ missing }}</strong> answers are still missing.
        {% endblocktrans %}
    {% else %}
        {% blocktrans with count=question.answers.count|times trimmed %}
            This question has been answered <strong>{{ count }}</strong>, and no answers are missing.
        {% endblocktrans %}
    {% endif %}
  <div id="question-stats" class="d-flex">
    {% if question.variant != "file" and question.grouped_answers|length < 50 %}
    <div class="card">
        <div class="card-header">{% trans "Answers" %}</div>
      <div id="question-data" class="d-none" data-states='{{ question.grouped_answers_json }}'></div>
      <div id="question-answers" class="pie card-body"><svg></svg></div>
    </div>
    {% endif %}
    <table class="table table-responsive">
      <thead>
        <th>{% trans "Answer" %}</th>
        <th>{% trans "Amount" %}</th>
      </thead>
      <tbody>
        {% for answer in question.grouped_answers %}
          <tr>
            <td>
              <a href="{{ request.event.orga_urls.submissions }}?{% if request.GET.role == 'accepted' %}state=accepted&state=confirmed&{% elif request.GET.role == 'confirmed' %}state=confirmed&{% endif %}{% if request.GET.track %}track={{ request.GET.track }}&{% endif %}{% if request.GET.submission_type %}submission_type={{ request.GET.submission_type }}&{% endif %}question={{ question.id }}&{% if answer.answer %}answer={{ answer.answer|urlencode }}{% else %}answer__options={{ answer.options|urlencode }}{% endif %}">
                {% if answer.answer %}{{ answer.answer }}{% else %}{{ answer.options__answer }}{% endif %}
              </a>
            </td>
            <td>
                {{ answer.count|times }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}
