{% extends "orga/cfp/base.html" %}
{% load i18n %}

{% block cfp_content %}
    <div class="alert alert-info">
        {% blocktranslate trimmed %}
            Questions can help you sort out additional details with speakers, such as
            clothing sizes, special requirements such as dietary needs, or accommodation.
            Questions can be asked either on a per-proposal level, or per speaker, as
            you see fit.
        {% endblocktranslate %}
    </div>
    <div class="submit-group">
        <span></span>
        <span>
            {% if questions %}
                <a href="{{ request.event.cfp.urls.remind_questions }}" class="btn btn-info">{% translate "Send out reminders for unanswered questions" %}</a>
            {% endif %}
            <a href="{{request.event.cfp.urls.new_question }}" class="btn btn-success">
                <i class="fa fa-plus"></i>
                {% translate "Add a new question" %}
            </a>
        </span>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm table-flip">
            <thead>
                <tr>
                    <th>{% translate "Question" %}</th>
                    <th>{% translate "Target" %}</th>
                    <th class="text-center">{% translate "required" %}</th>
                    <th class="text-center">{% translate "active" %}</th>
                    <th class="numeric">{% translate "Answers" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>
                            <a href="{{ question.urls.base }}">
                                {{ question.question }}
                            </a>
                        </td>
                        <td>
                            {{ question.get_target_display }}
                        </td>
                        <td class="text-center">
                            <i class="fa fa-{{ question.required|yesno:'check-circle text-success,times-circle text-danger' }}">
                            </i>
                            {% if question.question_required == "require after" or question.freeze_after%}
                                <i class="fa fa-clock-o" title="{% translate "This question's availability depends on a deadline." %}"> </i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <i class="fa fa-{{ question.active|yesno:'check-circle text-success,times-circle text-danger' }}">
                            </i>
                        </td>
                        <td class="numeric">
                            {{ question.answer_count }}
                        </td>
                        <td class="action-column">
                            {% include "orga/includes/order_object.html" with object=question %}
                            <a href="{{ question.urls.edit }}"
                               class="btn btn-sm btn-info"
                               title="{% translate "Edit" %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ question.urls.delete }}"
                               class="btn btn-sm btn-danger"
                               title="{% translate "Delete" %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                {% empty %}
                    <tr>
                        <td colspan=4 class="w-75">{% translate "You have configured no questions yet." %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
