{% extends "orga/cfp/base.html" %}
{% load i18n %}
{% block content %}
    <h2>
        {% translate "Do you really want to delete this submission type?" %} – {{ quotation_open }}{{ object.name }}{{ quotation_close }}
    </h2>
    <form method="post">
        {% csrf_token %}
        <div class="submit-group">
            <a href="{{ request.event.cfp.urls.types }}" class="btn btn-lg btn-outline-info">
                {% translate "Back" %}
            </a>
            <button type="submit" class="btn btn-lg btn-danger">
                <i class="fa fa-trash"></i>
                {% translate "Yes" %}
            </button>
        </div>
    </form>
{% endblock %}
