{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block cfp_content %}

    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "Submission Type" %}</legend>
        {% bootstrap_field form.name layout='event' %}
        {% bootstrap_field form.default_duration addon_after="minutes" layout='event' %}
        {% bootstrap_field form.deadline layout='event' %}
        <div class="form-group row">
            <div class="ml-auto col-md-9">
                {% if action == "create" %}
                    <button type="submit" class="btn btn-primary">{% trans "Create type" %}</button>
                {% elif action == "edit" %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
