{% extends "orga/cfp/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block cfp_content %}
<div class="alert alert-info">
    {% trans "A good Call for Participation will engage potential speakers. Remember to include:" %}<br>
    <ul>
        <li>{% trans "The formats (talks, workshops, panels) and their durations" %}</li>
        <li>{% trans "Topics you are looking for" %}</li>
        <li>{% trans "How open you are to alternative topics" %}</li>
        <li>{% trans "The people coming to your conference: interests, experience level …" %}</li>
        <li>{% trans "Link your Code of Conduct if you have one" %}</li>
        <li>{% trans "Do you offer financial or other support, e.g. support for first time speakers?" %}
        <li>{% trans "Dates and location" %}</li>
    </ul>
</div>
<div class="flex-container">
    <div class="flex-content">
        <form method="post" action="">
            {% csrf_token %}
            <legend>{% trans "Text and deadline" %}</legend>
            {% bootstrap_field form.headline layout='event' %}
            {% bootstrap_field form.text layout='event' %}
            {% bootstrap_field form.deadline layout='event' %}
            {% bootstrap_field sform.cfp_show_deadline layout='event' %}
            {% bootstrap_field sform.mail_on_new_submission layout='event' %}

            <legend>{% trans "Review settings" %}</legend>
            {% bootstrap_field sform.allow_override_votes layout='event' %}
            {% bootstrap_field sform.review_min_score layout='event' %}
            {% bootstrap_field sform.review_max_score layout='event' %}
            {% for field in sform %}
                {% if 'review_score_name_' in field.name %}
                    {% bootstrap_field field layout='event' %}
                {% endif %}
            {% endfor %}
            <div class="form-group row">
                <div class="ml-auto col-md-9">
                    {% if action == "edit" or action == "create" %}
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    {% elif action == "view" %}
                        <a class="btn btn-primary" href={{ request.event.cfp.urls.edit_text }}>{% trans "Edit" %}</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div class="flex-sidebar">
        {% include "common/logs.html" with obj=form.instance %}
    </div>
</div>

{% endblock %}
