{% extends "orga/base.html" %}

{% load compress %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block scripts %}
  {% compress js %}
    <script defer src="{% static "vendored/vanilla-picker/vanilla-picker.min.js" %}"></script>
    <script defer src="{% static "orga/js/colorpicker.js" %}"></script>
  {% endcompress %}
{% endblock scripts %}

{% block extra_title %}{% if form.instance.name %}{{ form.instance.name }}{% else %}{% translate "New track" %}{% endif %} :: {% endblock extra_title %}

{% block content %}
  <h2>
    {% if form.instance.name %}
      {% translate "Track" %}: {{ form.instance.name }}
    {% else %}
      {% translate "New track" %}
    {% endif %}
  </h2>

  {% include "orga/includes/base_form.html" %}

{% endblock content %}
