{% extends "cfp/event/submission_base.html" %}

{% load i18n %}
{% load orga_edit_link %}
{% load event_tags %}
{% load static %}

{% block orga_edit_link %}
    {% orga_edit_link request.event.cfp.urls.text "information" %}
{% endblock orga_edit_link %}

{% block cfp_submission_header %}
    {% if social_media_formset %}
        <script defer src="{% static 'js/jquery.js' %}"></script>
        <script defer src="{% static 'js/jquery.formset.js' %}"></script>
        <script defer src="{% static 'cfp/js/animateFormset.js' %}"></script>
        <script type="module" src="{% static 'common/js/speaker_social_links.js' %}"></script>
    {% endif %}
{% endblock cfp_submission_header %}

{% block inner %}

    {% for field in form %}
        {% if field.name == 'avatar' %}
            {% include "common/avatar.html" with user=user form=form %}
        {% elif field.name == 'get_gravatar' %}
            {# already handled by avatar.html #}
        {% elif field.name == 'availabilities' %}
            {% include "common/availabilities.html" %}
            {{ field.as_field_group }}
        {% elif field.name == 'social_links' %}
            {% include "common/speaker_social_links_formset.html" %}
        {% else %}
            {{ field.as_field_group }}
        {% endif %}
    {% endfor %}

{% endblock inner %}
