{% extends "cfp/event/base.html" %}
{% load html_signal %}
{% load i18n %}

{% block title %}{% translate "Your Profile" %} :: {% endblock title %}

{% block cfp_header %}
    {% include "cfp/includes/forms_header.html" %}
{% endblock cfp_header %}

{% block content %}
    {% html_signal "eventyay.cfp.signals.html_above_profile_page" sender=request.event request=request %}

    <h2>{% translate "Your Profile" %}</h2>
    <p>
        {% translate "This data will be displayed publicly if your proposal is accepted. It is also visible to reviewers." %}
    </p>
    <form method="post" enctype="multipart/form-data" class="speaker-profile-form">
        {% csrf_token %}
        {% include "common/forms/errors.html" with form=profile_form %}

        {% for field in profile_form %}
            {% if field.name == 'avatar' %}
                {% include "common/avatar.html" with user=request.user form=profile_form %}
            {% elif field.name == 'get_gravatar' %}
                {# already handled by avatar.html #}
            {% elif field.name == 'availabilities' %}
                {% include "common/availabilities.html" %}
                {{ field.as_field_group }}
            {% elif field.name == 'social_links' %}
                {% include "common/speaker_social_links_formset.html" %}
            {% else %}
                {{ field.as_field_group }}
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-4 flip ml-auto">
                <input type="hidden" name="form" value="profile">
                <button type="submit" class="btn btn-block btn-success btn-lg">
                    {{ phrases.base.save }}
                </button>
            </div>
        </div>
    </form>

    {% html_signal "eventyay.common.signals.profile_bottom_html" sender=request.event user=user %}

{% endblock content %}

{% block body_bottom %}
{% load static %}
<script defer src="{% static 'js/jquery.js' %}"></script>
<script defer src="{% static 'js/jquery.formset.js' %}"></script>
<script defer src="{% static 'cfp/js/animateFormset.js' %}"></script>
<script defer src="{% static 'cfp/js/talk_dependencies.js' %}"></script>
<script type="module" src="{% static 'common/js/speaker_social_links.js' %}"></script>
{% endblock %}
