{% extends "common/base_public.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load safelink %}
{% load statici18n %}
{% load thumb %}
{% load eventurl %}
{% load rich_text %}
{% load presale_locale %}

{% block title %}
    {% if messages %}
        {{ messages|join:" " }} ::
    {% endif %}
    {% block thetitle %}{% endblock %}{% if request.event %}{% if request.resolver_match.url_name != "event.index" %} :: {% endif %}{{ event.name|event_localize }}{% endif %}
{% endblock %}

{% block favicons %}
    {% if settings.favicon %}
        <link rel="icon" href="{{ settings.favicon|thumb:'16x16^' }}">
        <link rel="shortcut icon" href="{{ settings.favicon|thumb:'16x16^' }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon|thumb:'32x32^' }}">
        <link rel="icon" type="image/png" sizes="194x194" href="{{ settings.favicon|thumb:'194x194^' }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon|thumb:'16x16^' }}">
    {% elif development_warning or debug_warning %}
        <link rel="shortcut icon" href="{% static "common/img/icons/favicon_debug.ico" %}">
    {% else %}
        <link rel="icon" href="{% static "common/img/icons/favicon.ico" %}">
        <link rel="shortcut icon" href="{% static "common/img/icons/favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "pretixbase/img/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="194x194" href="{% static "pretixbase/img/icons/favicon-194x194.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "pretixbase/img/icons/favicon-16x16.png" %}">
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "pretixbase/img/icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "pretixbase/img/icons/android-chrome-192x192.png" %}">
{% endblock %}

{% block public_head_before_assets %}
    {% include "pretixpresale/fragment_js.html" %}
    <meta name="referrer" content="origin">
{% endblock %}

{% block public_stylesheets %}
    {% if css_file %}
        <link rel="stylesheet" type="text/css" href="{{ css_file }}" />
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static "pretixpresale/scss/custom.css" %}" />
        {% endcompress %}
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "pretixpresale/scss/main.scss" %}"/>
        {% endcompress %}
    {% endif %}
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'pretixpresale/css/presale-login-modal.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'eventyay-common/css/image-preview-dialog.css' %}">
        {% endcompress %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static "pretixpresale/js/ui/popover.js" %}"></script>
        <script type="text/javascript" src="{% static "utils/js/utils.js" %}"></script>
    {% endcompress %}
    <script type="module" src="{% static 'pretixpresale/js/ui/presale-login-modal.js' %}"></script>
{% endblock %}

{% block custom_header %}
    {% if event.settings.meta_noindex %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <link rel="manifest" href="{% url "presale:site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "pretixbase/img/icons/safari-pinned-tab.svg" %}" color="{{ settings.primary_color|default:"#2185d0" }}">
    <meta name="msapplication-TileColor" content="{{ settings.primary_color|default:"#2185d0" }}">
    <meta name="msapplication-config" content="{% url "presale:browserconfig.xml" %}">
    <meta name="theme-color" content="{{ settings.primary_color|default:"#2185d0" }}">
    {% if DEBUG %}
        <script type="text/javascript" src="{% url 'javascript-catalog' lang=request.LANGUAGE_CODE %}" async></script>
    {% else %}
        <script src="{% statici18n request.LANGUAGE_CODE %}" async></script>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block body_attrs %}
    class="nojs"
    data-locale="{{ request.LANGUAGE_CODE }}"
    data-now="{% now "U.u" %}"
    data-datetimeformat="{{ js_datetime_format }}"
    data-timeformat="{{ js_time_format }}"
    data-dateformat="{{ js_date_format }}"
    data-datetimelocale="{{ js_locale }}"
    {% if request.event %}data-currency="{{ request.event.currency }}"{% endif %}
{% endblock %}

{% block body_top %}
    {{ base_path|json_script:"base_path" }}
    {% if request.event %}
        {{ request.event.organizer.slug|json_script:"organizer_name" }}
        {{ request.event.slug|json_script:"event_slug" }}
        {{ request.event.pk|json_script:"event_pk" }}
    {% endif %}
    {{ show_organizer_area|json_script:"show_organizer_area" }}
    {{ user_has_cfp_submissions|json_script:"user_has_cfp_submissions" }}
    {{ talks_published|json_script:"talks_published" }}
    {{ html_page_header|safe }}
{% endblock %}

{% block body_bottom %}
    {{ html_foot|safe }}
    {% include "pretixpresale/fragment_modals.html" %}
{% endblock %}

{% block header_navigation %}{% endblock header_navigation %}


