{% load i18n %}
{% load eventurl %}
<div id="ajaxerr">
</div>
<div id="loadingmodal">
    <div class="modal-card">
        <div class="modal-card-icon">
            <i class="fa fa-cog big-rotating-icon" aria-hidden="true"></i>
        </div>
        <div class="modal-card-content">
            <h3></h3>
            <p class="text"></p>
            <p class="status">{% trans "If the process continues for an extended period, feel free to reach out to us." %}</p>
        </div>
    </div>
</div>
<div id="join-video-popupmodal" hidden aria-live="polite">
    <div class="modal-card join-online-video">
        <div class="modal-card-content-join">
            <div>
                <h3>
                    {% trans "This is a ticketed event. If you ordered a ticket as a guest user, you don't have an account but can still access the ticket using the secret link in your ticket confirmation email. On the tickets page there is also a link to join online sessions." %}
                </h3>
                <h3>
                    {% trans "As a ticket holder please also check your email for the unique link to join online sessions." %}
                </h3>
                {% if request.event %}
                    <p class="text">
                        {% trans "Can't find your ticket?" %}
                        <a class="btn btn-link" href='{% eventurl request.event "presale:event.resend_link" %}'>
                            {% trans "Resend the email" %}
                        </a>
                        {% trans "to receive it." %}
                    </p>
                    <p class="text">
                        {% trans "Want to order a ticket?" %}
                        <a class="btn btn-link" href='{% eventurl request.event "presale:event.index" %}'>
                            {% trans "Get a ticket here" %}
                        </a>
                    </p>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <p class="text">
                        {% blocktrans with event_name=event_name %}
                            Want to create a {{ event_name }} account?
                        {% endblocktrans %}
                        <a class="btn btn-link" href='{% url "control:auth.register" %}?next={{ request.get_full_path|urlencode }}'>
                            {% trans "Sign up here" %}
                        </a>
                    </p>
                    <p class="text">
                        {% blocktrans with event_name=event_name %}
                            Already have a {{ event_name }} account?
                        {% endblocktrans %}
                        <a class="btn btn-link" href='{% url "control:auth.login" %}?next={{ request.get_full_path|urlencode }}'>
                            {% trans "Login here" %}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="join-online-close">
            <button id="join-online-close-button" class="btn btn-default join-online-close-button">Close</button>
        </div>
    </div>
</div>
