{% extends "eventyay_common/auth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="form-signin" action="" method="post">
        <h3>{% trans "Hello!" %}</h3>
        <p>
            {% blocktrans trimmed with a_attr="href='https://eventyay.com'" %}
                This is a installation of <a {{ a_attr }}>Eventyay</a> - the open source event management platform.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Eventyay empowers communities and organizations to create, manage, and host events of all kinds — from conferences to online meetups.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                If you’re looking to buy tickets, submit a session proposal, join an online event, or create your own, please follow the direct link to the specific event or organizer profile.
            {% endblocktrans %}
        </p>
        <p>
            {% url 'control:index' as index_url %}
            {% blocktrans trimmed with a_attr="href="|add:index_url %}
                To log in and access your events, please <a {{ a_attr }}>head over here</a>.
            {% endblocktrans %}
        </p>
        <p>{% trans "Enjoy!" %}</p>
    </div>
{% endblock %}
