{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html{% if rtl %} dir="rtl" class="rtl"{% endif %}>
<head>
    <title>{{ django_settings.INSTANCE_NAME }}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/auth.scss" %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/main.scss" %}" />
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static "jquery/js/jquery-3.7.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "pretixcontrol/js/ui/collapse_state.js" %}"></script>
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if development_warning or debug_warning %}
        <link rel="shortcut icon" href="{% static "pretixbase/img/favicon-debug.ico" %}">
    {% else %}
        <link rel="shortcut icon" href="{% static "pretixbase/img/favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "pretixbase/img/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="194x194" href="{% static "pretixbase/img/icons/favicon-194x194.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "pretixbase/img/icons/favicon-16x16.png" %}">
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "pretixbase/img/icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "pretixbase/img/icons/android-chrome-192x192.png" %}">
    {% comment %} <link rel="manifest" href="{% url "presale:site.webmanifest" %}"> {% endcomment %}
    <link rel="mask-icon" href="{% static "pretixbase/img/icons/safari-pinned-tab.svg" %}" color="#2185d0">
    <meta name="msapplication-TileColor" content="#2185d0">
    {% comment %} <meta name="msapplication-config" content="{% url "presale:browserconfig.xml" %}"> {% endcomment %}
    <meta name="theme-color" content="#2185d0">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href='{% url "index" %}'>
                    <img src='{% static "pretixbase/img/eventyay-icon.svg" %}' />
                    {{ INSTANCE_NAME }}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-top-links navbar-right flip">
                {% if show_link_in_header_for_all_pages %}
                    {% for page in show_link_in_header_for_all_pages %}
                            <li>
                                <a href='{% url "page" slug=page.slug %}' title='{{ page.title|safe }}'>
                                    {{ page.title|safe }}
                                </a>
                            </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
<div class="container">
    <a href="{% url "auth.login" %}">
        <img src="{% static "pretixbase/img/eventyay-logo.svg" %}" class="logo"/>
    </a>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if request.user.is_hijacked %}
        <div class="impersonate-warning">
            <span class="fa fa-user-secret"></span>
            {% blocktrans with user=request.user%}You are currently working on behalf of {{ user }}.{% endblocktrans %}

            <form action="{% url 'admin.users.impersonate.stop' %}" method="post" class="helper-display-inline">
                {% csrf_token %}
                <button class="btn btn-default btn-sm">
                    {% trans "Stop impersonating" %}
                </button>
            </form>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    <footer>
        {% with "href='https://eventyay.com'" as a_attr %}
            {% blocktrans trimmed %}
                powered by <a {{ a_attr }}>eventyay</a>
            {% endblocktrans %}
        {% endwith %}
        <ul class="list-inline text-center" style="margin-top: 20px">
            {% if show_link_in_footer_for_all_pages %}
                {% for page in show_link_in_footer_for_all_pages %}
                        <li>
                            <a href='{% url "page" slug=page.slug %}' title='{{ page.title|safe }}'>
                                {{ page.title|safe }}
                            </a>
                        </li>
                {% endfor %}
            {% endif %}
        </ul>
    </footer>
</div>
</body>
</html>
