{% load i18n %}
{% if template.role == "submission.state.accepted" %}
    <span class="badge color-success">{% translate "Accept email" %}</span>
{% elif template.role == "submission.state.rejected" %}
    <span class="badge color-danger">{% translate "Reject email" %}</span>
{% elif template.role == "schedule.new" %}
    <span class="badge color-info">{% translate "Schedule update" %}</span>
{% elif template.role == "question.reminder" %}
    <span class="badge color-info">{% translate "Unanswered questions reminder" %}</span>
{% endif %}
