{% extends "orga/mails/_mail_editor.html" %}

{% load i18n %}

{% block email_editor_title_detail %}
  {% translate "Sessions, proposals, speakers" %}
{% endblock email_editor_title_detail %}

{% block recipient_form %}

  {% if form.filter_question or form.filter_search %}
    <div class="offset-md-3 col-md-9 pt-0">
      {% if form.filter_question %}
        <p class="text-muted">
          <span class="fa fa-filter"></span>
          {% blocktranslate trimmed with question=form.filter_question %}
            Recipients filtered by responses to the custom field “{{ question }}”.
          {% endblocktranslate %}
          <a href="{% querystring question="" answer="" answer__options="" %}" class="text-muted">
            <span class="fa fa-times ml-2"></span>
            {% translate "Remove filter" %}
          </a>
        </p>
      {% endif %}
      {% if form.filter_search %}
        <p class="text-muted">
          <span class="fa fa-filter"></span>
          {% blocktranslate trimmed with search=form.filter_search %}
            Recipients filtered by search “{{ search }}”.
          {% endblocktranslate %}
          <a href="{% querystring q="" %}" class="text-muted">
            <span class="fa fa-times ml-2"></span>
            {% translate "Remove filter" %}
          </a>
        </p>
      {% endif %}
    </div>
  {% endif %}
  {{ form.state.as_field_group }}
  {{ form.exclude_pending.as_field_group }}
  {% if form.submission_type %}{{ form.submission_type.as_field_group }}{% endif %}
  {% if form.track %}{{ form.track.as_field_group }}{% endif %}
  {% if form.content_locale %}{{ form.content_locale.as_field_group }}{% endif %}
  {% if form.tags %}{{ form.tags.as_field_group }}{% endif %}

  {{ form.submissions.as_field_group }}
  {{ form.speakers.as_field_group }}

{% endblock recipient_form %}
