{% extends "cfp/event/base.html" %}
{% load i18n %}
{% load rich_text %}
{% block title %}{{ request.event }}{% endblock %}
{% block content %}
    <h2>{{ request.event.get_cfp.headline|default:"" }}</h2>
    {{ request.event.get_cfp.text|rich_text }}
    <div class="row mb-4">
        <div class="col-md-6">
            <a class="btn btn-success btn-lg btn-block"
               href="{% url "cfp:event.submit" event=request.event.slug %}">
                {% trans "Submit a proposal" %}
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-info btn-lg btn-block" href="">
                {% trans "Edit or view your submission" %}
            </a>
        </div>
    </div>
{% endblock %}
