{% extends "cfp/event/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Password reset" %} :: {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {{ form.media }}
       <div class="col-md-8 labelless-password-input-form">
            <h2>{% translate "OK, this looks good!" %}</h2>
            <p>
                {% blocktranslate trimmed %}
                    Now you just need to choose your new password and you are ready to go.
                {% endblocktranslate %}
            </p>
            {% bootstrap_field form.password layout='inline' %}
            {% bootstrap_field form.password_repeat layout='inline' %}
            <button type="submit" class="btn btn-block btn-success">{% translate "Save this!" %}</button>
        </div>
    </form>
{% endblock %}
