{% extends "cfp/event/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}{% trans "Password reset" %} :: {{ request.event }}{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {{ form.media }}
       <div class="col-md-8 labelless-password-input-form">
            <h2>{% trans "OK, this looks good!" %}</h2>
            <p>
                {% blocktrans trimmed %}
                    Now you just need to decide for your new password and then we are ready to go.
                {% endblocktrans %}
            </p>
            {% bootstrap_field form.password layout='inline' %}
            {% bootstrap_field form.password_repeat layout='inline' %}
            <button type="submit" class="btn btn-block btn-primary">{% trans "Save this!" %}</button>
        </div>
    </form>
{% endblock %}
