{% extends "cfp/event/base.html" %}

{% load i18n %}

{% block title %}{{ phrases.base.password_reset_heading }}{% endblock title %}

{% block cfp_header %}
  {% include "cfp/includes/forms_header.html" %}
{% endblock cfp_header %}

{% block content %}
  <div class="col-md-6 ml-auto mr-auto">
    <h2 class="text-center">{{ phrases.base.password_reset_question }}</h2>
    <p></p>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-block btn-success">{{ phrases.base.password_reset_action }}</button>
    </form>
  </div>
{% endblock content %}
