{% extends "cfp/event/submission_base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block inner %}
    <h2>{% trans "Tell us something about yourself!" %}</h2>
    <p>
        {% blocktrans trimmed %}
            This information will be publicly displayed next to your talk - you can always edit
            for as long as submissions are still open.
        {% endblocktrans %}
    </p>

    {% bootstrap_form_errors wizard.form %}
    {% bootstrap_field wizard.form.name layout='event' %}
    {% bootstrap_field wizard.form.biography layout='event' %}
{% endblock %}
