{% extends "cfp/event/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Create submission" %} :: {{ request.event.name }}{% endblock %}

{% block content %}
    <script src="{% static "vendored/marked.min.js" %}" defer></script>
    <script src="{% static "common/js/markdown.js" %}" defer></script>

    <div id="submission-steps" class="stages">
        {% for stp in cfp_flow %}
        <a {% if stp.resolved_url %}href="{{ stp.resolved_url }}"{% endif %} class="step step-{% if stp.is_before %}done{% elif stp.identifier == step.identifier %}current{% else %}{% endif %}">
            <div class="step-icon">
                <span class="fa {% if stp.is_before %}fa-check{% elif stp.icon %}fa-{{ stp.icon }}{% else %}fa-pencil{% endif %}"></span>
            </div>
            <div class="step-label">
                {{ stp.label }}
            </div>
        </a>
        {% endfor %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% block inner %}
        {% endblock %}
        <div class="row wizard-row">
            <div class="col-md-3 ml-auto">
                <button type="submit" class="btn btn-block btn-success btn-lg">
                    {% trans "Continue" %} &raquo;
                </button>
            </div>
            <div class="col-md-3">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-block btn-info btn-lg">
                        &laquo; {% trans "Back" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
