{% extends "cfp/event/submission_base.html" %}
{% load i18n %}
{% load rich_text %}
{% load bootstrap4 %}
{% block title %}{{ request.event }}{% endblock %}
{% block inner %}
    <h2>{% trans "This looks good!" %}</h2>
    <p>
        {% blocktrans trimmed with step=wizard.steps.step1 steps=wizard.steps.count %}
            Before we can save your submission, we have some more questions for you.
            But rest assured, you reached step {{ step }} of {{ steps }} already, we are nearly there!
        {% endblocktrans %}
    </p>
    {% bootstrap_form wizard.form %}
{% endblock %}
