{% extends "cfp/event/submission_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load orga_edit_link %}
{% load rules %}
{% load static %}

{% block inner %}
    <h2>{% trans "Tell us something about yourself!" %}</h2>
    {% has_perm 'orga.edit_cfp' request.user request.event as can_edit_cfp %}
    {% if can_edit_cfp %}{% orga_edit_link request.event.cfp.urls.text "information" %}{% endif %}
    <p>
        {% blocktrans trimmed %}
            This information will be publicly displayed next to your talk - you can always edit
            for as long as submissions are still open.
        {% endblocktrans %}
    </p>

    {% bootstrap_form_errors wizard.form %}
    <div class="avatar-form">
        <label class="col-md-3 left-side col-form-label">
            {% trans "Profile picture" %}
            <br><span class="optional">{% trans "Optional" %}</span>
            <br>
        <img
          class="avatar float-right"
          data-gravatar="{{ gravatar_parameter }}"
          data-avatar=""
        />
        </label>
        <div class="avatar-form-fields">
            {% bootstrap_field wizard.form.get_gravatar layout='event-inline' %}
            <div class="user-avatar-display">
                {% bootstrap_field wizard.form.avatar layout='inline' %}
            </div>
        </div>
    </div>
    {% bootstrap_field wizard.form.name layout='event' %}
    {% if wizard.form.biography %}{% bootstrap_field wizard.form.biography layout='event' %}{% endif %}

<script type="text/javascript" src="{% static "cfp/js/profile.js" %}"></script>
{% endblock %}
