{% extends "cfp/event/submission_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load orga_edit_link %}
{% load rules %}

{% block inner %}
    <div class="d-flex">
        <h2>{% trans "Hey, nice to meet you!" %}</h2>
        {% has_perm 'orga.edit_cfp' request.user request.event as can_edit_cfp %}
        {% if can_edit_cfp %}{% orga_edit_link request.event.cfp.urls.text "information" %}{% endif %}
    </div>
    <p>
        {% blocktrans trimmed %}
            We're glad that you want to contribute to our event with your submission.
            Let's get started, this won't take long.
        {% endblocktrans %}
    </p>
    {% bootstrap_form wizard.form layout='event' %}
{% endblock %}
