{% extends "cfp/event/submission_base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load orga_edit_link %}
{% load rules %}
{% load rich_text %}

{% block inner %}
    <div class="d-flex">
        <h2>{{ title }}</h2>
        {% has_perm 'orga.edit_cfp' request.user request.event as can_edit_cfp %}
        {% if can_edit_cfp %}{% orga_edit_link request.event.cfp.urls.questions %}{% endif %}
    </div>
    <p>
        {{ text|rich_text }}
    </p>
    {% if form.submission_fields %}
    <h4>{% translate "… about your submission:" %}</h4>
        {% for field in form.submission_fields %}
            {% bootstrap_field field layout='event' %}
        {% endfor %}
    {% endif %}
    {% if form.speaker_fields %}
        <h4>{% translate "… about yourself:" %}</h4>
        {% for field in form.speaker_fields %}
            {% bootstrap_field field layout='event' %}
        {% endfor %}
    {% endif %}
{% endblock %}
