{% extends "cfp/event/base.html" %}
{% load i18n %}
{% block title %}{% trans "Your submissions" %} :: {{ request.event }}{% endblock %}
{% block content %}
    <h2>{% trans "Your submissions" %}</h2>
    {% if submissions %}
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Title</th>
                <th>State</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a href="{% url "cfp:event.user.submission.edit" event=request.event.slug code=submission.code %}">
                            {{ submission.title }}
                        </a>
                    </td>
                    <td>
                        {% include "cfp/event/fragment_state.html" with state=submission.state %}
                    </td>
                    <td class="text-right">
                        {% if submission.editable %}
                            <a href="{% url "cfp:event.user.submission.edit" event=request.event.slug code=submission.code %}"
                                    class="btn btn-sm btn-secondary">
                                <span class="fa fa-pencil"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            {% if request.event.cfp.is_open %}
                <a class="btn btn-success btn-lg"
                   href="{% url "cfp:event.submit" event=request.event.slug %}">
                    {% trans "Create a new submission" %}
                </a>
            {% endif %}
        </p>
    {% else %}
        <p class="text-center">
            {% trans "It seems like you haven't submitted anything to this event yet." %}
        </p>
        <p class="text-center">
            {% trans "If you did, maybe you used a different account? Check your emails!" %}
        </p>
        {% if request.event.cfp.is_open %}
            <p class="text-center">
                {% trans "If you did not, why not go ahead and create a proposal now? We'd love to hear from you!" %}
            </p>
            <p class="text-center">
                <a class="btn btn-success btn-lg btn-block"
                        href="{% url "cfp:event.submit" event=request.event.slug %}">
                    {% trans "Submit something now!" %}
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
