{% extends "cfp/event/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Proposal not found" %} :: {% endblock %}

{% block content %}
    <div class="col-md-10 ml-auto mr-auto">
        <h2>{% translate "Proposal not found" %}</h2>
        <p>
            {% translate "The proposal you're trying to confirm either does not exist or does not belong to the account you're currently logged in with. Try logging in with a different account, or contact the event organisers for further information." %}
        </p>
    </div>
{% endblock %}
