{% extends "cfp/event/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load filesize %}
{% load formset_tags %}
{% load i18n %}
{% load rules %}
{% load static %}

{% block title %}{% translate "Your proposal" %} :: {% endblock %}

{% block cfp_header %}
    {% compress js %}
        <script defer src="{% static "js/jquery.formset.js" %}"></script>
        <script defer src="{% static "cfp/js/animateFormset.js" %}"></script>
        <script defer src="{% static "vendored/datetimepicker/bootstrap-datetimepicker.js" %}"></script>
        <script defer src="{% static "orga/js/datetimepicker.js" %}"></script>
    {% endcompress %}
    <script src="{% static "vendored/marked.min.js" %}" defer></script> {# do not compress #}
    <script src="{% static "common/js/formTools.js" %}" defer></script>
{% endblock %}

{% block content %}
    {% has_perm 'cfp.add_speakers' request.user submission  as can_invite_speakers %}
    <h2>{% if submission.state != "draft" %}{% translate "Your proposal:" %}{% else %}{% translate "Your draft:" %}{% endif %} {{ submission.title }}</h2>
    {% if submission.public_slots %}
        <h3>
            <small>
                {% for talk in submission.public_slots %}
                    {{ talk.start|date:DAY_MONTH_DATE_FORMAT }}, {{ talk.start|date:"TIME_FORMAT" }}–{{ talk.end|date:"TIME_FORMAT" }}, {{ talk.room.name }} {% if not forloop.last %}·{% endif %}
                {% endfor %}
            </small>
        </h3>
    {% endif %}
    <p>
        {% if submission.state != "draft" %}
            {% translate "Current state of your proposal:" %}
            {% include "cfp/event/fragment_state.html" with state=submission.user_state %}
        {% else %}
            <div class="alert alert-info">
                {% blocktranslate trimmed %}
                    This is a draft proposal.
                    It will never be visible to anybody else, unless you submit it or explicitly share it.
                {% endblocktranslate %}
            </div>
        {% endif %}
        {% if submission.state == 'accepted' %}
            <a href="{{ submission.urls.confirm }}" class="btn btn-sm btn-success">
                <i class="fa fa-check"></i> {% translate "Confirm your attendance" %}
            </a>
        {% elif submission.state == 'confirmed' and request.event.feature_flags.use_feedback %}
            · <a href="{{ submission.urls.feedback }}">
                {% if submission.does_accept_feedback %}
                    {% translate "Audience feedback" %}
                {% else %}
                    {% translate "Attendees can leave feedback here after your session has taken place." %}
                {% endif %}
            </a>
        {% endif %}
    </p>
    <h5>
        <form class="add-speaker" action="{{ submission.urls.invite }}">
            <div class="form-group form-inline">
                {% if submission.state == "confirmed" %}
                    {% blocktranslate trimmed count count=submission.speakers.count %}Speaker:{% plural %}Speakers:{% endblocktranslate %}:
                {% else %}
                    {% blocktranslate trimmed count count=submission.speakers.count %}Submitter{% plural %}Submitters{% endblocktranslate %}:
                {% endif %}
                {{ submission.display_speaker_names }}{% if can_invite_speakers %},
                    <div class="input-group">
                        <input name="email" class="form-control form-control-sm" placeholder="mail@example.org">
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                {% endif %}
            </div>
        </form>
    </h5>
    <form method="post" enctype="multipart/form-data">
        {% if form.errors %}{% bootstrap_form_errors form %}{% endif %}
        {% if qform.errors %}{% bootstrap_form_errors qform %}{% endif %}
        {% csrf_token %}
        {% bootstrap_form form layout='event' %}
        {% bootstrap_form qform layout='event' %}
        {% if can_edit or form.instance.resources.count %}
            <div class="formset form-group row" id="resource-upload" data-formset data-formset-prefix="{{ formset.prefix }}">
                {{ formset.management_form }}
                {% bootstrap_formset_errors formset %}
                <label class="col-md-3 col-form-label">{% translate "Resources" %}</label>
                <div data-formset-body class="col-md-9">
                    {% if can_edit %}
                        <div class="alert alert-info flip ml-auto">
                            {% translate "Resources will be publicly visible. Please try to keep your uploads below 16MB." %}
                        </div>
                    {% endif %}
                    {% for form in formset %}
                        <div data-formset-form class="mb-2">
                            <div class="sr-only">
                                {{ form.id }}
                                {% bootstrap_field form.DELETE form_group_class="" layout="inline" %}
                            </div>
                            {% bootstrap_form_errors form %}
                            <div class="resource-option-row flip ml-auto">
                                <div class="resource-option{% if not form.errors %}-input{% endif %}{% if action == 'view' %} disabled{% endif %}">
                                    {% bootstrap_field form.description layout='inline' %}
                                    {% if form.errors %}
                                        <div class="resource-option-inline">
                                            {% bootstrap_field form.link layout='inline'  %}
                                            {% bootstrap_field form.resource layout='inline'  %}
                                        </div>
                                    {% else %}
                                        {% if form.instance.link %}
                                            {% bootstrap_field form.link layout='inline'  %}
                                        {% else %}
                                            <i class="fa fa-paperclip mr-1 ml-2 pt-1"></i> <a href="{{ form.instance.url }}">{{ form.instance.filename }}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {% if can_edit %}
                                    <div class="resource-option-delete">
                                        <button type="button" class="btn btn-danger btn-sm" data-formset-delete-button>
                                            <i class="fa fa-trash"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if can_edit %}
                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form class="formset-row">
                            <div class="sr-only">
                            {{ formset.empty_form.id }}
                            {% bootstrap_field formset.empty_form.DELETE form_group_class="" layout="inline" %}
                            </div>
                            <div class="resource-option-row flip ml-auto">
                            <div class="resource-option-fields">
                            {% bootstrap_field formset.empty_form.description layout='inline' %}
                            <div class="resource-option-inline">
                            {% bootstrap_field formset.empty_form.link layout='inline'  %}
                            {% bootstrap_field formset.empty_form.resource layout='inline'  %}
                            </div>
                            <div class="form-text text-muted mt-0 pt-0 mb-2">
                            {% translate "You can either provide a URL or upload a file." %}
                            {% translate "Max file size:" %}
                            {{ settings.FILE_UPLOAD_DEFAULT_LIMIT | filesize }}
                            </div>
                            <div class="resource-option-delete">
                            <button type="button" class="btn btn-danger btn-sm" data-formset-delete-button>
                            <i class="fa fa-trash"></i></button>
                            </div>
                            </div>
                            </div>
                            </div>
                        {% endescapescript %}
                    </script>
                    {% if action != 'view' %}
                        <div class="d-flex flex-row-reverse w-100 mr-3">
                            <button type="button" class="btn btn-info" data-formset-add>
                                <i class="fa fa-plus"></i> {% translate "Add another resource" %}</button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {% if can_edit %}
            <div class="row mt-4">
                {% if submission.state == "draft" %}
                    <div class="col-md-6 flip ml-auto">
                        <div class="d-flex align-items-start">
                            <button type="submit" class="btn btn-block btn-outline-success btn-lg" name="action" value="submit">
                                {% translate "Save draft" %}
                            </button>
                            <button type="submit" class="btn btn-block btn-success btn-lg mt-0 ml-2" name="action" value="dedraft">
                                {% translate "Submit proposal" %}
                            </button>
                        </div>
                {% else %}
                    <div class="col-md-3 flip ml-auto">
                        <button type="submit" class="btn btn-block btn-success btn-lg" name="action" value="submit">
                            {% translate "Save" %}
                        </button>
                {% endif %}
            </div>
            </div>
        {% endif %}
    </form>
    <h3 id="share-proposal">{% translate "Share proposal" %}</h3>
    <p>
        {% blocktranslate trimmed %}
            If you need a review from a colleague or a friend here's a link that you can send out for viewing your proposal:
        {% endblocktranslate %}
        <a target="_blank" rel="noopener" href="{{ submission.urls.review.full }}">{{ submission.urls.review.full }}</a>
    </p>
    {% if submission.state == "submitted" or submission.state == "accepted" %}
        <h3>{% translate "Withdraw proposal" %}</h3>
        <p>
            {% blocktranslate trimmed %}
                You can withdraw your proposal from the selection process here. You cannot undo this - if you are
                just uncertain if you can or should hold your session, please contact the organiser instead.
            {% endblocktranslate %}
        </p>
        <div class="row">
            <div class="col-md-3 flip ml-auto">
                <a href="{{ submission.urls.withdraw }}"
                   class="btn float-right btn-danger btn-block">
                    {% translate "Withdraw" %}
                </a>
            </div>
        </div>
    {% elif submission.state == "draft" %}
        <h3>{% translate "Discard draft proposal" %}</h3>
        <p>
            {% blocktranslate trimmed %}
                You can discard your draft proposal here. You cannot undo this - if you are
                just uncertain if you can or should submit your proposal, please contact the organiser instead.
            {% endblocktranslate %}
        </p>
        <div class="row">
            <div class="col-md-3 flip ml-auto">
                <a href="{{ submission.urls.discard }}"
                   class="btn float-right btn-danger btn-block">
                    {% translate "Discard" %}
                </a>
            </div>
        </div>
    {% elif submission.state == "confirmed" %}
        <h3>{% translate "Cancel proposal" %}</h3>
        <p>
            {% blocktranslate trimmed %}
                As your proposal has been accepted already, please contact the event's organising team to cancel
                it. The best way to reach out would be an answer to your acceptance mail.
            {% endblocktranslate %}
        </p>
    {% endif %}

    <div class="user-logs">
        {% include "common/logs.html" with entries=submission.logged_actions hide_orga="true" %}
    </div>
{% endblock %}
