{% extends "cfp/event/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ submission.title }} :: {% endblock %}

{% block content %}

    {% include "cfp/includes/user_submission_header.html" %}

    <div class="alert alert-info">
        {% blocktranslate trimmed %}
            Invite another speaker to your proposal here. Instead of letting us send an email,
            (which might get caught by spam filters) you can also give them this link:
        {% endblocktranslate %}
        <br>
        {{ submission.urls.accept_invitation.full }}
    </div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='event' %}
        <div class="row">
            <div class="col-md-3 flip ml-auto url-links">
                <a class="btn btn-block btn-info btn-lg" href="{{ submission.urls.user_base }}">
                    {{ phrases.base.cancel }}
                </a>
                <button type="submit" class="btn btn-block btn-success btn-lg">
                    {{ phrases.base.send }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
