{% extends "cfp/event/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}{% trans "Your Profile" %} :: {{ request.event }}{% endblock %}
{% block content %}
    <h2>{% trans "Your Profile" %}</h2>
    <p>
        {% trans "This data will be displayed next to your talk slots in the schedule." %}
    </p>
    <form action="{% url "cfp:event.user.profile" event=request.event.slug %}" method="post">
        {% csrf_token %}
        {% bootstrap_field profile_form.name %}
        {% bootstrap_field profile_form.biography %}
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <button type="submit" class="btn btn-block btn-success btn-lg">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
    <h2>{% trans "Your Account" %}</h2>
    <p>
        {% trans "You can change your log in data here." %}
    </p>
    <form action="{% url "cfp:event.user.login" event=request.event.slug %}" method="post">
        {% csrf_token %}
        {% bootstrap_field login_form.email %}
        {% bootstrap_field login_form.password %}
        {% bootstrap_field login_form.password_repeat %}
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <button type="submit" class="btn btn-block btn-success btn-lg">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
