#id_event_effect, #id_organizer_effect {
    width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    overflow-y: auto;
    overflow-x: hidden;
}
