/* Preload images */
/* line 2, static/lightbox/css/lightbox.scss */
body:after {
  content: url(/static/lightbox/images/close.png?2d5e3120ded9) url(/static/lightbox/images/loading.gif?2d5e3120ded9) url(/static/lightbox/images/prev.png?2d5e3120ded9) url(/static/lightbox/images/next.png?2d5e3120ded9);
  display: none; }

/* line 7, static/lightbox/css/lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

/* line 18, static/lightbox/css/lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

/* line 28, static/lightbox/css/lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 39, static/lightbox/css/lightbox.scss */
.lightbox a img {
  border: none; }

/* line 43, static/lightbox/css/lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

/* line 57, static/lightbox/css/lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

/* line 63, static/lightbox/css/lightbox.scss */
.lb-container {
  padding: 4px; }

/* line 67, static/lightbox/css/lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

/* line 77, static/lightbox/css/lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/static/lightbox/images/loading.gif?2d5e3120ded9) no-repeat; }

/* line 85, static/lightbox/css/lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

/* line 94, static/lightbox/css/lightbox.scss */
.lb-container > .nav {
  left: 0; }

/* line 98, static/lightbox/css/lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

/* line 103, static/lightbox/css/lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

/* line 109, static/lightbox/css/lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/static/lightbox/images/prev.png?2d5e3120ded9) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

/* line 122, static/lightbox/css/lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 127, static/lightbox/css/lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/static/lightbox/images/next.png?2d5e3120ded9) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

/* line 140, static/lightbox/css/lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 145, static/lightbox/css/lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/* line 158, static/lightbox/css/lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

/* line 164, static/lightbox/css/lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc; }

/* line 169, static/lightbox/css/lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

/* line 176, static/lightbox/css/lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em; }

/* line 182, static/lightbox/css/lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999; }

/* line 190, static/lightbox/css/lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/static/lightbox/images/close.png?2d5e3120ded9) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

/* line 206, static/lightbox/css/lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
