# Core project dependencies
Django>=3.2  # or whatever version you use
djangorestframework
pytest
pytest-django
pytest-cov
django-scopes

# Sphinx for documentation
sphinx==2.3.*
sphinx-rtd-theme
sphinxcontrib-httpdomain
sphinxcontrib-images
sphinxcontrib-spelling==4.*
sphinxemoji
pygments-markdown-lexer

# PyEnchant patched version
git+https://github.com/raphaelm/pyenchant.git@patch-1#egg=pyenchant
