rotki-releases
semantic-version==2.6.0  # https://github.com/bitprophet/releases/issues/84
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-copybutton
sphinxcontrib-django
sphinxcontrib-httpdomain
sphinxcontrib-spelling

-e src/
