DEBUG=0
SECRET_KEY=foo
DATABASE=postgres
POSTGRES_DB=eventyay_prod
POSTGRES_USER=CHANGEME_user
POSTGRES_PASSWORD=CHANGEME_pass
POSTGRES_HOST=eventyay-next-db
POSTGRES_PORT=5432
WATCHTOWER_NOTIFICATION_URL=
