{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html{% if rtl %} dir="rtl" class="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/auth.scss" %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretixcontrol/scss/main.scss" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "pages/css/quill.snow.css" %}">
        <link type="text/css" rel="stylesheet" href="{% static "pages/css/quill-edit.css" %}">
    {% endcompress %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href='{% url "control:index" %}'>
                    <img src='{% static "pretixbase/img/eventyay-icon.svg" %}' />
                    {{ django_settings.INSTANCE_NAME }}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-top-links navbar-right flip">
                <li>
                    <a href='{% url "api-v1:pages.faq.view" page="faq" %}' title='{% trans "FAQ" %}' >
                        <i class="fa fa-question"></i> {% trans "Frequently asked question" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<div class="container">
    {% block content %}
    {% endblock %}
    <footer>
        {% with "href='https://eventyay.com'" as a_attr %}
            {% blocktrans trimmed %}
                powered by <a {{ a_attr }}>eventyay</a>
            {% endblocktrans %}
        {% endwith %}
    </footer>
</div>
</body>
</html>
