{% load i18n %}

<div class="submit-group search-submit-group">
    <form class="search-form" id="review-filter-form">
        {{ filter_form.q.as_field_group }}
        {% if show_submission_types and filter_form.submission_type %}{{ filter_form.submission_type.as_field_group }}{% endif %}
        <div class="d-flex flex-column form-group">
            {{ filter_form.state.as_field_group }}
            <div id="pending" class="d-none">{{ filter_form.pending_state__isnull.as_field_group %}</div>
        </div>
        {% if filter_form.track %}{{ filter_form.track.as_field_group }}{% endif %}
        {% if filter_form.content_locale %}{{ filter_form.content_locale.as_field_group }}{% endif %}
        {% if filter_form.tags %}{{ filter_form.tags.as_field_group }}{% endif %}
        {% if max_review_count and max_review_count > 1 %}
            <div id="range-wrapper">
                <input type="text" id="review-count" name="review-count" data-max="{{ max_review_count }}"/>
                <label for="review-count" class="pt-0">{% translate "Number of reviews" %}</label>
            </div>
        {% endif %}
        <div class="form-group w-auto">
            <button class="btn btn-success" type="submit">{% translate "Search" %}</button>
        </div>
    </form>
    {% if filter_form.is_valid and filter_form.cleaned_data.question %}
        <p class="text-muted ml-2">
            <span class="fa fa-filter"></span>
            {% blocktranslate trimmed with question=filter_form.cleaned_data.question.question %}
                List filtered by answers to question “{{ question }}”.
            {% endblocktranslate %}
            <a href="{% querystring question="" answer="" answer__options="" %}" class="text-muted">
                <span class="fa fa-times"></span>
                {% translate "Remove filter" %}
            </a>
        </p>
    {% endif %}
</div>
