{% extends "eventyay_common/auth/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block content %}
	<form class="form-signin" action="" method="post">
        <h3>{% translate "Password recovery" %}</h3>
        {% csrf_token %}
        {% bootstrap_form_errors form type='all' layout='inline' %}
        {% bootstrap_field form.email %}
		<div class="form-group buttons">

            <button type="submit" class="btn btn-primary">
                {% translate "Send recovery information" %}
            </button>
		</div>
	</form>
{% endblock %}
