<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.10.1/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.10.1/css/react-select.css"/>
</head>
<body>
<!-- Dependencies for client view and component view -->
<script src="https://source.zoom.us/2.10.1/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/2.10.1/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/2.10.1/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/2.10.1/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/2.10.1/lib/vendor/lodash.min.js"></script>

<!-- CDN for client view -->
<script src="https://source.zoom.us/zoom-meeting-2.10.1.min.js"></script>

<script>
	ZoomMtg.setZoomJSLib('https://source.zoom.us/2.10.1/lib', '/av');
	ZoomMtg.preLoadWasm();
	ZoomMtg.prepareWebSDK()
    {% if langurl %}
		ZoomMtg.i18n.load('{{ langurl }}', '{{ lang }}');
		ZoomMtg.i18n.reload('{{ langurl }}', '{{ lang }}');
    {% else %}
		ZoomMtg.i18n.load('{{ lang }}');
		ZoomMtg.i18n.reload('{{ lang }}');
    {% endif %}
	ZoomMtg.init({
		debug: {% if debug %}true{% else %}false{% endif %},
		leaveUrl: '/zoom/ended/',
        isSupportAV: true,
        isSupportChat: {% if support_chat %}true{% else %}false{% endif %},
        showMeetingHeader: false,
        disableInvite: true,
        disableCallOut: true,
        disableInvite: true,
        meetingInfo: ['topic', 'host', 'telPwd', 'participant', 'dc', 'enctype', 'report'],
		success: function() {
			ZoomMtg.join({
				signature: '{{ signature }}',
				sdkKey: '{{ api_key }}',
				meetingNumber: '{{ meeting_number }}',
				userName: '{{ user_name }}',
                userEmail: '{{ user_email }}',
				passWord: '{{ password }}',
				error: function(res) {
					console.log(res);
				},
			});
		},
		error: function(res) {
			console.log(res);
		},
	});
</script>
</body>
</html>
