{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load copyable %}
{% load i18n %}
{% load static %}
{% block scripts %}

    {% compress js %}
        <script defer src="{% static "vendored/moment-with-locales.js" %}"></script>
        <script defer src="{% static "vendored/moment-timezone-with-data-2012-2022.js" %}"></script>
        <script defer src="{% static "vendored/datetimepicker/bootstrap-datetimepicker.js" %}"></script>
        <script defer src="{% static "orga/js/datetimepicker.js" %}"></script>
        <script defer src="{% static "pretalx_venueless/settings.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}

    {% if connect_in_progress %}
        <h2>{% trans "Confirm your Venueless connection" %}</h2>
        <div class="alert alert-info">
            <div>
                {% blocktranslate trimmed %}
                    <b>Venueless</b> is asking to connect to your pretalx event. If you confirm
                    this connection, pretalx will notify Venueless about all schedule changes.
                {% endblocktranslate %}
            </div>
        </div>
    {% else %}
        <h2>{% trans "Venueless" %}</h2>
    {% endif %}
    {% if last_push %}
        <div class="alert alert-success">
            {% blocktranslate trimmed with last_push=last_push %}
                Successfully connected to venueless. Data was last pushed on {{ last_push }}.
            {% endblocktranslate %}
        </div>
    {% elif not connect_in_progress %}
        <div class="alert alert-warning">
            <div>
                {% blocktranslate trimmed %}
                    Setting up the connection with Venueless will configure the pretalx settings
                    in Venueless, and will automatically push schedule changes to venueless users.
                    Please use Venueless to begin this process. Go to <b>Config → Event</b> in Venueless,
                    and enter the following settings to create the connection:
                {% endblocktranslate %}
                <ul>
                    <li>pretalx domain:
                        {{ request.event.custom_domain|default:settings.SITE_URL|copyable }}
                    </li>
                    <li>
                        pretalx event slug: {{ request.event.slug|copyable }}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h2>{% translate "Main settings" %}</h2>
        <p>
            {% blocktranslate trimmed %}
                These settings will get filled in automatically when you set up
                your event with venueless. Please follow the instructions at the
                top of this page!
            {% endblocktranslate %}
        </p>

        {% bootstrap_form_errors form %}

        {% bootstrap_field form.url layout='event' %}
        {% bootstrap_field form.token layout='event' %}
        {% bootstrap_field form.return_url layout='event' %}

        <h2>{% translate "Join link settings" %}</h2>
        <p>
            {% blocktranslate trimmed %}
                These settings are only required if you want to distribute the sign-up links to
                venueless for your speakers by way of pretalx.
            {% endblocktranslate %}
        </p>

        {% bootstrap_field form.show_join_link layout='event' %}
        <div id="join-link-settings">
            {% bootstrap_field form.join_url layout='event' %}
            {% bootstrap_field form.secret layout='event' %}
            {% bootstrap_field form.issuer layout='event' %}
            {% bootstrap_field form.audience layout='event' %}
            {% bootstrap_field form.join_start layout='event' %}
            {% bootstrap_field form.join_text layout='event' %}
        </div>

        <div class="submit-group panel">
            <span></span>
            <span class="d-flex flex-row-reverse">
                <button
                    type="submit" class="btn btn-success btn-lg"
                    name="action" value="save"
                >
                    <i class="fa fa-check"></i>
                    {% if connect_in_progress %}
                        {% trans "Connect" %}
                    {% else %}
                        {% trans "Save" %}
                    {% endif %}
                </button>
            </span>
        </div>
    </form>

{% endblock %}
