env/
*.coverage
htmlcov/
.ropeproject
*.sqlite3
*.db
*.py[cod]
*.swp
*.aux
*.log
*.toc
*.mo
*~
.ropeproject
__pycache__/
.idea
.secret
atlassian-ide-plugin.xml
.project
.pydevproject
.DS_Store
data/media
static.dist/
node_modules
docker-compose.override.yml

