{% load i18n %}
<div class="panel-heading">
    <h3 class="panel-title">
        {% trans "Event organizer" %}
    </h3>
</div>
<div class="panel-body timeline">
    <div class="info-row">
        {% trans "This event is organized by" %} <strong>{{ request.organizer }}</strong>
    </div>
    <div class="info-row">
        {% trans "Teams of the organizer are" %} 
        <span></span>
        {% for name in organizer_teams %}
            <strong>{{ name }}</strong>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
</div>
