{% load i18n %}
<ul class="dropdown-menu dropdown-menu-right">
    {% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="png" as png_url %}
    {% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="svg" as svg_url %}
    {% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="jpeg" as jpeg_url %}
    {% url "control:event.qrcode" event=request.event.slug organizer=request.organizer.slug filetype="gif" as gif_url %}
    <li>
        <a href="{{ png_url }}{% if url %}?url={{ url|urlencode }}{% endif %}" target="_blank" download>
            {% blocktrans with filetype="PNG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
        </a>
    </li>
    <li>
        <a href="{{ svg_url }}{% if url %}?url={{ url|urlencode }}{% endif %}" target="_blank" download>
            {% blocktrans with filetype="SVG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
        </a>
    </li>
    <li>
        <a href="{{ jpeg_url }}{% if url %}?url={{ url|urlencode }}{% endif %}" target="_blank" download>
            {% blocktrans with filetype="JPG" %}Download QR code as {{ filetype }} image{% endblocktrans %}
        </a>
    </li>
    <li>
        <a href="{{ gif_url }}{% if url %}?url={{ url|urlencode }}{% endif %}" target="_blank" download>
            {% blocktrans with filetype="GIF" %}Download QR code as {{ filetype }} image{% endblocktrans %}
        </a>
    </li>
</ul>
