.talk-title small {
  color: #666;
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  display: block;
}

.talk.feedback-list {
  flex-direction: column;

  .feedback-box {
    margin: 20px;

    .fa.quote {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.56);
    }
    .feedback-text {
      padding-left: 40px;
    }
  }
}
.talk {
  display: flex;
  flex-direction: row;

  .talk-content {
    .abstract {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-weight: 500;
    }
  }

  .speakers {
    border: 1px solid #4CAF50;
    border-top: 4px solid #4CAF50;
    background-color: rgba(255, 255, 255, 0.76);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    padding: 5px 10px;

    .speaker-header {
      font-weight: bold;
    }

    .speaker {
      margin-top: 8px;
      padding-top: 8px;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      .info {
        margin-left: 8px;
      }
    }
  }
}
