.talk-title small {
  font-size: 18px;
  padding-top: 5px;
  display: block;
}

.talk-title small,
.talk-slot {
  color: lighten($gray-800, 25%);
}

.talk.feedback-list {
  flex-direction: column;

  .feedback-box {
    margin: 20px;

    .quote {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.56);
    }

    .feedback-text {
      padding-left: 40px;
    }
  }
}

.talk {
  display: flex;
  flex-direction: row;

  .talk-content {
    .talk-slots {
      padding: 0;
      list-style: none;
    }

    .abstract {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      font-weight: bold;
    }
  }

  .speakers {
    border: 1px solid lighten($brand-primary, 25%);
    border-top: 4px solid lighten($brand-primary, 25%);
    background-color: rgba(255, 255, 255, 0.76);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    padding: 5px 10px;

    &.image {
      padding: 10px;
    }

    img {
      max-width: 100%;
    }

    .speaker-header {
      font-weight: bold;
    }

    .speaker {
      margin-top: 8px;
      padding-top: 8px;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);

      .name {
        font-weight: bold;
      }

      .info {
        margin-left: 8px;
      }
    }
  }
}

.speaker-container {
  display: flex;
  flex-direction: column;

  .speaker-info {
    display: flex;
    flex-direction: row;

    .speaker-bio {
      flex: 1;
    }

    .speaker-avatar {
      width: 120px;
      margin-left: 8px;

      > img {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }

  hr {
    max-width: 95%;
  }

  a:hover {
    text-decoration: none !important;
  }

  .talk {
    display: flex;
    flex-direction: column;
    border: 1px solid lighten($brand-primary, 25%);
    border-top: 4px solid lighten($brand-primary, 25%);
    padding: 8px;
    margin-bottom: 16px;
    color: black;

    &:hover,
    &:hover .talk-title {
      background-color: $gray-lightest;
    }
  }
}
