.talk-title small {
  font-size: 18px;
  padding-top: 5px;
  display: block;
}

.talk-title small,
.talk-slot {
  color: lighten($gray-800, 25%);
}

.talk.feedback-list {
  flex-direction: column;

  .feedback-box {
    margin: 20px;

    .quote {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.56);
    }

    .feedback-text {
      padding-left: 40px;
    }
  }
}

.talk {
  display: flex;
  flex-direction: row;

  .talk-content {
    padding: 0 18px;
    width: 100%;

    .talk-slots {
      list-style: none;
    }

    .abstract {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      font-weight: bold;
    }
    .talk-image {
      float: right;
      max-width: 380px;
      padding: 24px;
      img {
        max-width: 100%;
      }
    }
  }
}

.speaker-container {
  display: flex;
  flex-direction: column;

  .speaker-info {
    display: flex;
    flex-direction: row;

    .speaker-bio {
      flex: 1;
    }

    .speaker-avatar {
      width: 120px;
      margin-left: 8px;
    }
  }

  hr {
    max-width: 95%;
  }

  a:hover {
    text-decoration: none !important;
  }

  .talk {
    display: flex;
    flex-direction: column;
    border: 1px solid lighten($brand-primary, 25%);
    border-top: 4px solid lighten($brand-primary, 25%);
    padding: 8px;
    margin-bottom: 16px;
    color: black;

    &:hover,
    &:hover .talk-title {
      background-color: $gray-lightest;
    }
  }
}
