.talk-title small {
  color: lighten($gray-800, 25%);
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  display: block;
}

.talk.feedback-list {
  flex-direction: column;

  .feedback-box {
    margin: 20px;

    .fa.quote {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.56);
    }
    .feedback-text {
      padding-left: 40px;
    }
  }
}
.talk {
  display: flex;
  flex-direction: row;

  .talk-content {
    .abstract {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-weight: 500;
    }
  }

  .speakers {
    border: 1px solid lighten($brand-primary, 25%);
    border-top: 4px solid lighten($brand-primary, 25%);
    background-color: rgba(255, 255, 255, 0.76);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    padding: 5px 10px;

    .speaker-header {
      font-weight: bold;
    }

    .speaker {
      margin-top: 8px;
      padding-top: 8px;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      .name {
        font-weight: bold;
      }
      .info {
        margin-left: 8px;
      }
    }
  }
}
.speaker-container {
  display: flex;
  flex-direction: column;

  .speaker-info {
    display: flex;
    flex-direction: row;
    .speaker-bio {
      min-width: 60%;
      flex-grow: 1;
    }
    .speaker-info {
      max-width: 320px;
      display: flex;
      flex-direction: column;
    }
  }
  hr {
    max-width: 95%;
  }
  .talk {
    display: flex;
    flex-direction: column;
    border: 1px solid lighten($brand-primary, 25%);
    border-top: 4px solid lighten($brand-primary, 25%);
    padding: 8px;
    margin-bottom: 16px;
    color: black;

    &:hover {
      background-color: #eee;
      text-decoration: none !important;
    }
  }
}
