#fahrplan {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: right;
    width: 90%;

    .day {
        background-color: #f1f4f9;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;

        .date {
            background-color: #f1f4f9;
            display: inline-block;
            font-weight: 500;
            margin-left: -100px;
            padding: 4px;
        }

        .rooms {
            display: flex;
            flex-direction: row;
            .room {
                width: 90%;

                .room-header {
                    border-bottom: 4px solid #1C4A3B;
                    font-size: 16pt;
                    font-weight: 500;
                    text-align: center;
                }

                .talk-container {
                    margin: 8px;
                    position: relative;
                    :hover {
                        background-color: #7a9;
                    }
                }
                .talk {
                    background-color: #8ba;
                    display: block;
                    position: absolute;
                    width: 100%;


                    .talk-title, .talk-time {
                        margin-left: 12px;
                    }
                    .talk-title {
                        font-weight: 500;
                    }
                    .talk-speakers {
                        font-style: italic;
                    }

                }
            }
        }
        .no-talks {
            text-align: center;
        }
    }
}
