{% extends "common/error.html" %}
{% load i18n %}
{% load static %}
{% block error_image %}<img src="{% static "common/img/error_5xx.svg" %}" class="img" alt="{% translate "Verification failed." %}">{% endblock %}
{% block error_message %}
    <p>{% translate "Verification failed." %}<br></p></h2>
<h3><p class="ml-auto mr-auto text-center">
    {% blocktranslate trimmed %}
    We could not verify that this request really was sent by you. For security reasons, we cannot process it.<br>
    Please go back to the last page, refresh, and then try again.
    {% endblocktranslate %}
    </p>
</h3><h2>
{% endblock %}
{% block error_code %}403: CSRF{% endblock %}
