{% extends "pretixpresale/organizers/base.html" %}
{% load i18n %}
{% load eventurl %}
{% load urlreplace %}
{% load money %}
{% load bootstrap3 %}
{% block title %}{% trans "Your account profile" %}{% endblock %}
{% block content %}
    <h2>
        {% trans "Your Account Profile" %}
    </h2>
    <div class="panel panel-default items">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Information" %}
            </h3>
        </div>
        <div class="panel-body">
            <div class="info-list">
                <div class="info-item">
                    <span class="info-label">{% trans "ID" %}</span>
                    <span class="info-value">#{{ customer.identifier }}</span>
                </div>
                {% if customer.provider %}
                    <div class="info-item">
                        <span class="info-label">{% trans "Login method" %}</span>
                        <span class="info-value">{{ customer.provider.name }}</span>
                    </div>
                {% endif %}
                <div class="info-item">
                    <span class="info-label">{% trans "E-mail" %}</span>
                    <span class="info-value">{{ customer.email }}</span>
                </div>
                <div class="info-item">
                    <span class="info-label">{% trans "Name" %}</span>
                    <span class="info-value">{{ customer.name }}</span>
                </div>
            </div>
            <div class="text-right" >
                <a href="{% eventurl request.organizer "presale:organizer.customer.change" %}"
                        class="btn btn-info">
                        <i class="fa fa-user"></i> <i class="fa fa-edit"></i>
                    {% trans "Change information" %}
                </a>
                {% if not customer.provider %}
                    <a href="{% eventurl request.organizer "presale:organizer.customer.password" %}"
                            class="btn btn-info">
                            <i class="fa fa-lock"></i> <i class="fa fa-edit"></i>
                        {% trans "Change password" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
