{% extends "pretixpresale/organizers/base.html" %}
{% load i18n %}
{% load eventurl %}
{% load urlreplace %}
{% load money %}
{% load bootstrap3 %}
{% load compress %}
{% block title %}{% trans "Your orders" %}{% endblock %}
{% block content %}
    <div class="panel panel-default items">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% trans "Orders" %}
            </h3>
        </div>
        <table class="panel-body table table-hover">
            <thead>
            <tr>
                <th>{% trans "Order code" %}</th>
                <th>{% trans "Event" %}</th>
                <th>{% trans "Order date" %}</th>
                <th class="text-right">{% trans "Order total" %}</th>
                <th class="text-right">{% trans "Positions" %}</th>
                <th class="text-right">{% trans "Status" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for o in orders %}
                <tr>
                    <td>
                        <strong>
                            <a href="{% abseventurl o.event "presale:event.order" order=o.code secret=o.secret %}" target="_blank">
                                {{ o.code }}
                            </a>
                        </strong>
                        {% if o.testmode %}
                            <span class="label label-warning">{% trans "TEST MODE" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ o.event }}
                    </td>
                    <td>
                        {{ o.datetime|date:"SHORT_DATETIME_FORMAT" }}
                        {% if o.customer_id != customer.pk %}
                            <span class="fa fa-link text-muted"
                                    data-toggle="tooltip"
                                    title="{% trans "Matched to the account based on the email address." %}"
                            ></span>
                        {% endif %}
                    </td>
                    <td class="text-right flip">
                        {{ o.total|money:o.event.currency }}
                    </td>
                    <td class="text-right flip">{{ o.count_positions|default_if_none:"0" }}</td>
                    <td class="text-right flip">{% include "pretixpresale/event/fragment_order_status.html" with order=o event=o.event %}</td>
                    <td class="text-right flip">
                        <a href="{% abseventurl o.event "presale:event.order" order=o.code secret=o.secret %}"
                                target="_blank"
                                class="btn btn-default">
                            {% trans "Details" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "pretixcontrol/pagination.html" %}
    </div>
{% endblock %}