{% load i18n %}
<div class="navigation-button">
    {% if request.organizer and request.event %}
        <a href="#" class="header-nav btn btn-outline-success active">
            <i class="fa fa-home"></i> {% trans "Home" %}
        </a>
        <a href='{% url "control:event.index" organizer=request.organizer.slug event=request.event.slug %}' class="header-nav btn btn-outline-success">
            <i class="fa fa-ticket"></i> {% trans "Tickets" %}
        </a>
        {% if is_talk_event_created %}
        <a href="{{ request.event.talk_dashboard_url }}" class="header-nav btn btn-outline-success">
            <i class="fa fa-group"></i> {% trans "Talk" %}
        </a>
        {% endif %}
        {% if is_video_enabled %}
            <a class="header-nav btn btn-outline-success"
               href='{% url "eventyay_common:event.create_access_to_video" organizer=request.organizer.slug event=request.event.slug %}'
               title="{% trans 'Access videos related to this event' %}">
                <i class="fa fa-video-camera"></i> {% trans "Videos" %}
            </a>
        {% endif %}
    {% endif %}
</div>
