{% extends "eventyay_common/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load hierarkey_form %}
{% load formset_tags %}
{% block title %}{% trans "General settings" %}{% endblock %}
{% block custom_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% url "control:pdf.css" %}'>
{% endblock %}
{% block inside %}
    <nav id="event-nav" class="header-nav">
        <div class="navigation">
            <div class="navigation-title">
                <h1>{{ request.event.name }} {% trans "- Settings" %}</h1>
            </div>
            <div class="navigation-button">
                <a href="#" class="header-nav btn btn-outline-success active">
                    <i class="fa fa-home"></i> {% trans "Home" %}
                </a>
                <a href='{% url "control:event.index" organizer=request.organizer.slug event=request.event.slug %}'
                   class="header-nav btn btn-outline-success">
                    <i class="fa fa-ticket"></i> {% trans "Tickets" %}
                </a>
                {% if is_talk_event_created %}
                <a href="{{ request.event.talk_dashboard_url }}" class="header-nav btn btn-outline-success">
                    <i class="fa fa-group"></i> {% trans "Talk" %}
                </a>
                {% endif %}
                {% if is_video_enabled %}
                    <a class="header-nav btn btn-outline-success"
                       href='{% url "eventyay_common:event.create_access_to_video" organizer=request.organizer.slug event=request.event.slug %}'
                       title="{% trans 'Access videos related to this event' %}">
                        <i class="fa fa-video-camera"></i> {% trans "Videos" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="tabbed-form">
            <fieldset>
                <legend>{% trans "Basics" %}</legend>
                {% bootstrap_field form.name layout="control" %}
                {% bootstrap_field form.slug layout="control" %}
                {% bootstrap_field form.date_from layout="control" %}
                {% bootstrap_field form.date_to layout="control" %}
                {% bootstrap_field form.currency layout="control" %}
                {% bootstrap_field form.sales_channels layout="control" %}
                <div class="form-group">
                    <label for="{{ form.is_video_creation.id_for_label }}" class="control-label col-md-3">
                        {% trans "Create video platform" %}
                    </label>
                    <div class="col-md-9">
                        <div class="checkbox">
                            <label>
                                {{ form.is_video_creation }}
                                <span> Create video platform for event</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="setting-part">
                    <div class="form-group setting-form">
                        <label class="col-md-3 control-label">{% trans "Setting for Tickets system" %}</label>
                        <div class="col-md-9 col-value">
                            <label class="enabled">
                                {% trans "Enabled" %}
                            </label>
                            <a href='{% url "control:event.index" organizer=request.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Dashboard" %}'
                            data-toggle="tooltip">
                                <span class="fa fa-dashboard"></span>
                            </a>
                            <a href='{% url "control:event.settings" organizer=request.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Setting" %}'
                            data-toggle="tooltip">
                                <span class="fa fa-edit"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group setting-form">
                        <label class="col-md-3 control-label">{% trans "Setting for Talk system" %}</label>
                        <div class="col-md-9 col-value">
                            {% if is_talk_event_created %}
                                <label class="enabled">{% trans "Enabled" %}</label>
                                <a href='{{ request.event.talk_dashboard_url }}'
                                    class="btn btn-sm btn-default" title='{% trans "Dashboard" %}'
                                    data-toggle="tooltip">
                                    <span class="fa fa-dashboard"></span>
                                </a>
                                <a href='{{ request.event.talk_settings_url }}'
                                    class="btn btn-sm btn-default" title='{% trans "Settings" %}'
                                    data-toggle="tooltip">
                                    <span class="fa fa-edit"></span>
                                </a>
                            {% else %}
                                <label class="disabled">{% trans "Disabled" %}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group custom-form">
                        <label class="col-md-3 control-label">{% trans "Setting for Video system" %}</label>
                        <div class="col-md-9 col-value">
                            {% if is_video_enabled %}
                                <label class="enabled">{% trans "Enabled" %}</label>
                                <a href='{% url "eventyay_common:event.create_access_to_video" organizer=request.organizer.slug event=request.event.slug %}'
                                        class="btn btn-sm btn-default" title='{% trans "Video Configuration" %}'
                                        data-toggle="tooltip">
                                    <span class="fa fa-edit"></span>
                                </a>
                            {% else %}
                                <label class="disabled">{% trans "Disabled" %}</label>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{% trans "Localization" %}</legend>
                {% bootstrap_field sform.locales layout="control" %}
                {% bootstrap_field sform.locale layout="control" %}
                {% bootstrap_field sform.timezone layout="control" %}
            </fieldset>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
