{% extends "eventyay_common/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load hierarkey_form %}
{% load formset_tags %}
{% block title %}{% trans "General settings" %}{% endblock %}
{% block custom_header %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% url "control:pdf.css" %}">
{% endblock %}
{% block inside %}
    <h1>{{ request.event.name }} {% trans "- Settings" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <div class="tabbed-form">
            <fieldset>
                <legend>{% trans "Basics" %}</legend>
                {% bootstrap_field form.name layout="control" %}
                {% bootstrap_field form.slug layout="control" %}
                {% bootstrap_field form.date_from layout="control" %}
                {% bootstrap_field form.date_to layout="control" %}
                {% bootstrap_field form.currency layout="control" %}
                {% bootstrap_field form.sales_channels layout="control" %}
            </fieldset>
            <fieldset>
                <legend>{% trans "Localization" %}</legend>
                {% bootstrap_field sform.locales layout="control" %}
                {% bootstrap_field sform.locale layout="control" %}
                {% bootstrap_field sform.timezone layout="control" %}
            </fieldset>
        </div>
        <fieldset>
            <h4>{% trans "Setting for Tickets system" %}
                <a href='{% url "control:event.settings" organizer=request.organizer.slug event=request.event.slug %}'
                        class="btn btn-sm btn-default" title='{% trans "Edit" %}'
                        data-toggle="tooltip">
                    <span class="fa fa-edit"></span>
                </a>
            </h4>
        </fieldset>
        <fieldset>
            <h4>{% trans "Setting for Talk system" %}
                <a href='{{ talk_edit_url }}'
                        class="btn btn-sm btn-default" title='{% trans "Edit" %}'
                        data-toggle="tooltip">
                    <span class="fa fa-edit"></span>
                </a>
            </h4>
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
