.dashboard-list {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.dashboard-list .dashboard-block-wrapper {
  padding: 0;
  max-width: 100%;
}

.dashboard-list .dashboard-block-wrapper > .dashboard-block {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.dashboard-list .dashboard-block-extension {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.dashboard-list .dashboard-block-addon {
  flex: 1;
  font-weight: 400;
}

.dashboard-list .dashboard-block-addon:first-child {
  border-right: 2px solid var(--color-grey-light);
}

.dashboard-list .dashboard-block-addon:hover {
  background: var(--color-grey-lightest);
  color: var(--color-primary);
  text-decoration: none;
}

.dashboard-list .dashboard-block-addon-success {
  color: var(--color-grey-lightest);
  background-color: var(--color-success);
}

.dashboard-list .dashboard-block-addon-info {
  color: var(--color-grey-lightest);
  background-color: var(--color-info);
}

.dashboard-list .dashboard-block-addon-secondary {
  color: var(--color-grey-lightest);
  background-color: var(--color-secondary);
}

.dashboard-list .dashboard-block {
  color: var(--color-primary);
  background: var(--color-grey-ultralight);
  overflow-wrap: break-word;
}

.dashboard-list .dashboard-block.dashboard-block-extended {
  min-height: 100px;
}

.dashboard-list .dashboard-block:hover {
  color: var(--color-primary-text-dark);
  background-color: var(--color-grey-pale);
  text-decoration: none;
}

.dashboard-list .dashboard-block.symbol {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.dashboard-list .dashboard-block.symbol i {
  font-size: 56px;
}

.dashboard-list .dashboard-block.symbol .icon-calendar-series-svg {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  color: inherit;
}

.dashboard-list .dashboard-block h1 {
  font-size: 36px;
  font-weight: normal;
}

.dashboard-list .dashboard-block h1 .fa {
  padding-right: 0.3em;
}

.dashboard-list .dashboard-description {
  padding: 0 8px;
  font-size: 20px;
}

.dashboard-list .dashboard-description ul {
  text-align: left;
}

.dashboard-list > .dashboard-block,
.dashboard-list > .dashboard-block-wrapper {
  margin: 8px;
  padding: 12px 4px;
  min-height: 160px;
  width: 340px;
  max-width: calc(100% - 16px);
  border-radius: 4px;
  user-select: none;
}

.dashboard-block-wrapper,
.dashboard-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  position: relative;
  text-align: center;
}
