{% extends "control/base.html" %}
{% load i18n %}

{% block content %}

<p>
    <a href="{% url "control:streamingserver.create" %}" class="btn">
    {% trans "Add new server" %}
    </a>
</p>
<table>
    <thead>
    <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Name" %}</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for s in streamings %}
    <tr class="{% if not s.active %}deleted{% endif %}">
        <td>
            <b>{{ s.pk }}</b>
        </td>
        <td>
            {{ s.name }}
        </td>
        <td class="text-right">
            <a href="{% url 'control:streamingserver.delete' pk=s.pk %}">
                {% trans "Delete" %}
            </a>
        </td>
        <td class="text-right">
            <a href="{% url 'control:streamingserver.update' pk=s.pk %}">
                {% trans "Edit" %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
