{% extends "orga/base.html" %}
{% load i18n %}
{% block headline %}
    {% trans "Settings" %}
{% endblock %}
{% block content %}
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link {% if "settings.event" in url_name %}active{% endif %}"
          href="{% url "orga:settings.event.view" event=request.event.slug %}"
        >
            {% trans "Event" %}
                </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if "settings.team" in url_name %}active{% endif %}"
          href="{% url "orga:settings.team.view" event=request.event.slug %}"
        >
            {% trans "Team" %}
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link {% if "settings.mail" in url_name %}active{% endif %}"
             href="{% url "orga:settings.mail.view" event=request.event.slug %}">
            {% trans "E-mail" %}
          </a>
      </li>
    </ul>

    <div class="flex-container">
        <div class="flex-content">
            {% block settings_content %}
            {% endblock %}
        </div>
        <div class="flex-sidebar">
            {% include "common/logs.html" with obj=request.event %}
        </div>
    </div>

{% endblock %}
