{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block settings_content %}

<div class="flex-container"><div class="flex-content">

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>
            {% trans "Step One: Fill in your basic information." %}
        </legend>
        <div class="alert alert-info">
            {% trans "Don't worry if you don't know something yet – you can always come back later!" %}
        </div>

        {% bootstrap_field form.name layout='event' %}
        {% bootstrap_field form.slug layout='event' addon_before=url_placeholder addon_before_class="input-group-prepend input-group-text" %}
        {% bootstrap_field form.locale layout='event' %}
        {% bootstrap_field form.locales layout='event' %}
        {% bootstrap_field form.date_from layout='event' %}
        {% bootstrap_field form.date_to layout='event' %}
        {% bootstrap_field form.timezone layout='event' %}
        {% bootstrap_field form.email layout='event' %}
        {% bootstrap_field form.logo layout='event' %}
        {% bootstrap_field form.landing_page_text layout='event' %}

        <div class="form-group row">
            <div class="ml-auto col-md-9">
                <button type="submit" class="btn btn-success">{% trans "Create event" %}</button>
            </div>
        </div>
    </form>
</div></div>

{% endblock %}
