{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block settings_content %}

<div class="flex-container"><div class="flex-content">

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>
            {% trans "Step One: Fill in your basic information." %}
        </legend>
        <div class="alert alert-info">
            {% trans "Don't worry if you don't know something yet – you can always come back later!" %}
        </div>
        {% bootstrap_form form layout='event' %}
        {% if sform %}
            {% bootstrap_form sform layout='event' %}
        {% endif %}
        <div class="form-group row">
            <div class="ml-auto col-md-9">
                <button type="submit" class="btn btn-primary">{% trans "Create event" %}</button>
            </div>
        </div>
    </form>
</div></div>

{% endblock %}
