{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block settings_content %}

<div class="flex-container"><div class="flex-content">

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>
            {% trans "General information" %}
        </legend>

        {% bootstrap_field form.name layout='horizontal' %}
        {% bootstrap_field form.slug layout='horizontal' %}
        {% bootstrap_field form.date_from layout='horizontal' %}
        {% bootstrap_field form.date_to layout='horizontal' %}
        {% bootstrap_field form.email layout='horizontal' %}

        <legend>
            {% trans "Display settings" %}
        </legend>
        {% bootstrap_field form.timezone layout='horizontal' %}
        {% bootstrap_field form.locale layout='horizontal' %}
        {% bootstrap_field form.primary_color layout='horizontal' %}
        {% bootstrap_field form.custom_css layout='horizontal' %}
        {% bootstrap_field form.logo layout='horizontal' %}
        {% bootstrap_field sform.show_schedule layout='horizontal' %}

        <div class="form-group row">
            <div class="ml-auto col-md-9">
                {% if action == "edit" %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                {% elif action == "view" %}
                    <a class="btn btn-primary" href={{ request.event.orga_urls.edit_settings }}>{% trans "Edit" %}</a>
                {% endif %}
            </div>
        </div>
    </form>
</div></div>

{% endblock %}
