{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block settings_content %}
    <form method="post">
        {% csrf_token %}
        <h2>{% trans "E-mail settings" %}</h2>
        <div class="alert alert-info offset-3">
            {% blocktrans trimmed %}
                If you don't configure custom email settings, the global configuration
                for this server will be used (ask your administrator for details).<br>
                We recommend that you add email settings here explicitly.
            {% endblocktrans %}
        </div>
        {% bootstrap_form form layout='event' %}
        <div class="submit-group panel">
            <span></span>
            <span>
                {% if action == "edit" or action == "create" %}
                    <button type="submit" class="btn btn-lg btn-info">{% trans "Save" %}</button>
                    <button type="submit" class="btn btn-lg btn-success" name="test" value="1">
                        {% trans "Save and test custom SMTP connection" %}
                    </button>
                {% endif %}
            </span>
        </div>
    </form>
{% endblock %}
