{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block settings_content %}

    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "E-mail settings" %}</legend>
        {% bootstrap_form form layout='event' %}
        <div class="form-group row">
            <div class="ml-auto col-md-9">
                {% if action == "edit" or action == "create" %}
                    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                    <button type="submit" class="btn btn-info" name="test" value="1">
                        {% trans "Save and test custom SMTP connection" %}
                    </button>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
