{% extends "orga/settings/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block settings_content %}

<div>
    <div class="alert alert-info">
        {% if team|length < 4 %}{% if pending and pending|length < 3 %}
            {% trans "Teams of three people or less are somewhat small and provide more work for everyone. Why don't you invite some more team members?" %}<br>
            {% endif %}{% endif %}
        {% trans "To invite more members to your team, enter an email address below." %}
    </div>
    <legend>
        Team Member
        {% plural %}
        Team Members
        {% endblocktrans %}
    </legend>
            {% endfor %}
</div>
{% endblock %}
