{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load socialapp_extras %}

{% bootstrap_form_errors form %}
{% if no_form %}
    <div id="auth-form" class="password-input-form">
{% else %}
    <form id="auth-form" class="password-input-form" method="post" autocomplete="off">
{% endif %}
{% csrf_token %}
{% compress js %}
    <script defer src="{% static 'vendored/zxcvbn.js' %}"></script>
    <script defer src="{% static 'common/js/password_strength.js' %}"></script>
{% endcompress %}
<div class="panel-group" id="accordion">
    {% if not hide_login %}
        {% if request.event and request.event.organiser and request.event.organiser.slug %}
            {% socialapp_exists request.event.organiser.slug as eventyay_exists %}
            {% if eventyay_exists %}
                {% if not no_buttons %}
                <div class="text-center">
                    <a class="btn btn-lg btn-primary btn-block mt-3" href="{% provider_login_url request.event.organiser.slug %}?next=/{{ request.event.slug }}/schedule/">
                        {% translate "Login as Attendee with Eventyay-Ticket" %}
                    </a>
                </div>
                <hr>
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading text-center" id="headingOne">
                <a class="btn btn-lg btn-primary btn-block mt-3" href="/login">
                    {% translate "Login with SSO" %}
                </a>
            </div>
            <div id="collapseOne" class="auth-form-block panel-collapse collapse in" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% bootstrap_field form.login_email layout="inline" %}
                    {% bootstrap_field form.login_password layout="inline" %}
                    {% if not no_buttons %}
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            {% translate "Log in" %}
                        </button>
                    {% endif %}
                    {% if password_reset_link or request.event %}
                        <a class="btn btn-block btn-link" href="{% if password_reset_link %}{{ password_reset_link }}{% else %}{{ request.event.urls.reset }}{% endif %}">
                            {% translate "Reset password" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if not hide_register %}
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading text-center" id="headingTwo">
                <a class="btn btn-lg btn-primary btn-block mt-3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% translate "Register Speaker Account" %}
                </a>
            </div>
            <div id="collapseTwo" class="auth-form-block panel-collapse collapse in" aria-labelledby="headingTwo">
                <div class="panel-body">
                    {% bootstrap_field form.register_name layout="inline" %}
                    {% bootstrap_field form.register_email layout="inline" %}
                    {% bootstrap_field form.register_password layout="inline" %}
                    {% bootstrap_field form.register_password_repeat layout="inline" %}
                    {% if not no_buttons %}
                        <button type="submit" class="btn btn-lg btn-info btn-block">
                            {% translate "Register" %}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% if no_form %}</div>{% else %}</form>{% endif %}
