{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} :: {{ request.event }} :: pretalx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "common/img/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendored/fullcalendar/fullcalendar.min.css" %}"/>
    {% if request.event and request.event.settings.cfp_css_file %}
        <link rel="stylesheet" type="text/css" href="{{ request.event.settings.cfp_css_file }}"/>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "cfp/scss/main.scss" %}"/>
            <link type="text/x-scss" rel="stylesheet" href="{% static "agenda/scss/main.scss" %}" />
        {% endcompress %}
    {% endif %}
    {% compress js %}
        <script type="text/javascript" src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/popper.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/tether/tether.min.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/bootstrap/js/bootstrap.js" %}"></script>

        <script type="text/javascript" src="{% static "vendored/moment-with-locales.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/moment-timezone-with-data-2012-2022.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/fullcalendar/fullcalendar.min.js" %}"></script>
        <script type="text/javascript" src="{% static "common/js/availabilities.js" %}"></script>
    {% endcompress %}
    {% block custom_header %}
    {% endblock %}
    {% if request.event and request.event.custom_css %}
        <link rel="stylesheet" type="text/css" href="{{ request.event.custom_css.url }}"/>
    {% endif %}
</head>
<body>
<div id="wrapper">
    <div id="top-bg" class="bg-primary">
        {% if not request.event.is_public %}
            <div class="event-nonpublic">
                <span class="fa fa-user-secret"></span>
                {% blocktrans trimmed %}
                    This event is currently non-public. Only the orga team can see it.
                {% endblocktrans %}
            </div>
        {% endif %}
    </div>
    <div class="container" id="main-container">
        <header>
            <h1>
                <a href="{% block nav_link %}{% endblock %}">
                    {% if request.event and request.event.logo %}
                        <img src="{{ request.event.logo.url }}" id="event-logo"></img>
                    {% else %}
                        {{ request.event }}
                    {% endif %}
                </a>
            </h1>
            {% if request.event.locales|length > 1 %}
                <div class="locales">
                    {% for l, name in request.event.named_locales %}
                        <a href="{% url "cfp:locale.set" event=request.event.slug %}?locale={{ l }}&next={{ request.path }}%3F{{ request.META.QUERY_STRING|urlencode }}"
                                class="{% if l == request.LANGUAGE_CODE %}active{% endif %}">{{ name }}</a>
                    {% endfor %}
                    {% if request.user.is_anonymous %}
                    • <a href="{{ request.event.urls.login }}">login</a>
                    {% endif %}
                </div>
            {% endif %}
        </header>
        <section class="card" id="main">
            {% if request.user.is_authenticated %}
                <div class="user-row">
                    <div class="pull-right">
                        {% if request.is_orga %}
                        <a href="{{ request.event.orga_urls.base }}">{% trans "Orga area" %}</a> &middot;
                        {% endif %}
                        <a href="{% url "cfp:event.user.submissions" event=request.event.slug %}">
                            {% trans "My submissions" %}
                        </a> &middot;
                        <a href="{% url "cfp:event.logout" event=request.event.slug %}">{% trans "Logout" %}</a>
                    </div>
                    {% url "cfp:event.user.view" event=request.event.slug as userurl %}
                    {% blocktrans trimmed with nick=request.user.nick attr="href='"|add:userurl|add:"'"|safe %}
                        You are logged in as <a {{ attr }}>{{ nick }}</a>.
                    {% endblocktrans %}
                </div>
            {% endif %}
            <div class="content">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>
        </section>
        <footer>
            <a href="http://pretalx.org" target="_blank">
                <img src="{% static "common/img/logo.svg" %}">
            </a>
            &middot;
            <a href="mailto:{{ request.event.email }}">{% trans "Contact us" %}</a>
        </footer>
    </div>
</div>
</body>
</html>

