{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} :: pretalx</title>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "common/scss/error.scss" %}"/>
        {% endcompress %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        {% include "common/includes/favicon.html" %}
    </head>
    <body>
        <div id="wrapper">
            {% block error_image %}{% endblock %}
            <h2>{% block error_message %}{% endblock %}</h2>
            <h4 class="mt-4">HTTP {% block error_code %}{% endblock %}</h4>
        </div>
    </body>
</html>
