{% extends "common/error.html" %}

{% load i18n %}
{% load rich_text %}
{% load static %}

{% block title %}{% translate "Redirect" %}{% endblock title %}

{% block error_image %}<i class="fa fa-link fa-fw big-icon"></i>{% endblock error_image %}

{% block content %}
    <div class="error-details">
        <h1>{% translate "Redirect" %}</h1>
        <h3>
            {% blocktranslate trimmed with host="<strong>"|add:hostname|add:"</strong>"|safe %}
                The link you clicked on wants to redirect you to a destination on the website {{ host }}.
            {% endblocktranslate %}
            {% blocktranslate trimmed %}
                Please only proceed if you trust this website to be safe.
            {% endblocktranslate %}
        </h3>
        <p>
            <a href="{{ url }}" class="btn btn-primary btn-lg">
                {% blocktranslate trimmed with host=hostname %}
                    Proceed to {{ host }}
                {% endblocktranslate %}
            </a>
        </p>
    </div>
{% endblock content %}
