.ui-page-header
	flex: none
	display: flex
	align-items: center
	padding: 8px
	height: 56px
	box-sizing: border-box
	border-bottom: border-separator()

#app.has-background-room
	.ui-page-header
		padding-right: 8px + 280px + 4px

.user-badge
	margin-left: 4px
	position: relative
	top: -.1em
	display: inline-block
	font-size: 80%
	border: 2px solid $clr-primary
	padding: 1px 3px
	border-radius: 2px
	line-height: 1
