@import 'variables'
variables()
normalize-css()
base()
@import 'typography'
typography()
components()
scrollbars()
@import 'themed-buntpapier'
themed-buntpapier()
@import 'common-ui'

a
	color: var(--clr-primary)
	text-decoration: none

html, body, #app
	margin: 0
	height: 100%
	overflow: hidden

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space

.g-background-blocker
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: var(--vh100)
	z-index: 4999
