@import 'variables'
variables()
normalize-css()
base()
@import 'typography'
typography()
components()
scrollbars()
@import 'themed-buntpapier'
themed-buntpapier()

a
	color: var(--clr-primary)
	text-decoration: none

html, body, #app
	margin: 0
	height: 100%
	overflow: hidden

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space
