{% extends "pretixcontrol/organizers/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inner %}
    <h1>{% trans "Remove SSO Provider:" %} {{ provider.name }}</h1>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% if is_removable %}
            <p>{% blocktrans %}Are you sure you want to remove this SSO provider?{% endblocktrans %}
        {% else %}
            <p>{% blocktrans %}This SSO provider cannot be removed as it is currently in use.{% endblocktrans %}
        {% endif %}
        </p>
        <div class="form-group submit-group">
            <a href='{% url "control:organizer.ssoproviders" organizer=request.organizer.slug %}' class="btn btn-default btn-cancel">
                {% trans "Cancel" %}
            </a>
            {% if is_removable %}
                <button type="submit" class="btn btn-danger btn-save">
                    {% trans "Remove" %}
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
