{% load compress %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} :: pretalx</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "orga/scss/main.scss" %}"/>
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "common/img/favicon.png" %}">
    {% compress js %}
        <script type="text/javascript" src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        <script type="text/javascript" src="{% static "vendored/bootstrap-4-dev/dist/js/bootstrap.js" %}"></script>
    {% endcompress %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-static-top bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbartoggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{% static "common/img/icon_white.svg" %}"> pretalx
        </a>
        <div class="collapse navbar-collapse" id="navbartoggle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    {% if events.length > 1 or request.user.is_superuser %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            {{ event.name }}
                        </a>
                        <div class="dropdown-menu">
                            {% for e in events %}
                                {% if not event == e %}
                                <a class="dropdown-item" href="{% url "orga:event.view" event=e.slug %}">{{ event.name }}</a>
                                {% endif %}
                            {% endfor %}
                            <a class="dropdown-item" href="{% url "orga:event.create" %}">
                                <span class="fa fa-plus"></span>
                                New event
                            </a>
                        </div>
                    {% else %}
                        <a class="nav-link">
                            {{ event.name }}
                        </a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <span class="fa fa-user"></span>
                        {{ request.user.nick }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "orga:logout" %}">
                        <span class="fa fa-sign-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <nav class="nav flex-column sidebar">
            <a class="nav-link active" href="{% url "orga:dashboard" %}">
                <span class="fa fa-dashboard"></span> {% trans "Dashboard" %}
            </a>
            <a class="nav-link" href="{% url "orga:event.view" event=event.slug %}">
                <span class="fa fa-wrench"></span> {% trans "Event settings" %}
            </a>
        </nav>
        <div id="page-content">
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
                <footer>
                    {% with "href='https://github.com/rixx/pretalx'" as a_attr %}
                        {% blocktrans trimmed %}
                            powered by <a {{ a_attr }}>pretalx</a>
                        {% endblocktrans %}
                    {% endwith %}
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>
