{% extends "orga/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}
    {% trans "Dashboard" %}
{% endblock %}

{% block content %}

    <div class="dashboard-list">
        {% for event in events %}
            <a href="{% url "orga:event.dashboard" event=event.slug %}"><div class="dashboard-block">
                {{ event.name }}
            </div></a>
        {% endfor %}
        <a href="{% url "orga:event.create" %}"><div class="dashboard-block">
            <h1><span class="fa fa-plus"></span>{% trans "New event" %}</h1>
            <span class="dashboard-description">{% trans "Uh, a new event? Head over here, please!" %}</span>
        </div></a>
    </div>

{% endblock %}
