{% extends "orga/base.html" %}

{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load static %}

{% block scripts %}
  {% compress js %}
    <script defer src="{% static 'vendored/zxcvbn.js' %}"></script>
    <script defer src="{% static 'common/js/password_strength.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block extra_title %}{% translate "User settings" %} :: {% endblock extra_title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <fieldset class="m-2">
            <legend>{% translate "User settings" %}</legend>
            {% bootstrap_form profile_form layout="event" %}

            {% include "orga/includes/submit_row.html" with submit_name="form" submit_value="profile" %}

        </fieldset>
    </form>
    <form method="post" class="password-input-form">
        {% csrf_token %}
        <fieldset class="m-2">
            <legend>{% translate "Login settings" %}</legend>
            {% bootstrap_form login_form layout="event" %}

            {% include "orga/includes/submit_row.html" with submit_name="form" submit_value="login" %}

        </fieldset>
    </form>

    {% include "common/user_api_token.html" with orga="true" %}

{% endblock content %}
