.dashboard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  :hover {
    background: #EEEEEE;
    text-decoration: none;
  }
}
.dashboard-block {
  flex: 1 0 auto;
  align-self: stretch;
  padding: 15px 5px;
  border: 5px solid white;
  min-height: 160px;
  width: 340px;
  background: #F8F8F8;


  h1 {
    display: block;
    opacity: 0.5;
    padding: 10px 0 10px;
    text-align: center;
    font-size: 30px;

    .fa {
      padding-right: 8px;
    }
  }

  .dashboard-description {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.timeline {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 60px;
  padding-bottom: 90px;

  .timeline-element {
    display: inline-block;
    flex-grow: 1;
      transition:flex-grow .15s;
    padding: 10px;
    position: relative;
    min-width: 200px;
    height: 80px;

    max-width: 320px;
    padding: 0.5em;

    &::after {
      content: '  ';
      position: absolute;
      top: 0;
      right: -50px;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 50px solid white;
      z-index: 5;
    }
    .timeline-text {
      display: none;
    }
    &:hover .timeline-text, .timeline-text:hover {
      display: block;
      padding: 4px;
      margin-top: 8px;
      margin-left: -8px;
      margin-right: -8px;
      background: white;
      border: 4px solid #eee;
      border-top: none;
      opacity: 1;
    }
    &:hover {
      flex-grow: 3 !important;
        transition:flex-grow .15s;
    }
    .timeline-heading {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: 600;
    }
  }
  .timeline-element.done {
    .timeline-heading {
      font-weight: normal;
    }
  }
  .timeline-element.next {
    .timeline-heading {
      font-weight: normal;
      font-style: italic;
    }
  }
  .timeline-element:nth-of-type(1) {
    background-color: #e5e5e5;
    &::after {
      border-left: 50px solid #e5e5e5;
    }
  }
  .timeline-element:nth-of-type(2) {
    background-color: #d3d3d3;
    &::after {
      border-left: 50px solid #d3d3d3;
    }
  }
  .timeline-element:nth-of-type(3) {
    background-color: #c2c2c2;
    &::after {
      border-left: 50px solid #c2c2c2;
    }
  }
  .timeline-element:nth-of-type(4) {
    background-color: #b0b0b0;
    &::after {
      border-left: 50px solid #b0b0b0;
    }
  }
  .timeline-element:nth-of-type(5) {
    background-color: #a1a1a1;
    &::after {
      border-left: 50px solid #a1a1a1;
    }
  }
  .timeline-element.next:nth-of-type(6) {
    background-color: #858585;
    &::after {
      border-left: 50px solid #858585;
    }
  }
  .timeline-element.active {
      background-color: #11f11c;
      flex-grow: 2;
        transition:flex-grow .1s;
      &::after {
        background: transparent;
        border-left: 50px solid #11f11c;
      }
  }
}
