#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#page-content {
  background: $white;
  flex-grow: 1;
  padding: 20px;
}

.sidebar {
  background-color: $gray-lightest;
  width: 250px;
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;

  .nav-link {
    border-bottom: 1px solid $gray-lighter;
    padding: 10px 15px;
  }

  .nav-link .fa {
    margin-right: 5px;
  }

  .nav-link:hover, .nav-link.active {
    background: $gray-lighter;
  }
}
.sidebar.sidebar-collapsed {
  width: auto;
  .sidebar-text {
    display: none;
  }
}

.navbar-brand img {
  height: 30px;
  width: auto;
  margin: auto;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $white;
}
.orga-headline {
  font-weight: bold;
}

.nav-pills {
  margin-bottom: 10px;

  > li {
    float: left;
    font-size: 14px;
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $brand-primary;
      }
    }
    + li {
      margin-left: 20px;
    }
  }

}

legend {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
}
.feedback-card {
  margin-bottom: 8px;
  .card-body {
    padding: 16px 16px 0px 16px;
  }
}
.question-option-row {
  margin-left: -4px;
  display: flex;
  padding-bottom: 8px;
}
.question-option-input.disabled input {
  background-color: $gray-lighter;
  opacity: 1;
  cursor: not-allowed;
}
.search-form {
  display: flex;
  margin-bottom: 1rem;
  .form-group {
    margin-bottom: 0;
  }
  .form-group label {
    display: none;
  }
  .btn-search {
    height: 100%;
  }
}

.bootstrap4-multi-input {
  margin: auto;
}

.navbar-brand {
  color: $white;
}
.fa.override {
  padding-left: 4px;
}
.history-sidebar {
  max-height: 80vh;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
@include media-breakpoint-down(sm) {
  .container-fluid {
    padding: 0;
    width: 100%;
  }
  .sidebar {
    width: auto;
  }
  .history-sidebar {
    display: none;
  }
  .sidebar-text {
    display: none;
  }
  .sidebar.sidebar-collapsed .sidebar-text {
    display: inherit;
  }
  #page-content {
    padding: 4px 8px;
    flex-grow: 0;
    width: 100%;
  }
  ul.nav-pills {
    li.nav-item {
      padding: 0;
      margin: 0;
      a {
        padding: 4px 8px;
      }
    }
  }
  .col-form-label {
    text-align: left;
    display: flex;
    span {
      padding-left: 4px;
    }
  }
}
