body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 100%;
}

#page-content {
  background: $white;
  flex-grow: 1;
  max-width: 100%;
  padding: 20px 40px;
  margin: 0;
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex-content {
    max-width: 100%;
  }
}

aside.sidebar {
  background-color: $gray-lightest;
  border-right: 1px solid $gray-lighter;
  width: 45px;
  height: 100vh;
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  z-index: 150;
  margin-top: 50px;
  overflow-y: auto;

  &.sidebar-uncollapsed,
  &:hover {
    width: 250px;
    a.nav-link i + span {
      display: inline-block;
    }
    .nav-fold div > a {
      display: block;
    }
    #nav-search {
      #search-context-icon .fa-stack-1x,
      #search-context-icon .fa-stack-2x {
        margin-left: 0;
      }
      #search-context-text {
        display: flex;
      }
    }
  }

  a {
    color: $body-color-light;
    font-weight: bold;
  }

  .nav-fold span.has-children {
    display: flex;
    flex-direction: row;

    a {
      flex-grow: 1;
    }

    .arrow {
      flex-grow: 0;
      width: 40px;
      border: none;
      display: flex;
      justify-content: center;

      i {
        padding-top: 4px;
        margin-right: 0;
      }
    }
  }

  .nav-link,
  .nav-fold {
    border-top: 1px solid $gray-light;
    div > a {
      display: none;
    }
  }

  .nav-link {
    padding: 10px 15px;

    &:last-child {
      border-bottom: 1px solid $gray-light;
    }
  }

  .nav-link {
    .fa {
      margin-right: 5px;
    }

    i + span {
      display: none;
    }

    &.nav-link-second-level span {
      padding-left: 1.6em;
    }
  }

  .nav-link.nav-link-second-level,
  .nav-link.nav-link-inner,
  .nav-link.nav-link-inner.active {
    border: none;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.nav-link-second-level.active,
  .nav-link.nav-link-second-level.active:hover {
    background-color: fade-out($brand-primary, 0.8);
  }
  .nav-link:hover,
  .nav-link.nav-link-second-level:hover {
    background-color: $gray-lighter;
  }
  #nav-search {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
    color: $brand-primary;
    height: 56px;

    &:after {
      /* dropdown indicator */
      margin-right: 12px;
    }

    #search-context-icon {
      min-width: 38px;
    }

    #search-context-text {
      display: none;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 6px;
      .context-name,
      .context-meta {
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .context-name {
        font-family: "Titillium Web";
        font-weight: 600;
        font-size: 15px;
      }
      .context-meta {
        font-size: 11px;
        color: $body-color-light;
        font-weight: normal;
      }
    }
  }

  #nav-search-dropdown {
    width: 250px;
    transform: unset !important;
    top: 53px !important;
    max-height: calc(100vh - 53px - 50px);
    margin: 0;
    padding: 0;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 0;
    background: $offwhite;
    overflow-y: auto;

    .query-holder {
      padding: 8px;
      position: sticky;
      top: 0;
      background: $offwhite;
    }

    ul#search-results {
      padding: 0;
      margin: 0;
      list-style: none;

      li.loading {
        text-align: center;
        padding: 8px;
      }

      li > a {
        text-decoration: none;
        & > div {
          display: flex;
          flex-direction: column;
          margin: 0;
          border-top: 1px solid $gray-light;
          padding: 8px;
          font-size: 14px;
          line-height: 15px;
          &:hover,
          &.active {
            background: $gray-lightest;
          }
        }
        .search-title > span,
        .search-detail {
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .search-title {
          font-family: "Titillium Web";
          padding-bottom: 4px;
          display: flex;
          align-items: center;
        }
        .search-detail {
          font-size: 11px;
          color: $body-color-light;
          font-weight: normal;
        }
      }
    }
  }
}

.navbar {
  height: 50px;
  color: $brand-primary;
  background-color: $offwhite;
  border-bottom: 4px $brand-primary solid;
  padding: 0.25rem;
  box-shadow:
    1px 1px 3px rgba(0, 0, 0, 0.12),
    1px 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 200;
  a {
    color: $brand-primary;
  }
}

.navbar-brand {
  font-family: "Titillium Web";
  font-weight: 600;
  img {
    height: 30px;
    width: auto;
    margin: auto;
  }
}

.speaker-info {
  display: flex;
  flex-direction: row;

  .speaker-image img {
    max-height: 160px;
    float: right;
  }
}

#speaker-typeahead {
  span.twitter-typeahead,
  input {
    width: 350px;
    margin-right: 8px;
  }
}

.orga-headline {
  font-weight: bold;
}

ul.nav-tabs {
  border-bottom: $gray-light solid 1px;
  margin-bottom: 16px;

  .nav-link {
    border: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: $gray-light solid 2px;
  }

  .nav-link:hover,
  .nav-link:focus .nav-link.active {
    border-bottom: $brand-primary 2px solid;
    background-color: $white;
  }

  .nav-link.active {
    border-bottom: $brand-primary 4px solid;
  }
}

legend {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
}

#main-title .text-muted {
  margin-left: 4px;
}

.dashboard-live {
  margin: 6px;
  font-size: 22px;
}

.dashboard-live-text,
.dashboard-live {
  margin-top: 12px;
}

.feedback-card {
  margin-bottom: 8px;

  .card-body {
    padding: 16px 16px 0px 16px;
    transition: display 0.5s;
  }
}

.question-option-row {
  margin-left: -4px;
  display: flex;
  padding-bottom: 8px;
}

.question-option-input.disabled input {
  background-color: $gray-lighter;
  opacity: 1;
  cursor: not-allowed;
}

.form-control.tt-hint[readonly] {
  background-color: $white !important;
}

.search-submit-group {
  padding-bottom: 0;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;

  & > .form-group {
    width: 300px;
    display: flex;
    margin-right: 16px;

    [type="text"] {
      height: 2.25rem;
    }

    label {
      display: none;
    }
    .form-control.is-valid {
      background-image: none;
    }
  }

  .btn,
  details {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 16px;
  }
  .btn {
    margin-right: 16px;
    margin-left: auto;
  }
  #pending .form-group {
    margin-bottom: 0;
  }
  #pending label {
    color: #6c757d;
  }
}
.filter-form {
  .form-group {
    margin-right: 8px;
    .form-control.is-valid {
      background-image: none;
    }
  }
}
.resource-option-row,
.resource-option-input {
  display: flex;
  flex-direction: row;
  width: 100%;

  .resource-option-delete {
    float: right;
    padding-right: 8px;
    flex-grow: 0;
  }

  .form-group {
    display: flex;
    padding-right: 16px;
    margin-bottom: 0;
    margin-top: 2px;

    .bootstrap-multi-input {
      flex-grow: 1;
    }

    input {
      width: 280px;
      height: 2rem;
    }
  }
}

.input-group-text.input-group-append {
  padding: 0 0.75rem;
}

.event-logo-field {
  .event-logo-form-fields .form-group {
    display: inline-block;
    max-width: 100%;
    a {
      word-wrap: break-word;
    }
  }
  img.event-logo-display {
    padding: 2px;
    border: 1px solid $gray-light;
    max-width: 180px;
    background-size: 21px 21px;
    background-position:
      0 0,
      10px 10px;
    background-image: linear-gradient(
        45deg,
        #efefef 25%,
        rgba(239, 239, 239, 0) 25%,
        rgba(239, 239, 239, 0) 75%,
        #efefef 75%,
        #efefef
      ),
      linear-gradient(
        45deg,
        #efefef 25%,
        rgba(239, 239, 239, 0) 25%,
        rgba(239, 239, 239, 0) 75%,
        #efefef 75%,
        #efefef
      );
  }
}

.bootstrap4-multi-input {
  margin: auto;
}

.form-check-languages label {
  display: inline-flex !important;
}

.logentry {
  display: flex;
  flex-direction: column;

  span i.fa {
    padding-right: 4px;
  }
  .time {
    color: $text-muted;
  }
}

.dashboard-history {
  overflow-y: none;
  max-height: none;
  border: none;

  .list-group {
    .logentry {
      flex-direction: row;

      > span {
        padding-right: 8px;
        width: 350px;

        &.time,
        &.person {
          width: 200px;
        }

        &.log-object {
          width: 250px;
        }
        br {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  nav input,
  nav #navigate,
  nav .twiter-typeahead {
    display: none !important;
  }
  .container-fluid {
    padding: 0;
    width: 100%;
  }

  .navbar {
    padding: 0.1rem 1rem;

    ul {
      flex-direction: row;

      .fa {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 0;
      }
    }
  }

  .navbar-collapse {
    flex-basis: auto;
  }

  aside.sidebar {
    position: absolute;
    display: none;
  }

  aside.sidebar-uncollapsed {
    display: inherit;
    z-index: 600;

    /* display above timeline in dashboard */
  }

  fieldset .alert.col-md-9.offset-md-3 {
    margin: 0;
  }

  #page-content {
    padding: 4px 8px;
    flex-grow: 0;
    width: 100%;
    margin-left: 0;
  }

  ul.nav-pills {
    li.nav-item {
      padding: 0;
      margin: 0;

      a {
        padding: 4px 8px;
      }
    }
  }

  .col-form-label {
    text-align: left;
    display: flex;

    span {
      padding-left: 4px;
    }
  }
  .dashboard-history .list-group .logentry {
    flex-direction: column;
    border-bottom: 1px solid $gray-light;
    padding-top: 16px;
    .meta {
      flex-direction: column;
      .time {
        padding-bottom: 16px;
      }
    }
  }
}

td.reviewer {
  display: flex;
  flex-direction: row;
}

form #id_header_pattern,
form #id_display-header_pattern {
  display: flex;
  padding: 0;
  overflow-x: auto;

  .form-check {
    padding-left: 0;
  }

  label {
    width: 100px;
    position: relative;
    margin-right: 8px;

    &:before {
      left: 40px;
      top: 8px;
    }

    &:after {
      left: 44px;
      top: 8px;
    }
  }

  .mini-header {
    width: 100px;
    height: 100px;
    background-color: var(--color, $brand-primary);
  }
}

.form-plugins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  .plugin-card {
    margin: 16px;
    width: 40%;
    flex-grow: 1;
    flex-shrink: 0;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      font-weight: bold;

      .btn {
        max-width: 150px;
      }
    }
  }
}

h2 .submission-state-dropdown {
  padding: 4px;
}

.submission-state-dropdown {
  display: inline-block;
  border-radius: 6px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--submission-color-primary),
    var(--submission-color-primary) 8px,
    var(--submission-color-secondary) 8px,
    var(--submission-color-secondary) 16px
  );
  padding: 3px;

  summary {
    background-color: white;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    h4 {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0;
      display: inline-flex;
      padding: 4px 0 3px 0;
      align-items: baseline;
    }

    i.fa:first-child {
      padding: 0 6px 0 3px;
    }
    i.fa.fa-caret-down {
      margin-left: 10px;
    }
  }
  &:hover summary {
    background-color: inherit;
    color: inherit;
  }

  a {
    font-weight: bold;
    font-size: 16px;
  }
}

.submission-state-deleted,
.submission-state-withdrawn,
.submission-state-canceled {
  color: $gray;
  --submission-color-primary: #{$gray};
  --submission-color-secondary: #{$gray};
}
.submission-state-dropdown.submission-state-pending-deleted,
.submission-state-dropdown.submission-state-pending-withdrawn,
.submission-state-dropdown.submission-state-pending-canceled {
  --submission-color-secondary: #{$gray};
}
.submission-state-deleted:hover,
.submission-state-withdrawn:hover,
.submission-state-canceled:hover {
  color: $white;
  background-color: $gray;
}

.submission-state-submitted {
  color: $brand-info;
  background-color: $white;
  --submission-color-primary: #{$brand-info};
  --submission-color-secondary: #{$brand-info};
}
.submission-state-dropdown.submission-state-pending-submitted {
  --submission-color-secondary: #{$brand-info};
}
.submission-state-submitted:hover {
  color: $white;
  background-color: $brand-info;
}

.submission-state-accepted {
  color: lighten($brand-success, 10%);
  background-color: $white;
  --submission-color-primary: #{lighten($brand-success, 10%)};
  --submission-color-secondary: #{lighten($brand-success, 10%)};
}
.submission-state-dropdown.submission-state-pending-accepted {
  --submission-color-secondary: #{lighten($brand-success, 10%)};
}
.submission-state-accepted:hover {
  background-color: lighten($brand-success, 10%);
  color: $white;
}

.submission-state-confirmed {
  color: lighten($brand-primary, 10%);
  background-color: $white;
  --submission-color-primary: #{lighten($brand-primary, 10%)};
  --submission-color-secondary: #{lighten($brand-primary, 10%)};
}
.submission-state-dropdown.submission-state-pending-confirmed {
  --submission-color-secondary: #{lighten($brand-primary, 10%)};
}
.submission-state-confirmed:hover {
  color: $white;
  background-color: lighten($brand-primary, 10%);
}

.submission-state-rejected {
  color: $danger;
  background-color: $white;
  --submission-color-primary: #{$danger};
  --submission-color-secondary: #{$danger};
}
.submission-state-dropdown.submission-state-pending-rejected {
  --submission-color-secondary: #{$danger};
}
.submission-state-rejected:hover {
  color: $white;
  background-color: $danger;
}

#cfp-option-table {
  width: 75%;
  display: table;
  .form-group {
    margin-bottom: 4px;
    display: flex;
    align-content: center;
    input {
      margin-left: auto;
      margin-right: auto;
    }
  }
  small {
    margin-top: 0;
    padding-top: 0;
  }
  thead th {
    line-height: 1;
    vertical-align: top;
    text-align: center;
    .text-muted {
      font-weight: normal;
    }
  }
  input[type="number"] {
    width: 64px;
    margin-top: -8px;
  }
  tr,
  tr td {
    padding-top: 16px;
    line-height: 2.5;
  }
  tr th:first-child {
    max-width: 200px;
  }
}
#id_locales.checkbox,
#id_initial-locales.checkbox,
#id_tags {
  padding: 0;
  label {
    display: inline-block !important;
    margin-bottom: 8px;
  }
}
.tag-widget-wrapper label {
  border: 2px solid;
  border-color: var(--tag-color);
  padding: 0 8px;
  border-radius: 14px;
}
.colorpicker-element .colorpicker-input-addon {
  display: flex;
  width: 36px;
  align-items: center;
  justify-content: space-around;
  background: #dfe4e6;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  i {
    border-radius: 2px;
    width: 18px;
    height: 18px;
  }
}
.colorpicker-2x {
  width: auto !important;
}
.colorpicker-2x.colorpicker-with-alpha {
  width: 272px;
}

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-alpha,
.colorpicker-2x .colorpicker-preview {
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}

.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
  height: 30px;
  font-size: 16px;
  line-height: 160%;
}

.colorpicker-saturation .colorpicker-guide {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: -5px 0 0 -5px;
}
.color-square {
  display: inline-block;
  align-self: baseline;
  width: 20px;
  height: 20px;
  border: 2px solid $gray-light;
  margin-right: 2px;
}
.phase-option-row .row,
.score-row .row {
  margin-bottom: 8px;
  .text-right input {
    text-align: right;
  }
}
#stats {
  display: flex;
  flex-wrap: wrap;
  .card {
    display: inline-flex;
    flex-grow: 1;
    margin: 4px;
    &.stats-timeline {
      width: 100%;
    }
  }
  .pie svg,
  .pie {
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
  #toggle-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $brand-success;
    background: $brand-success;
    &:before,
    &:after {
      color: $brand-success;
    }
    margin: 0 8rem 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;

    &:before,
    &:after {
      line-height: 1.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      transition: opacity 0.25s;
    }
    &:before {
      content: attr(data-left);
      right: 4rem;
    }
    &:after {
      content: attr(data-right);
      left: 4rem;
      opacity: 0.5;
    }

    > .handle {
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.135rem;
      border-radius: 1.125rem;
      background: #fff;
      transition: left 0.25s;
    }
    &.active {
      transition: background-color 0.25s;
      > .handle {
        left: 1.6875rem;
        transition: left 0.25s;
      }
      &:before {
        opacity: 0.5;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
#question-stats {
  display: flex;
  flex-wrap: wrap;
  .table {
    width: auto;
    padding: 16px;
  }
  #question-answers {
    margin-right: 32px;
  }
}
#fake-changelog {
  margin: 0 42px 24px 42px;
  border-top: 1px solid $gray-light;
  padding: 16px 24px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .i18n-form-group {
    width: 100%;
  }
}
#release #notify-speakers-check {
  small {
    margin-top: 0;
    font-size: 80%;
    a {
      color: $gray;
    }
  }
}
#review-filter-form {
  #range-wrapper {
    margin-right: 48px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      color: #495057;
      font-size: 1rem;
    }
    .rs-container {
      font-family: inherit;
      color: #495057;
      .rs-selected {
        background-color: $brand-primary;
      }
    }
  }
  #column-select {
    li.dropdown-item {
      padding-left: 48px;
      margin-top: 8px;
    }
  }
}
.review-table.table {
  thead th {
    position: sticky;
    top: 0; // can't be sticky due to scroll containers, but we keep the sticky to make the &:after work
    background-color: white;
    border-bottom: none;
    z-index: 50;
    &:after {
      border-bottom: 2px solid #c7d1d3;
      content: " ";
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
    }
  }
  td {
    margin-top: -1px;
  }
  tbody tr,
  thead tr {
    .unmark-radio {
      opacity: 0;
      margin-top: 1px;
      color: $gray-500;
      font-size: 16px;
    }
    .unmark-radio.always-active {
      opacity: 1;
      cursor: pointer;
    }
    .radio {
      width: 40px;
      padding: 4px;
      padding-top: 0;
      label {
        margin-left: 0;
        height: 24px;
        width: 24px;
        &::before {
          font-family: ForkAwesome;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.3);
          text-align: center;
        }
      }
      &.reject {
        label::after {
          background: $brand-danger;
        }
        label::before {
          content: "\f00d";
        }
      }
      &.accept {
        label::before {
          content: "\f00c";
        }
      }
    }
    &:hover .unmark-radio.active {
      opacity: 1;
      cursor: pointer;
    }
    &:first-child td {
      border-top: none;
    }
  }
}
#submitBar {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: fixed;
  right: 0;
  bottom: 0;
  background: $gray-lightest;
  width: 100%;
  z-index: 50;
  > span {
    font-size: 16px;
    margin-right: 16px;
    span {
      font-weight: bold;
      margin-right: 16px;
    }
  }
  button {
    margin: 16px;
  }
}
#csswrap {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
main .progress {
  position: relative;
  width: 100%;
  &::after {
    color: black;
    content: attr(title);
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
  }
}
#anonymise {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100% - 24px);
    margin: 8px 16px;
    > div {
      flex-grow: 1;
      min-width: 300px;
      width: 48%;
    }
  }
}
#anon-menu {
  position: absolute;
  margin-top: -48px;
  margin-right: 42px;
  right: 0;

  button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
    &:after {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      content: " ";
      border-top: 12px solid rgba(0, 0, 0, 0.72);
      position: absolute;
      right: 70%;
      bottom: -12px;
    }
  }
}
.hide-label {
  label {
    display: none;
  }
}
.mail-preview-group {
  margin-bottom: -15px;
}
div.mail-preview {
  border: 1px solid #ccc;
  border-top-width: 1px;
  border-radius: 3px;
  padding: 4px 36px;

  .placeholder {
    background: transparentize($brand-primary, 0.7);
  }
}

.mail-preview-group div[lang] {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  border-top-width: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-bottom: 15px;

  &:first-child {
    @include border-top-radius($input-border-radius);
    border-top-width: 1px;
  }
  &:last-child {
    @include border-bottom-radius($input-border-radius);
    margin-bottom: 20px;
  }
  h2,
  h3 {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  p {
    margin: 0 0 10px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.list-group {
  .list-group-item-action {
    h4 {
      color: $brand-primary;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      .fa-chevron-right {
        position: absolute;
        right: 24px;
        height: 24px;
        top: calc(50% - 12px);
      }
    }
  }
}

.form-with-placeholder {
  margin-right: 300px;
}
#placeholder-column {
  width: 270px;
  max-height: calc(100vh - 55px);
  overflow-y: auto;
  position: absolute;
  right: 0;
  padding: 0 28px 0 16px;
  top: 50px;
  border-left: 1px solid $gray-light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  legend {
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 16px 0 8px 0;
  }

  .list-group-item.placeholder {
    cursor: pointer;

    .placeholder-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .placeholder-text {
        white-space: nowrap;
      }
    }

    i {
      padding: 8px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
    }
    i:hover {
      background: $gray-lighter;
    }
  }
}

@media print {
  body,
  #page-content,
  .pretalx-schedule {
    height: 100% !important;
  }
  .no-print {
    display: none !important;
  }
}
