.schedule-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: $gray-lighter;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 8px;
  margin-right: 280px;
  margin-bottom: 4px;
}

#schedule-release {
  padding-left: 12px;
  min-width: 200px;
}

#schedule-choice {
  select {
    height: 38px;
  }

  option {
    background-color: $white;
  }
}

#fake-changelog {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 8px 16px;
  margin: 24px 16px;
}

#fahrplan {
  display: flex;
  flex-wrap: no-wrap;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.narrow {
    margin-right: 270px;
  }

  .hover-active {
    background: $gray-lighter;
  }
}

#rooms, #unassigned-talks, #timeline {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: no-wrap;
  align-self: stretch;
  padding: 18px;
  padding-left: 0;
}

#rooms {
  flex-grow: 1;
}
#loading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.room-column {
  background: $gray-lighter;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  flex: 1 0 auto;
  align-self: stretch;
  margin-right: 18px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.room-column:last-child {
  margin-right: 0;
}

.room-header {
  display: flex;
  height: 31px;
  margin-bottom: 8px;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom: 1px solid $gray-light;
  font-size: 16pt;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  text-align: center;
  position: sticky;
  color: white;
  z-index: 100;
  top: 50px;
  background: $brand-success;
  box-shadow: 0 1px 3px rgba($brand-success, 0.18), 0 1px 2px rgba($brand-success, 0.36);
}
.room-column a:hover {
  text-decoration: none;
}

#unassigned-group {
  flex-direction: column;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  right: 20px;
  top: 83px;
  width: 265px;
  padding: 0;
  z-index: 120;

  .talk-header {
    background: $brand-info;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin-left: -1px;
    margin-right: -1px;
    &.collapsed {
      background: rgba($brand-info, 0.5);
    }
  }

  #unassigned-talks {
    flex-direction: column;
    background: lighten($gray-lightest, 4);
    height: calc(100vh - 70px - 80px);
    user-select: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .input-group {
      margin: 8px;
      width: auto;
    }

    .hover-active {
      background: $gray-lighter;
    }

    #unassigned-container {
      overflow-y: auto;
      height: 100%;
      margin: 8px;
      margin-top: 0;
      padding-top: 8px;
    }

    .talk-box {
      position: static;
      margin-bottom: 5px;
    }
  }
}

.room-container, .timeline-container {
  position: relative;
  width: 100%;
  height: 100%;

  .room-availability {
    background-color: lighten($gray-lightest, 4);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    position: absolute;
  }
}

#timeline {
  width: 50px;
  flex-grow: 0;
  background: white;
  text-align: center;
  color: $gray;
  padding: 57px 0 18px;
}

.timestep-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  white-space: nowrap;
  border-top: 1px solid $gray;
  font-size: 12px;
  width: 100%;
  &.thin {
    height: 5px;
    background: $brand-info;
    z-index: 10;
  }
  &.midnight {
    position: sticky;
    top: 50px;
    width: calc(100% + 20px);
    margin-left: -20px;
    background: $brand-info;
    color: white;
    z-index: 10;
    font-size: 16px;
    & + .timestep-box {
      border-top: none;
    }
  }
}

.talk-box {
  border: 1px solid $brand-primary;
  border-left: 4px solid $brand-primary;
  padding-left: 8px;
  cursor: pointer;
  position: absolute;
  background-color: $offwhite;
  top: 0;
  left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: calc(100% - 16px);
  margin: 0 8px;
  z-index: 50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover {
    overflow-y: auto;
    min-height: 30px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
    background-color: $white;
  }
}

.talk-box.accepted {
  filter: opacity(70%);
  color: $gray;
}

.talk-box.drag-source {
  opacity: 0.5;
}

.talk-box.warning .warning-sign {
  color: $brand-danger;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 8px;
}

.talk-box.dragged {
  position: absolute;
  background: $brand-success;
  pointer-events: none;
  color: white;
  z-index: 9001;
  width: auto;
  justify-content: center;
  align-items: center;
  .time {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
