h3 .orga-title, .schedule-header, .schedule-alert {
  margin-left: 50px;
  margin-right: 280px;
}
.schedule-header {
  margin-bottom: 24px;
  margin-top: 24px;
  display: flex
}
#schedule-release {
  padding-left: 12px;
  width: 260px;
}
#schedule-choice {
  width: 300px;
  select {
    height: 38px;
  }
  option {
    background-color: $white;
  }
}
#fahrplan {
  display: flex;
  flex-wrap: no-wrap;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-right: 270px;

  .hover-active {
    background: lighten($gray-light, 30%);
  }
}

#tracks, #unassigned-talks, #timeline {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: no-wrap;
  align-self: stretch;
  padding: 18px;
  padding-left: 0;
}

#tracks {
  flex-grow: 1;
}

.room-column {
  background: $gray-lighter;
  flex: 1 0 auto;
  align-self: stretch;
  margin-right: 18px;
  flex-grow: 1;
  flex-basis: 0;
}
.room-column:last-child {
  margin-right: 0;
}
.room-header {
  border-bottom: 1px solid $gray-light;
  font-size: 16pt;
  font-decoration: underline;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 31px;
  display: flex;
  justify-content: center;
}
#unassigned-talks {
  flex-direction: column;
  background: $gray-lighter;
  position: fixed;
  right: 20px;
  top: 123px;
  width: 265px;
  height: calc(100vh - 123px - 20px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 5px;

  .input-group {
    margin-bottom: 5px;
  }

  .hover-active {
    background: lighten($gray-light, 30%);
  }

  .room-container {
    overflow-y: auto;
  }

  .talk-box {
    position: static;
    margin-bottom: 5px;
  }
}
.room-container {
  position: relative;
  width: 100%;
  height: 100%;

  .room-availability {
    background-color: green;
    width: 100%;
    position: absolute;
    opacity: 0.2;
  }
}

#timeline {
  width: 50px;
  flex-grow: 0;
  background: white;
  text-align: center;
  color: $gray-light;
  padding: 57px 0 18px;
}

.timestep-box {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  border-top: 1px solid $gray-light;
  font-size: 12px;
  width: 100%;
}
.timestep-box.midnight {
  font-weight: bold;
  background: $gray-light;
  color: white;
}

.talk-box {
  border: 1px solid $brand-primary;
  border-top: 4px solid $brand-primary;
  border-width: 1;
  padding: 0px 8px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  .time {
    display: inline-block;
    min-width: 45px;
  }
}
.talk-box.accepted {
  background: lighten($brand-success, 30%);
  color: $white;
}
.talk-box.drag-source {
  opacity: 0.5;
}
.talk-box.confirmed {
  background: lighten($brand-success, 10%);
}
.talk-box.dragged {
  position: absolute;
  background: $brand-success;
  pointer-events: none;
  color: white;
  z-index: 9001;
  width: auto;
}
