.form-group {
  .select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
  }
  .select2-container--default.select2-container--focus .select2-selection--multiple {
    box-shadow: 0 0 0 1px rgba(58, 165, 124, 0.25);
    border-color: #89d6b8;

  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none;
    padding: 0 7px;
  }
}
