@import "../../common/scss/_variables";
@import "../../common/scss/_flags";
@import "../../vendored/bootstrap-4-dev/scss/bootstrap";
@import "../../vendored/fontawesome/scss/font-awesome";
@import "../../vendored/datetimepicker/_bootstrap-datetimepicker";
@import "_dashboard";
@import "_layout";
@import "_schedule";

h3 {
  margin-left: 0px;
}

table .btn-secondary {
  background: $gray-lighter;
  border-color: white;
}

.i18n-form-group input,
.i18n-form-group textarea {
  border-top-width: 0;

  &:first-child {
    border-top-width: 1px;
  }
}

.pending-mails {
  background: $brand_warning;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px;
}

.notimplemented {
  text-decoration: line-through;
}

.adder-textbox {
  $height: 2rem;

  display: inline-flex;

  input {
    height: $height;
    max-width: 250px;
  }

  .btn {
    height: $height;
    width: $height + 0.1rem;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: no-wrap;

  .flex-content {
    flex: 1 0 auto;
    align-self: stretch;
  }
  .flex-sidebar {
    max-width: 240px;
    padding-left: 24px;

    legend {
      font-size: 16pt;
    }
    p {
      margin: 0px 0px 0px 0px;
    }

  }
}

.pagination {
}
