@import "../../common/scss/_variables";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../common/scss/_font";
@import "../../common/scss/_flags";
@import "../../common/scss/_forms";
@import "../../common/scss/_availabilities";
@import "../../common/scss/_dashboard";
@import "../../common/scss/_stages";
@import "../../vendored/forkawesome/scss/fork-awesome";
@import "../../vendored/datetimepicker/_bootstrap-datetimepicker";
@import "../../common/scss/pretalx";
@import "_layout";
@import "_schedule";

h3 {
  margin-left: 0px;
}

.i18n-form-group input,
.i18n-form-group textarea {
  border-top-width: 0;

  &:first-child {
    border-top-width: 1px;
  }
}

.pending-mails {
  background: $brand_warning;
  color: $gray-lightest;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px;
}

.notimplemented {
  text-decoration: line-through;
}

.adder-textbox {
  $height: 2rem;

  padding-top: 2px;
  display: block;

  input {
    height: $height;
    max-width: 250px;
    display: inline-block;
  }

  span.twitter-typeahead {
    display: inline !important;
  }

  .btn {
    height: $height;
    width: $height + 0.1rem;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: no-wrap;

  .flex-content {
    flex: 1 0 0;
    align-self: stretch;
  }

  .flex-sidebar {
    max-width: 240px;
    padding-left: 24px;

    h3 {
      font-size: 16pt;
    }

    p {
      margin: 0px 0px 0px 0px;
    }
  }
}

.teameditor {
  input[type="checkbox"] {
    vertical-align: middle;
  }

  input[type="email"] {
    max-width: 15em;
  }

  input[type="number"] {
    max-width: 2.5em;
    text-align: center;
  }
}

.superuser-warning {
  background: $brand-danger;
  padding: 5px 20px;
  color: white;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
  }
}

.submission_featured {
  i {
    position: absolute;
    margin-left: 6px;
    margin-top: -6px;
  }

  .done {
    color: $brand-primary;
  }

  .fail {
    color: $brand-danger;
  }
}
