@import "../../common/scss/_variables";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../common/scss/_font";
@import "../../common/scss/_flags";
@import "../../common/scss/_forms";
@import "../../common/scss/_availabilities";
@import "../../common/scss/_dashboard";
@import "../../common/scss/_stages";
@import "../../common/scss/_avatar";
@import "../../common/scss/_dropdown";
@import "../../common/scss/_rtl";
@import "../../vendored/forkawesome/scss/fork-awesome";
@import "../../vendored/datetimepicker/_bootstrap-datetimepicker";
@import "../../common/scss/pretalx";
@import "_layout";
@import "_flow";
@import "_select";
@import "_rtl";

h3 {
  margin-left: 0px;
}

.i18n-form-group input,
.i18n-form-group textarea {
  border-top-width: 0;
  border-radius: 0;

  &:first-child {
    border-top-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.pending-mails {
  background: $brand_warning;
  color: $gray-lightest;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px;
}

.notimplemented {
  text-decoration: line-through;
}

.adder-textbox {
  $height: 2rem;

  padding-top: 2px;
  display: block;

  input {
    height: $height;
    max-width: 250px;
    display: inline-block;
  }

  span.twitter-typeahead {
    display: inline !important;
  }

  .btn {
    height: $height;
    width: $height + 0.1rem;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: no-wrap;

  .flex-content {
    flex: 1 0 0;
    align-self: stretch;
  }

  .flex-sidebar {
    max-width: 240px;
    padding-left: 24px;

    h3 {
      font-size: 16pt;
    }

    p {
      margin: 0px 0px 0px 0px;
    }
  }
}

.teameditor {
  input[type="checkbox"] {
    vertical-align: middle;
  }

  input[type="email"] {
    max-width: 15em;
  }

  input[type="number"] {
    max-width: 2.5em;
    text-align: center;
  }
}

.superuser-warning {
  position: absolute;
  background: $brand-danger;
  padding: 8px 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  z-index: 1000;

  a {
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}

.submission_featured {
  i {
    position: absolute;
    margin-left: 6px;
    margin-top: -6px;
  }

  .done {
    color: $brand-primary;
  }

  .fail {
    color: $brand-danger;
  }
}

.accordion .card {
  h2 {
    margin-bottom: 0;
  }
  button {
    align-items: baseline;
  }
}
.accordion .card button[data-toggle="collapse"]::before,
details summary.card-header::before {
  content: "\f106";
  position: absolute;
  left: 14px;
  top: 24px;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: ForkAwesome;
  transform: rotate(90deg);
  transition: transform 150ms ease-in 0s;
}
#template-accordion
  button[data-toggle="collapse"][aria-expanded="true"]::before,
details[open] summary::before {
  transform: rotate(180deg);
}

details.card {
  margin-bottom: 18px;
  summary.card-header {
    list-style: none;
    padding-left: 36px;
    font-weight: bold;
    &::before {
      top: 18px;
    }
  }
}
