@import "../../common/scss/_variables";
@import "../../common/scss/_flags";
@import "../../common/scss/_forms";
@import "../../common/scss/_availabilities";
@import "../../common/scss/_dashboard";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../vendored/fontawesome/scss/fontawesome";
@import "../../vendored/fontawesome/scss/fa-solid";
@import "../../vendored/fontawesome/scss/fa-brands";
@import "../../vendored/datetimepicker/_bootstrap-datetimepicker";
@import "_layout";
@import "_schedule";

h3 {
  margin-left: 0px;
}

.i18n-form-group input,
.i18n-form-group textarea {
  border-top-width: 0;

  &:first-child {
    border-top-width: 1px;
  }
}

.pending-mails {
  background: $brand_warning;
  color: $gray-lightest;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px;
}

.notimplemented {
  text-decoration: line-through;
}

.adder-textbox {
  $height: 2rem;
  padding-top: 2px;
  display: block;

  input {
    height: $height;
    max-width: 250px;
    display: inline-block;
  }
  span.twitter-typeahead {
    display: inline !important;
  }

  .btn {
    height: $height;
    width: $height + 0.1rem;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: no-wrap;

  .flex-content {
    flex: 1 0 auto;
    align-self: stretch;
  }
  .flex-sidebar {
    max-width: 240px;
    padding-left: 24px;

    legend {
      font-size: 16pt;
    }
    p {
      margin: 0px 0px 0px 0px;
    }

  }
}

.teameditor {
  input[type=checkbox] {
    vertical-align: middle;
  }
  input[type=email] {
    max-width: 15em;
  }
  input[type=number] {
    max-width: 2.5em;
    text-align: center;
  }
}
.superuser-warning {
  background: $brand-danger;
  padding: 5px 20px;
  color: white;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
  }
}
