{% extends "eventyay_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Organizer settings" %}{% endblock %}
{% block content %}
	<h1>{% trans "Organizer edit" %}</h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "General information" %}</legend>
            {% bootstrap_field form.name layout="horizontal" %}
            {% bootstrap_field form.slug layout="horizontal" %}
        </fieldset>
        <fieldset>
            <h4>{{ _('Tickets system:') }}
                <a href='{% url "control:organizer.teams" organizer=organizer.slug  %}'
                        class="btn btn-sm btn-default"
                        data-toggle="tooltip">Ticket Teams
                </a>
                <a href='{% url "control:organizer.edit" organizer=organizer.slug  %}'
                        class="btn btn-sm btn-default" title='{{ _('Settings') }}'
                        data-toggle="tooltip">
                    <span class="fa fa-cog"></span>
                </a>
            </h4>
        </fieldset>
        <fieldset>
            <h4>{{ _('Talk system:') }}
                <a href='{{ talk_teams_url }}'
                            class="btn btn-sm btn-default"
                            data-toggle="tooltip">Talk Teams
                </a>
                <a href='{{ talk_edit_url }}'
                        class="btn btn-sm btn-default" title='{{ _('Settings') }}'
                        data-toggle="tooltip">
                    <span class="fa fa-cog"></span>
                </a>
            </h4>
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
