{% extends "control/base.html" %}
{% load i18n %}

{% block content %}

<p>
    <a href="{% url "control:event.create" %}" class="btn">
    {% trans "Add new event" %}
    </a>
</p>
<table>
    <thead>
    <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Name" %} / {% trans "Usage" %}</th>
        <th>{% trans "URL" %}</th>
        <th class="text-right">{% trans "Users" %}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr class="{% if not event.domain %}deleted{% endif %}">
        <td>
            <b>{{ event.pk }}</b>
        </td>
        <td>
            {{ event.title }}
            {% for u in event.planned_usages.all %}
                <br>
                <small class="text-muted">{{ u.start|date:"SHORT_DATE_FORMAT" }} – {{ u.end|date:"SHORT_DATE_FORMAT" }} ({{ u.attendees }}ppl)</small>
            {% endfor %}
        </td>
        <td>
            {% if event.domain %}
            <a href="https://{{ event.domain }}" target="_blank">
                {{ event.domain }}
            </a>
            {% endif %}
        </td>
        <td class="text-right">
            {{ event.user_count }}
        </td>
        <td class="text-right">
            {% if event.user_count %}
            <a href="{% url 'control:event.clear' pk=event.pk %}">
                {% trans "Delete data" %}
            </a>
            {% endif %}
        </td>
        <td class="text-right">
            {% if event.domain and event.admin_token %}
                <a href="{% url 'control:event.admin' pk=event.pk %}">
                    {% trans "Admin access" %}
                </a>
            {% endif %}
        </td>
        <td class="text-right">
            <a href="{% url 'control:event.create' %}?copy_from={{ event.pk|urlencode }}">
                {% trans "Clone" %}
            </a>
        </td>
        <td class="text-right">
            <a href="{% url 'control:event.update' pk=event.pk %}">
                {% trans "Edit" %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
