{% extends "control/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Delete world data" %}</h1>
<form method="post">
    {% csrf_token %}
    <label>
        <input type="checkbox" required>
        {% trans "Delete statistics, feedback, chat messages, questions, …" %}
    </label>
    <label>
        <input type="checkbox" required>
        {% trans "Delete user accounts and audit logs" %}
    </label>
    <label>
        <input type="checkbox" required>
        {% trans "Delete all uploaded files" %}
    </label>
    <button type="submit">{% trans "Delete" %}</button>

</form>
{% endblock %}
