{% load i18n %}

<div class="filter-actions">
    <button class="btn btn-primary" type="submit" aria-label="{% translate 'Filter' %}">
        <span class="fa fa-filter"></span>
        <span class="sr-only">{% translate "Filter" %}</span>
    </button>
    <a href="{{ request.path }}" class="btn btn-default" aria-label="{% translate 'Clear filters' %}" title="{% translate 'Clear filters' %}">
        <span class="fa fa-eraser"></span>
        <span class="sr-only">{% translate "Clear filters" %}</span>
    </a>
</div>
