{% extends "orga/submission/base.html" %}
{% load i18n %}

{% block submission_content %}

    {% for entry in user_list %}
        <h2>{{ entry.user.name }}</h2>
        <ul>
        {% for answer in entry.answers %}
            {% if answer.question.variant == 'file' %}
                {% if answer.answer_file %}
                    <li>
                        <em>{{ answer.question }}</em>
                            - <span class="fa fa-file"></span> <a href="{{ answer.answer_file.url }}">{{ answer.answer_file }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li><em>{{ answer.question }}</em> - {{ answer }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
