{% extends "orga/submission/base.html" %}
{% load i18n %}

{% block submission_content %}

    {% for answer in answer_list %}
        <h5>
            {{ answer.question.question }}
            <small>({{ answer.question.get_variant_display }})</small>
        </h5>
        {% if answer.question.variant == 'file' %}
            {% if answer.answer_file %}
                <span class="fa fa-file"></span> <a href="{{ answer.answer_file.url }}">{{ answer.answer_file }}</a>
            {% endif %}
        {% else %}
            »{{ answer.answer }}«
        {% endif %}
    {% empty %}
        {% trans "No questions have been answered at the moment." %}
    {% endfor %}
{% endblock %}
