{% extends "orga/submission/base.html" %}
{% load i18n %}

{% block submission_content %}
    {% for answer in answer_list %}
        <h5>
            {{ answer.question.question }}
            <small>({{ answer.question.get_variant_display }})</small>
        </h5>
        {% if answer.question.variant == 'file' %}
            {% if answer.answer_file %}
                <i class="fa fa-file-o"></i> <a href="{{ answer.answer_file.url }}">{{ answer.answer_file }}</a>
            {% endif %}
        {% else %}
            {{ quotation_open }}{{ answer.answer }}{{ quotation_close }}
        {% endif %}
    {% empty %}
        {% trans "No questions have been answered at the moment." %}
    {% endfor %}
{% endblock %}
