{% extends "orga/submission/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load staticfiles %}
{% load review_score %}
{% load i18n %}
{% load rules %}
{% block submission_content %}
    {% if not submission %}
    <legend>{% trans "Create submission as orga" %}</legend>
    {% endif %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_field form.title layout='event' %}
        {% if form.instance.average_score != None %}
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                {% trans "Review score" %}
            </label>
            <div class="col-md-9">
                <label>{% review_score form.instance %} ({{ submission.reviews.count }} {% trans "reviews" %})</label>
            </div>
        </div>
        {% endif %}
        {% bootstrap_field form.submission_type layout='event' %}
        {% bootstrap_field form.abstract layout='event' %}
        {% bootstrap_field form.description layout='event' %}
        {% bootstrap_field form.notes layout='event' %}
        {% bootstrap_field form.content_locale layout='event' %}
        {% bootstrap_field form.do_not_record layout='event' %}
        {% bootstrap_field form.duration addon_after='minutes' layout='event' %}
        {% bootstrap_field form.image layout='event' %}
        {% if action == "create" %}
            {% bootstrap_field form.speaker layout='event' %}
        {% endif %}

        {% if action == "create" or action == "edit" %}
            <div class="form-group row">
                <div class="ml-auto col-md-9">
                    <button type="submit" class="btn btn-primary pull-right">{% trans "Save" %}</button>
                </div>
            </div>
        {% endif %}
    </form>

    <span id="vars" remoteUrl="{{ request.event.orga_urls.users }}?search=%QUERY"></span>
    {% compress js %}
    <script type="text/javascript" src="{% static "vendored/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "orga/js/speakers.js" %}"></script>
    {% endcompress %}
{% endblock %}
