{% extends "orga/cfp/base.html" %}
{% load i18n %}

{% block headline %}
    {% trans "Submissions" %}
{% endblock %}
{% block content %}

    <legend>{{ submissions.count }} {% trans "submissions" %}</legend>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Speakers" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "State" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a href="{% url "orga:submissions.content.view" event=request.event.slug pk=submission.pk %}">
                            {{ submission.title }}
                        </a>
                    </td>
                    <td>
                        {% for speaker in submission.speakers.all %}
                            <a href="{% url "orga:speakers.view" event=request.event.slug pk=speaker.id %}">
                                {{ speaker.get_short_name }}
                            </a><br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ submission.submission_type.name }}
                    </td>
                    <td>
                        {% include "cfp/event/fragment_state.html" with state=submission.state %}
                    </td>
                    <td class="text-right">
                        <a href="{% url "orga:submissions.content.edit" event=request.event.slug pk=submission.pk %}"
                            class="btn btn-sm btn-secondary">
                            <span class="fa fa-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
