{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load compress %}
{% load i18n %}
{% load rules %}
{% load static %}
{% load url_replace %}

{% block scripts %}
    {% compress js %}
        <script src="{% static "orga/js/submission_filter.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {% if timeline_data %}
        <link rel="alternate" hreflang="en" type="application/rss+xml" title="{% translate "Proposal feed" %}" href="{{ request.event.orga_urls.submission_feed }}">
    {% endif %}
{% endblock %}

{% block content %}
    {% has_perm 'orga.create_submission' request.user request.event as can_create_submission %}
    {% has_perm 'orga.change_submission_state' request.user request.event as can_change_submission %}
    {% has_perm 'orga.view_speakers' request.user request.event as can_view_speakers %}
    {% has_perm 'orga.send_mails' request.user request.event as can_send_mails %}
    <h2 class="d-flex align-items-center">
        <span>
            {{ page_obj.paginator.count }}
            {% blocktranslate trimmed count count=page_obj.paginator.count %}
                session
            {% plural %}
                sessions
            {% endblocktranslate %}
        </span>
        <p class="flip ml-auto">
            {% if can_send_mails %}
                <a class="btn btn-outline-info mt-2" href="{{ request.event.orga_urls.compose_mails_sessions }}?{% url_replace request page '' %}">
                    <i class="fa fa-envelope"></i>
                    {% translate "Send email" %}
                </a>
            {% endif %}
            {% if pending_changes and can_change_submission %}
                <a class="btn btn-info mt-2" href="{{ request.event.orga_urls.apply_pending }}">
                    {% translate "Apply pending changes" %} ({{ pending_changes }})
                </a>
            {% endif %}
            {% if can_create_submission %}
                <a href="{{ request.event.orga_urls.new_submission }}" class="btn btn-info mt-2">
                    <i class="fa fa-plus"></i> {% translate "Add new session or proposal" %}
                </a>
                <a href="{{ request.event.orga_urls.submission_feed }}" title="{% translate "Proposal feed" %}">
                    <i class="fa fa-feed ml-3 mb-2"></i>
                </a>
            {% endif %}
        </p>
    </h2>

    <div class="submit-group search-submit-group">
        <form class="search-form">
            {% bootstrap_field filter_form.q %}
            {% if show_submission_types and filter_form.submission_type %}{% bootstrap_field filter_form.submission_type %}{% endif %}
            <div class="d-flex flex-column form-group">
                {% bootstrap_field filter_form.state layout='inline' %}
                <div id="pending" class="d-none">{% bootstrap_field filter_form.pending_state__isnull layout='inline' %}</div>
            </div>
            {% if filter_form.track %}{% bootstrap_field filter_form.track %}{% endif %}
            {% if filter_form.tags %}{% bootstrap_field filter_form.tags %}{% endif %}
            {% if filter_form.content_locale %}{% bootstrap_field filter_form.content_locale %}{% endif %}
            <button class="btn btn-success" type="submit">{% translate "Search" %}</button>
        </form>
        {% if filter_form.is_valid and filter_form.cleaned_data.question %}
            <p class="text-muted ml-2">
                <span class="fa fa-filter"></span>
                {% blocktranslate trimmed with question=filter_form.cleaned_data.question.question %}
                    List filtered by answers to question "{{ question }}".
                {% endblocktranslate %}
                <a href="?{% url_replace request 'question' '' 'answer' '' 'answer__options' '' %}" class="text-muted">
                    <span class="fa fa-times"></span>
                    {% translate "Remove filter" %}
                </a>
            </p>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover table-flip">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        {% translate "Title" %}
                        <a href="?{% url_replace request 'sort' 'title' %}"><i class="fa fa-caret-down" title="{% translate "Sort by title (a-z)" %}"></i></a>
                        <a href="?{% url_replace request 'sort' '-title' %}"><i class="fa fa-caret-up" title="{% translate "Sort by title (z-a)" %}"></i></a>
                    </th>
                    {% if can_view_speakers %}<th>{% translate "Speakers" %}</th>{% endif %}
                    {% if show_submission_types  %}
                        <th>
                            {% translate "Type" %}
                        </th>
                    {% endif %}
                    <th>
                        {% translate "State" %}
                        <a href="?{% url_replace request 'sort' 'state' %}"><i class="fa fa-caret-down" title="{% translate "Sort by state (a-z)" %}"></i></a>
                        <a href="?{% url_replace request 'sort' '-state' %}"><i class="fa fa-caret-up" title="{% translate "Sort by state (z-a)" %}"></i></a>
                    </th>
                    {% if can_change_submission %}
                        <th>
                            {% translate "Featured" %} <i class="fa fa-question-circle" data-toggle="tooltip" title="{% translate "Show this session on the list of featured sessions, once it was accepted" %}"></i>
                            <a href="?{% url_replace request 'sort' '-is_featured' %}"><i class="fa fa-caret-down" title="{% translate "Sort by featured first" %}"></i></a>
                            <a href="?{% url_replace request 'sort' 'is_featured' %}"><i class="fa fa-caret-up" title="{% translate "Sort featured last" %}"></i></a>
                        </th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td class="text-center">
                            {% if request.event.feature_flags.use_tracks and submission.track %}
                                {% if not submission.is_anonymised %}
                                    <div class="color-square" style="background-color: {{ submission.track.color }}" title="{{ submission.track.name }}">
                                    </div>
                                {% else %}
                                    <i class="fa fa-user-secret" style="color: {{ submission.track.color }}" title="{{ submission.track.name }}, {% translate "anonymised" %}" aria-hidden="true"></i>
                                {% endif %}
                            {% else %}
                                {% if submission.anonymised %}
                                    <i class="fa fa-user-secret" style="color: #888" title="{% translate "anonymised" %}" aria-hidden="true"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ submission.orga_urls.base }}">
                                {% if can_view_speakers %}{{ submission.title }}{% else %}{{ submission.anonymised.title|default:submission.title }}{% endif %}
                            </a>
                        </td>
                        {% if can_view_speakers %}
                            <td>
                                {% for speaker in submission.speakers.all %}
                                    <a href="{% url "orga:speakers.view" event=request.event.slug code=speaker.code %}">
                                        {{ speaker.get_display_name }}
                                    </a><br>
                                {% endfor %}
                            </td>
                        {% endif %}
                        {% if show_submission_types  %}
                            <td>
                                {{ submission.submission_type.name }}
                            </td>
                        {% endif %}
                        <td>
                            {% include "orga/submission/state_dropdown.html" with submission=submission %}
                        </td>
                        {% if can_change_submission %}
                            <td class="submission_featured">
                                <div class="mt-1 form-check" title="{% translate 'Show this proposal in the list of featured sessions.' %}">
                                    <input
                                        type="checkbox"
                                        id="featured_{{ submission.code }}"
                                        data-id="{{ submission.code }}"
                                        class="submission_featured"
                                        {% if submission.is_featured %}checked{% endif %}
                                    >
                                    <label for="featured_{{ submission.code }}"></label>
                                </div>
                                <i class="working fa fa-spinner fa-spin d-none"></i>
                                <i class="done fa fa-check d-none"></i>
                                <i class="fail fa fa-times d-none"></i>
                            </td>
                            <td class="action-column">
                                <a href="{{ submission.orga_urls.edit }}"
                                   title="{% translate "edit" %}"
                                   class="btn btn-sm btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ submission.orga_urls.delete }}?from=list"
                                   title="{% translate "Delete" %}"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "orga/includes/pagination.html" %}


{% endblock %}
