{% extends "orga/submission/base.html" %}
{% load i18n %}
{% block submission_content %}
    <p>
        {% translate "Do you really want to delete your review?" %}
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="submit-group">
            <a href="{{ submission.orga_urls.base }}" class="btn btn-lg btn-outline-info">
                {% translate "Back" %}
            </a>
            <button type="submit" class="btn btn-lg btn-danger">
                <i class="fa fa-trash"></i>
                {% translate "Yes" %}
            </button>
        </div>
    </form>
{% endblock %}
