{% extends "orga/submission/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load rich_text %}

{% block submission_content %}

{% if request.user in submission.speakers.all %}
    <div class="alert alert-error"><span>
        {% blocktrans trimmed %}
        You're not allowed to review your own submissions.
        {% endblocktrans %}
    </div>
{% else %}
    <div class="alert alert-info">
        <span>
        {% if not read_only %}
            {{ request.event.settings.review_help_text|rich_text }}
            {% if not form.instance.pk %}
                {% blocktrans trimmed %}
                    You will be able to see other reviews once you have given yours.
                {% endblocktrans %}
            {% endif %}
        {% else %}
            {% blocktrans trimmed %}
                This submission can no longer be reviewed, as a decision regarding its
                role in this event has already been made, or the review deadline is over.
            {% endblocktrans %}
        {% endif %}
        </span>
    </div>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form_errors qform %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_text">{% trans "Submission Type" %}</label>
        <div class="col-md-9 mt-1">
            {{ submission.submission_type }}
        </div>
    </div>
    {% if request.event.settings.cfp_request_abstract %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_text">{% trans "Abstract" %}</label>
        <div class="col-md-9 mt-1">
            {{ submission.abstract|rich_text|default:'-' }}
        </div>
    </div>
    {% endif %}
    {% if request.event.settings.cfp_request_description %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_text">{% trans "Description" %}</label>
        <div class="col-md-9 mt-1">
            {{ submission.description|rich_text|default:'-' }}
        </div>
    </div>
    {% endif %}
    {% if request.event.settings.cfp_request_notes %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_text">{% trans "Notes for the organiser" %}</label>
        <div class="col-md-9 mt-1">
            {{ submission.notes|rich_text|default:'-' }}
        </div>
    </div>
    {% endif %}
    {% for speaker in profiles %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_text">{% trans "Speaker" %}: {{ speaker.user.get_display_name }}</label>
        <div class="col-md-9 mt-1">
            {% if request.event.settings.cfp_request_biography %}
            {{ speaker.biography|rich_text|default:'-' }}
            {% endif %}
            {% if speaker.submissions.count > 1 %}<br><strong>{% trans "Other submissions" %}:</strong>
            {% for other_submission in speaker.submissions %}{% if other_submission != submission %}
            <a href="{{ other_submission.orga_urls.base }}">{{ other_submission.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endif %}{% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if not form.instance.pk and not read_only %}
        {% bootstrap_field form.score layout='event' %}
        {% bootstrap_form qform layout='event' %}
        {% bootstrap_field form.text layout='event' %}
        <div class="submit-group"><span></span>
            <div>
                {% if skip_for_now %}
                <a href="{{ skip_for_now.orga_urls.reviews }}" class="btn btn-lg btn-warning">{% trans "Skip for now" %}</a>
                {% endif %}
                <button type="submit" class="btn btn-lg btn-info">{% trans "Save" %}</button>
                <button type="submit" class="btn btn-lg btn-success" name="show_next" value="1">{% trans "Save and next" %}</button>
            </div>
        </div>
    {% else %}
    <table class="table review-table table-hover table-responsive-md">
            <tr>
                <th>{% trans "Points" %}</th>
                {% for field in qform %}
                    <th>{{ field.label }}</th>
                {% endfor %}
                <th>{% trans "Review" %}</th>
                <th></th>
            </tr>
        <tbody>
            {% if form.instance.pk or not read_only %}
            <tr>
                {% csrf_token %}
                <td>{% bootstrap_field form.score layout="inline" %}</td>
                {% for field in qform %}
                    <td>{% bootstrap_field field layout="inline" %}</td>
                {% endfor %}
                <td>{% bootstrap_field form.text layout="inline" %}</td>
                <td>
                    {% if not read_only %}
                        <button type="submit" class="btn btn-success">{% trans "Save" %}
                    {% else %}
                        {{ request.user.get_display_name }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% for review in reviews %}
                {% if review != form.instance %}
                    <tr>
                        <td>{{ review.score }}</td>
                        {% for answer in review.answers %}
                            <td>
                                {{ answer.answer }}
                            </td>
                        {% endfor %}
                        <td>{{ review.text }}</td>
                        <td>{{ review.user }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</form>
{% endif %}
{% endblock %}
