{% extends "orga/submission/base.html" %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "vendored/typeahead.css" %}"/>
{% endblock %}

{% block submission_content %}

    <legend>{% trans "Speakers" %}</legend>

    <table class="table table-condensed">
        <tbody>
            {% for speaker in speakers %}
                <tr>
                    <td>
                        <a href="{% url "orga:speakers.view" event=request.event.slug pk=speaker.id %}">
                            {{ speaker.get_short_name }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="{% url "orga:submissions.speakers.delete" event=request.event.slug pk=submission.pk %}?nick={{ speaker.nick }}"
                            class="btn btn-sm btn-secondary">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="{% url "orga:submissions.speakers.add" event=request.event.slug pk=submission.pk %}">
                    <td>
                        <input id="input-nick" name="nick" class="form-control typeahead" type="text" placeholder="{% trans "Additional speaker" %}">
                    </td>
                    <td class="text-right">
                        <button type="submit" class="btn btn-sm btn-secondary"><span class="fa fa-plus"></span></button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>

    <span id="vars" remoteUrl="{% url "orga:event.user_list" event=request.event.slug %}?search=%QUERY"></span>
    {% compress js %}
    <script type="text/javascript" src="{% static "vendored/typeahead.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "orga/js/speakers.js" %}"></script>
    {% endcompress %}
{% endblock %}
