{% extends "orga/submission/base.html" %}
{% load i18n %}

{% block submission_content %}
    {% trans "Do you really want to change the state of this submission?" %}
    {% include "cfp/event/fragment_state.html" with state=submission.state %}
    <i class="fa fa-arrow-right"></i>
    {% include "cfp/event/fragment_state.html" with state=target %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="submit-group" id="submission-state-change"><span></span><span>
            <a
              class="btn btn-lg btn-outline-info"
              href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ submission.orga_urls.base }}{% endif %}"
            >
                {% trans "Back" %}
            </a>
            <button type="submit" class="btn btn-lg submission-state-{{ target }}">
                {% trans "Do it" %}
            </button>
        </span></div>
    </form>
{% endblock %}
