@import "../../vendored/forkawesome/scss/fork-awesome";

input.availabilities-editor-data {
  display: none;
}

.availability-form .form-group {
  flex-direction: column;
}
.fc .fc-timegrid-col-bg .fc-highlight {
  opacity: 0.7;
  background: rgb(70, 151, 201);
}
.availabilities-editor {
  max-width: 100%;
}
.availabilities-tz-hint {
  text-align: right;
  color: $gray;
}

.fc-event.delete {
  background-color: $brand-danger !important;
  border-color: $brand-danger !important;
}

.fc-event.delete::before {
  font-family: ForkAwesome;
  content: "\f014";
  position: absolute;
  top: calc(50% - 1ex);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 200%;
  color: white;
}

.fc-day-grid-event.delete::before {
  font-size: 100%;
  top: 0;
}
