@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
       url(static('fonts/titillium-web-v8-latin-600.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/titillium-web-v8-latin-600.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
       url(static('fonts/titillium-web-v8-latin-700.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/titillium-web-v8-latin-700.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'),
       url(static('fonts/titillium-web-v8-latin-600italic.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/titillium-web-v8-latin-600italic.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'),
       url(static('fonts/titillium-web-v8-latin-700italic.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/titillium-web-v8-latin-700italic.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url(static('fonts/muli-v19-latin-regular.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/muli-v19-latin-regular.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url(static('fonts/muli-v19-latin-700.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/muli-v19-latin-700.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url(static('fonts/muli-v19-latin-italic.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/muli-v19-latin-italic.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(static('fonts/muli-v19-latin-700italic.woff2')) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(static('fonts/muli-v19-latin-700italic.woff')) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
    font-family: "Muli","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    h1, h2, h3, h4, legend, .btn, button {
      font-family: "Titillium Web","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    h2, legend {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
    }
}
