@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Titillium Web SemiBold"),
    local("TitilliumWeb-SemiBold"),
    url(static("fonts/titillium-web-v17-latin-ext-600.woff2")) format("woff2");
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Titillium Web Bold"),
    local("TitilliumWeb-Bold"),
    url(static("fonts/titillium-web-v17-latin-ext-700.woff2")) format("woff2");
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local("Titillium Web SemiBold Italic"),
    local("TitilliumWeb-SemiBoldItalic"),
    url(static("fonts/titillium-web-v17-latin-ext-600italic.woff2"))
      format("woff2");
}
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("Titillium Web Bold Italic"),
    local("TitilliumWeb-BoldItalic"),
    url(static("fonts/titillium-web-v17-latin-ext-700italic.woff2"))
      format("woff2");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url(static("fonts/mulish-v12-latin-ext-regular.woff2")) format("woff2"),
    url(static("fonts/mulish-v12-latin-ext-regular.woff")) format("woff");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(""),
    url(static("fonts/mulish-v12-latin-ext-700.woff2")) format("woff2"),
    url(static("fonts/mulish-v12-latin-ext-700.woff")) format("woff");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url(static("fonts/mulish-v12-latin-ext-italic.woff2")) format("woff2"),
    url(static("fonts/mulish-v12-latin-ext-italic.woff")) format("woff");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url(static("fonts/mulish-v12-latin-ext-700italic.woff2")) format("woff2"),
    url(static("fonts/mulish-v12-latin-ext-700italic.woff")) format("woff");
}
body {
  font-family: "Muli", "Open Sans", "OpenSans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  h1,
  h2,
  h3,
  h4,
  legend,
  .btn,
  button {
    font-family: "Titillium Web", "Open Sans", "OpenSans", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  legend {
    font-size: 22px;
  }
}
