table tr {
  vertical-align: middle;
}

.table a:hover {
  text-decoration: none;
}
.table th {
  white-space: nowrap;
}
table th.numeric,
table td.numeric {
  text-align: right;
  font-variant-numeric: tabular-nums;
}
table th.numeric-left,
table td.numeric-left {
  font-variant-numeric: tabular-nums;
}
.nowrap {
  white-space: nowrap;
}
.badge {
  border-radius: 0.25em;
  height: 100%;
  text-align: center;
  vertical-align: baseline;
  padding: 0.4em 0.6em 0.4em;
  font-size: 75%;
  font-weight: bold;
  color: $white;
  margin-left: 4px;
}
.export-qrcode-image,
.qrcode-image {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.export-break {
  height: 1px;
  background: #B0B0B0;
}
.export-qrcode:hover .export-qrcode-image,
.qrcode:hover .qrcode-image {
  display: block;
}
.copyable-text {
  cursor: pointer;
  &:hover {
    background: $gray-lightest;
    box-shadow: 0px 0px 4px 4px $gray-lightest;
  }
}
.mail-card .card-header {
  cursor: pointer;
}
.nowline {
  border-top: $brand-danger solid 2px;
  display: flex;
  position: relative;
  visibility: hidden;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: $gray-lightest;
  border: 1px solid $gray-light;
  border-radius: 3px;
}
.state-fragment {
  white-space: nowrap;
}
