/* compatibility */
/* colors */
$white:  #fff !default;
$black: #000 !default;
$brand-primary: #1C4A3B !default;
$brand-success: #5caa8d !default;
$brand-info: #6790b1 !default;
$brand-warning: #fa993e !default;
$brand-danger: #b34066 !default;
$brand-inverse: #032419 !default;

$brand-inverse: #032419;

$enable-rounded: false;

$offwhite: #f8f9fa !default;
$gray: #636c72 !default;

$gray-100: mix(#f8f9fa, $brand-primary, 95) !default;
$gray-200: mix(#e9ecef, $brand-primary, 95) !default;
$gray-300: mix(#dae0e4, $brand-primary, 90) !default;
$gray-500: mix(#636c72, $brand-primary, 90) !default;
$gray-800: #343a40 !default;

$gray-light: $gray-300 !default;
$gray-lighter: $gray-200 !default;
$gray-lightest: $gray-100 !default;

$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;
$btn-primary-color:              $white !default;
/* end compatibility */

/* colors */
$theme-colors: (
  primary: $brand-primary,
  // secondary: $gray-800,
  success: #5CAA8D,
  info: #6790B1,
  warning: #FA993E,
  danger: #B34066,
  light: $gray-100,
  dark: $gray-800
);

/* fix bootstrap 4 */
h2, h3 {
  padding-top: 24px;
}
.btn:focus {
  box-shadow: none !important;
}

$enable-rounded: false;
