.dialog-anchor {
    cursor: pointer;
}
dialog {
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.27rem;
    opacity: 0;
    max-width: 70vw;

    &[open] {
        opacity: 1;
        animation: fade-in 0.3s ease-out;
    }

    &, &:focus-visible, a:focus-visible, button:focus-visible {
        border: none;
        outline: none;
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.3);
    }

    /* Special treatment for dialogs that are just there to show an alert box */
    .alert {
        margin: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
