{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block headline %}
    {% trans "Speakers" %}
{% endblock %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        <legend>{% trans "Speaker" %} {{ form.instance }} ({{ submission_count }} {% trans "submissions" %})</legend>
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                {% if action == "edit" %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                {% elif action == "view" %}
                    <a class="btn btn-secondary" href={% url "orga:speakers.edit" event=request.event.slug pk=form.instance.pk %}>{% trans "Edit" %}</a>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
