{% extends "orga/cfp/base.html" %}
{% load i18n %}

{% block content %}
    <h2>
        {{ information.count }}
        {% blocktrans trimmed count count=information.count %}
        Speaker Information Note
        {% plural %}
        Speaker Information Notes
        {% endblocktrans %}
    </h2>
    <div class="alert alert-info">
        {% blocktrans trimmed %}
        Add important messages (e.g. "Please bring an HDMI adapter if required.") or files (e.g. a conference styleguide).<br>
        They are shown to the selected speakers above the list of their submitted talks.
        {% endblocktrans %}
    </div>
    <table class="table table-sm table-hover table-responsive-md">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Includes submitted" %}</th>
                <th>{% trans "Only confirmed" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for info in information %}
                <tr>
                    <td>
                        <a href="{{ info.orga_urls.edit }}">{{ info.title }}</a>
                        {% if info.resource %}
                            <a href="{{ info.resource.url }}"><i class="fa fa-paperclip"></i></a>
                        {% endif %}
                    </td>
                    <td>{{ info.include_submitters|yesno }}</td>
                    <td>{{ info.exclude_unconfirmed|yesno }}</td>
                    <td class="action-column">
                        <a href="{{ info.orga_urls.edit }}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                        <a href="{{ info.orga_urls.delete }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="submit-group"><span></span>
        <a href="{{request.event.orga_urls.new_information }}" class="btn btn-lg btn-success">
            <i class="fa fa-plus"></i>
            {% trans "Add a new note" %}
        </a>
    </div>
{% endblock %}
