{% extends "orga/base.html" %}

{% load i18n %}

{% block extra_title %}{% blocktranslate trimmed count count=1 %}Speaker Information Note{% plural %}Speaker Information Notes{% endblocktranslate %} :: {% endblock extra_title %}

{% block content %}
    <h2>
        {% blocktranslate trimmed count count=1 %}
            Speaker Information Note
        {% plural %}
            Speaker Information Notes
        {% endblocktranslate %}
    </h2>

    {% include "orga/includes/base_form.html" %}

{% endblock content %}
