{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <legend>
        <span>
            {% trans "New event" %}
            <span class="text-muted small">{% blocktrans with total=wizard.steps.count current=wizard.steps.step1 trimmed %}
                Step {{current}} of {{ total }}
            {% endblocktrans %}</span>
        </span>
    </legend>
    {{ wizard.form.media }}
    {% block wizard_content %}{% endblock %}
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% bootstrap_field wizard.form.name layout='event' %}
        {% bootstrap_field wizard.form.slug layout='event' addon_before=url_placeholder addon_before_class="input-group-prepend input-group-text" %}
        {% bootstrap_field wizard.form.timezone layout='event' %}
        {% bootstrap_field wizard.form.email layout='event' %}
        {% bootstrap_field wizard.form.locale layout='event' %}
    <div class="submit-group">
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-lg btn-info">{% trans "Previous step" %}</button>
        {% else %}
        <span></span>
        {% endif %}
        <button type="submit" class="btn btn-success btn-lg float-right">{% trans "Next step" %}</button>
    </div>
    </form>
{% endblock %}
