include LICENSE
include README.rst
recursive-include pretalx/static *
recursive-include pretalx/static.dist *
recursive-include pretalx/locale *
recursive-include pretalx/agenda/templates *
recursive-include pretalx/common/templates *
recursive-include pretalx/cfp/templates *
recursive-include pretalx/orga/templates *
recursive-include pretalx/schedule/templates *
