include LICENSE
include README.rst
include pretalx.example.cfg
recursive-include pretalx/static *
recursive-include pretalx/static.dist *
recursive-include pretalx/locale *
recursive-include pretalx/agenda/templates *
recursive-include pretalx/api/templates *
recursive-include pretalx/common/templates *
recursive-include pretalx/cfp/templates *
recursive-include pretalx/mail/templates *
recursive-include pretalx/orga/templates *
recursive-include pretalx/schedule/templates *
global-exclude *.py[co]
global-exclude __pycache__
