amqp==5.2.0
arabic-reshaper==3.0.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==5.0.1
cbor2==5.6.4
celery==5.3.6
certifi==2024.6.2
cffi==1.16.0
chardet==5.1.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.5.3
coveralls==4.0.1
cryptography==42.0.8
css-inline==0.8.7
csscompressor==0.9.5
defusedcsv==2.0.0
dj-static==0.0.6
Django==4.2.13
django-appconf==1.0.6
django-bootstrap3==23.1
django-compressor==4.3.1
django-countries==7.5.1
django-debug-toolbar==4.0.0
django-filter==23.2
django-formset-js-improved==0.5.0.3
django-formtools==2.4.1
django-hierarkey==1.1.0
django-hijack==2.3.0
django-i18nfield==1.9.4
django-jquery-js==3.1.1
django-libsass==0.9
django-localflavor==4.0
django-markup==1.8.1
django-oauth-toolkit==1.6.3
django-otp==1.2.4
django-phonenumber-field==7.1.0
django-redis==5.4.0
django-scopes==2.0.0
django-statici18n==2.3.1
djangorestframework==3.14.0
docopt==0.6.2
elementpath==4.4.0
et-xmlfile==1.1.0
-e git+https://github.com/AviGawande/eventyay-tickets.git@10e76aeea19c9cedeaaf1a64e4d3df23d11a0d8e#egg=eventyay
exceptiongroup==1.2.1
execnet==2.1.1
fakeredis==2.18.1
flake8==6.0.0
freezegun==1.5.1
future==1.0.0
idna==3.7
iniconfig==2.0.0
isort==5.12.0
isoweek==1.3.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jwcrypto==1.5.6
kombu==5.3.7
libsass==0.22.0
lxml==5.2.2
Markdown==3.4.3
mccabe==0.7.0
mt-940==4.30.0
oauthlib==3.2.2
openpyxl==3.1.4
packaging==24.1
paypalrestsdk==1.13.3
pep8-naming==0.13.3
phonenumberslite==8.13.39
Pillow==9.5.0
pluggy==1.5.0
ply==3.11
polib==1.2.0
potypo==0.0.2
prompt_toolkit==3.0.47
protobuf==4.23.4
psycopg2-binary==2.9.9
pycodestyle==2.10.0
pycountry==24.6.1
pycparser==2.21
pyenchant==3.2.2
pyflakes==3.0.1
pyOpenSSL==24.1.0
PyPDF2==2.12.1
pytest==7.3.2
pytest-cache==1.0
pytest-cov==5.0.0
pytest-django==4.8.0
pytest-mock==3.10.0
pytest-rerunfailures==11.1.2
pytest-sugar==1.0.0
pytest-xdist==3.3.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-stdnum==1.20
python-u2flib-server==4.0.1
pytz==2024.1
pyuca==1.2
PyYAML==6.0.1
rcssmin==1.1.1
redis==5.0.6
referencing==0.35.1
reportlab==4.0.9
requests==2.31.0
responses==0.25.3
rjsmin==1.2.1
rpds-py==0.18.1
sentry-sdk==1.15.0
sepaxml==2.6.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.0
static3==0.7.0
stripe==5.4.0
termcolor==2.4.0
text-unidecode==1.3
tlds==2024061300
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vat-moss-forked==2020.3.20.0.11.0
vine==5.1.0
vobject==0.9.7
wcwidth==0.2.13
webauthn==0.4.7
webencodings==0.5.1
xmlschema==3.3.1
