{% extends "eventyay_common/event/settings_base.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% load hierarkey_form %}
{% load formset_tags %}
{% load presale_locale %}
{% block title %}{% trans "General settings" %}{% endblock %}
{% block custom_header %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href='{% url "control:pdf.css" %}'>
<link type="text/css" rel="stylesheet" href="{% static 'vendored/cropperjs/cropper.min.css' %}">
<script defer src="{% static 'eventyay-common/js/smtp-toggle.js' %}"></script>
<script type="text/javascript" src="{% static 'eventyay-common/js/move-event-email-elements.js' %}"></script>
<script defer src="{% static 'eventyay-common/js/contact-form-toggle.js' %}"></script>
<script type="module" src="{% static 'pretixcontrol/js/ui/secret-toggle.js' %}"></script>
{{ sform.media }}
{% if is_meetup_event %}
<script type="module" src="{% static 'eventyay-common/js/ui/meetup-video-fields.js' %}"></script>
{% endif %}
{% endblock %}
{% block inside %}
{% blocktrans trimmed with name=request.event.name|event_localize asvar header_title %}
{{ name }} - Settings
{% endblocktrans %}
{% include "common/includes/header_nav.html" with header_title=header_title header_component_link="eventyay_common/event/component_link.html" %}
<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form_errors sform %}
    {% bootstrap_form_errors email_form %}
    {% comment %} TODO: Reintroduce component selection when unified component initialization is stable. {% endcomment %}
    <div class="tabbed-form">
        <fieldset>
            <legend>{% trans "Basics" %}</legend>
            {% bootstrap_field form.name layout="control" %}
            {% bootstrap_field form.slug layout="control" %}
            {% if form.domain %} {# Conditionally show if domain field is added to form #}
            {% bootstrap_field form.domain layout="control" %}
            {% endif %}
            {% include "eventyay_common/includes/event_schedule_row.html" with date_from_form=form.date_from date_to_form=form.date_to timezone_form=sform.timezone %}
            {% bootstrap_field form.date_admission layout="control" %}
            {% include "pretixcontrol/event/fragment_geodata.html" %}
            <div class="form-group">
                <label class="col-md-3 control-label">
                    {% translate "Header links" %}
                </label>
                <div class="col-md-9">
                    <div class="help-block text-muted">
                        {% blocktranslate trimmed %}
                        These links will be shown at the top of all your schedule-related pages, e.g.
                        the schedule itself, speaker pages, session pages, etc.
                        You could for example link to your home page, your registration page, or your
                        livestream here.
                        {% endblocktranslate %}
                    </div>
                    {% include "orga/includes/event_links_formset.html" with formset=header_links_formset %}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">
                    {% translate "Footer links" %}
                </label>
                <div class="col-md-9">
                    <div class="help-block text-muted">
                        {% blocktranslate trimmed %}
                        These links will be shown in the footer of all your public pages. You could
                        for example link your terms of service, imprint, or privacy policy here.
                        {% endblocktranslate %}
                    </div>
                    {% include "orga/includes/event_links_formset.html" with formset=footer_links_formset %}

                    <div class="settings-footer-contact">
                        <div class="checkbox settings-footer-contact-toggle">
                            <label>
                                {{ sform.contact_form_enabled }}
                                <strong>{% translate "Contact form" %}</strong>
                            </label>
                        </div>
                        {% if sform.contact_form_enabled.errors %}
                            <div class="help-block">
                                {% for error in sform.contact_form_enabled.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div id="contact-form-email-fields"
                             class="settings-footer-contact-fields{% if sform.contact_mail.errors %} has-error{% endif %}">
                            <label class="control-label" for="{{ sform.contact_mail.id_for_label }}">
                                {% translate "Organizer email address" %}
                            </label>
                            <input type="email"
                                   name="{{ sform.contact_mail.html_name }}"
                                   value="{{ sform.contact_mail.value|default:'' }}"
                                   class="form-control"
                                   id="{{ sform.contact_mail.id_for_label }}"
                                   {% if sform.contact_mail.field.disabled %}disabled{% endif %}>
                            {% if sform.contact_mail.help_text %}
                                <p class="help-block text-muted">{{ sform.contact_mail.help_text }}</p>
                            {% endif %}
                            {% if sform.contact_mail.errors %}
                                <div class="help-block text-danger">
                                    {% for error in sform.contact_mail.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="setting-part">
                <div class="form-group setting-form">
                    <label class="col-md-3 control-label">{% trans "Tickets system" %}</label>
                    <div class="col-md-9 col-value">
                        <button type="button" class="btn btn-sm btn-default enabled-btn" data-toggle="modal"
                            data-target="#alert-modal-disabled">
                            {% trans "Enabled" %}
                        </button>
                        <a href='{% url "control:event.index" organizer=request.event.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Dashboard" %}' data-toggle="tooltip">
                            <span class="fa fa-dashboard"></span>
                        </a>
                        <a href='{% url "control:event.settings" organizer=request.event.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Setting" %}' data-toggle="tooltip">
                            <span class="fa fa-edit"></span>
                        </a>
                    </div>
                </div>
                <div class="form-group setting-form">
                    <label class="col-md-3 control-label">{% trans "Talks system" %}</label>
                    <div class="col-md-9 col-value">
                        {% if is_talk_event_created %}
                        <button type="button" class="btn btn-sm btn-default enabled-btn" data-toggle="modal"
                            data-target="#alert-modal-disabled">
                            {% trans "Enabled" %}
                        </button>
                        <a href='{% url "orga:event.dashboard" organizer=request.event.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Dashboard" %}' data-toggle="tooltip">
                            <span class="fa fa-dashboard"></span>
                        </a>
                        <a href='{% url "orga:settings.event.view" organizer=request.event.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Settings" %}' data-toggle="tooltip">
                            <span class="fa fa-edit"></span>
                        </a>
                        {% else %}
                        <button type="button" class="btn btn-sm btn-default disabled-btn" data-toggle="modal"
                            data-target="#alert-modal-enable-talk">
                            {% trans "Disabled" %}
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group custom-form">
                    <label class="col-md-3 control-label">{% trans "Video system" %}</label>
                    <div class="col-md-9 col-value">
                        {% if is_video_enabled %}
                        <button type="button" class="btn btn-sm btn-default enabled-btn" data-toggle="modal"
                            data-target="#alert-modal-disabled">
                            {% trans "Enabled" %}
                        </button>
                        <a href='{% url "eventyay_common:event.create_access_to_video" organizer=request.event.organizer.slug event=request.event.slug %}'
                            class="btn btn-sm btn-default" title='{% trans "Video Configuration" %}'
                            data-toggle="tooltip">
                            <span class="fa fa-edit"></span>
                        </a>
                        {% else %}
                        <button type="button" class="btn btn-sm btn-default disabled-btn" data-toggle="modal"
                            data-target="#alert-modal-enable-video">
                            {% trans "Disabled" %}
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endcomment %}
        </fieldset>

        {% if is_meetup_event %}
        <fieldset>
            <legend>{% trans "Visibility" %}</legend>
            {% bootstrap_field sform.privacy_type layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Video stream" %}</legend>
            {% bootstrap_field sform.video_type layout="control" %}
            <div id="video-url-group" {% if not sform.video_type.value %}hidden{% endif %}>
                {% bootstrap_field sform.video_url layout="control" %}
            </div>
        </fieldset>
        <fieldset>
            <legend>{% trans "Registration limit" %}</legend>
            {% bootstrap_field sform.registration_limit layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Registration fee & Payment" %}</legend>
            {% bootstrap_field sform.registration_fee layout="control" %}
            {% bootstrap_field sform.payment_stripe__enabled layout="control" %}
            {% bootstrap_field sform.payment_stripe_publishable_key layout="control" %}
            {% bootstrap_field sform.payment_stripe_secret_key layout="control" %}
            {% bootstrap_field sform.payment_stripe_merchant_country layout="control" %}
        </fieldset>
        {% endif %}

        <fieldset>
            <legend>{% trans "Localization" %}</legend>
            {% bootstrap_field sform.locales layout="control" %}
            {% bootstrap_field sform.locale layout="control" %}
            {% bootstrap_field sform.region layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{{ _('Texts') }}</legend>
            {% bootstrap_field sform.frontpage_text layout="control" %}
            {% bootstrap_field sform.menu_label_tickets layout="control" %}
            {% bootstrap_field sform.menu_label_join_video layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{{ _('Design') }}</legend>
            {% bootstrap_field sform.event_logo_image layout="control" %}
            {% bootstrap_field sform.logo_show_title layout="control" %}
            {% bootstrap_field sform.logo_image layout="control" %}
            {% bootstrap_field sform.event_preview_image layout="control" %}
            {% bootstrap_field sform.logo_image_large layout="control" %}
            {% bootstrap_field sform.og_image layout="control" %}
            {% url "eventyay_common:organizer.edit" organizer=request.organizer.slug as org_url %}
            {% propagated request.event org_url "primary_color" "header_background_color" "header_text_color" "navigation_text_color" "menu_text_scroll_over_color" "primary_font" "theme_color_success" "theme_color_danger" "theme_color_background" "hover_button_color" "video_navigation_background_color" "video_sidebar_text_color" "video_sidebar_hover_color" %}
            {% bootstrap_field sform.primary_color layout="control" %}
            {% bootstrap_field sform.header_background_color layout="control" %}
            {% bootstrap_field sform.header_text_color layout="control" %}
            {% bootstrap_field sform.navigation_text_color layout="control" %}
            {% bootstrap_field sform.menu_text_scroll_over_color layout="control" %}
            {% bootstrap_field sform.theme_color_success layout="control" %}
            {% bootstrap_field sform.theme_color_danger layout="control" %}
            {% bootstrap_field sform.theme_color_background layout="control" %}
            {% bootstrap_field sform.hover_button_color layout="control" %}
            {% bootstrap_field sform.theme_round_borders layout="control" %}
            {% bootstrap_field sform.primary_font layout="control" %}
            <h4 class="settings-sub-heading">{% trans "Video area" %}</h4>
            {% bootstrap_field sform.video_navigation_background_color layout="control" %}
            {% bootstrap_field sform.video_sidebar_text_color layout="control" %}
            {% bootstrap_field sform.video_sidebar_hover_color layout="control" %}
            {% endpropagated %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Display" %}</legend>
            {% bootstrap_field sform.show_date_to layout="control" %}
            {% bootstrap_field sform.show_times layout="control" %}
        </fieldset>
        {% if not is_meetup_event %}
        <fieldset>
            <legend>{% trans "Publication" %}</legend>
            {% bootstrap_field form.is_public layout="control" %}
            {% bootstrap_field sform.meta_noindex layout="control" %}
        </fieldset>
        {% endif %}
        <fieldset id="email-settings-tab">
            <legend>{% trans "Email" %}</legend>
            <h4 class="settings-sub-heading">{% trans "General" %}</h4>
            {% bootstrap_field email_form.mail_from layout="control" %}
            {% bootstrap_field email_form.mail_from_name layout="control" %}
            {% bootstrap_field email_form.mail_reply_to layout="control" %}
            {% bootstrap_field email_form.mail_bcc layout="control" %}
            {% bootstrap_field email_form.mail_prefix layout="control" %}
            {% bootstrap_field email_form.mail_text_signature layout="control" %}

            <h4 class="settings-sub-heading">{% trans "Email gateway" %}</h4>
            {% bootstrap_field email_form.smtp_use_custom layout="control" %}
            <div id="smtp-custom-fields">
                {% bootstrap_field email_form.email_vendor layout="control" %}
                {% bootstrap_field email_form.send_grid_api_key layout="control" %}
                {% include "pretixcontrol/includes/gmail_connection.html" with gmail_panel_nested=True gmail_event_level=True gmail_disconnect_form_id="event-gmail-disconnect-form" %}
                {% bootstrap_field email_form.smtp_host layout="control" %}
                {% bootstrap_field email_form.smtp_port layout="control" %}
                {% bootstrap_field email_form.smtp_username layout="control" %}
                {% bootstrap_field email_form.smtp_password layout="control" %}
                {% bootstrap_field email_form.smtp_use_tls layout="control" %}
                {% bootstrap_field email_form.smtp_use_ssl layout="control" %}
                {% bootstrap_field email_form.test_email layout="control" %}
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-default" name="test" value="1">
                            {% trans "Save and send test email" %}
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset id="email-design-tab">
            <legend>{% trans "Email design" %}</legend>
            <div class="alert alert-info">
                {% blocktrans trimmed %}
                    The HTML mail renderer controls the visual design of outgoing <strong>ticket</strong> emails.
                    Talk emails use a fixed layout and are not affected by this choice.
                {% endblocktrans %}
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "HTML mail renderer" %}</label>
                <div class="col-md-9">
                    <div class="row">
                        {% for r in renderers.values %}
                        <div class="col-md-4">
                            <div class="well maildesignpreview text-center">
                                <label class="radio">
                                    <input type="radio"
                                           name="{{ email_form.mail_html_renderer.html_name }}"
                                           value="{{ r.identifier }}"
                                           {% if email_form.mail_html_renderer.value == r.identifier %}checked{% endif %}>
                                    {{ r.verbose_name }}
                                </label>
                                <img src="{% static r.thumbnail_filename %}" class="img-responsive" alt="{{ r.verbose_name }}">
                                <a class="btn btn-default btn-sm" target="_blank" rel="noopener"
                                        href='{% url "control:event.settings.mail.preview.layout" event=request.event.slug organizer=request.event.organizer.slug %}?renderer={{ r.identifier }}'>
                                    {% trans "Preview" %}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </fieldset>

                        <fieldset id="danger-zone-tab" class="danger-zone-container">
            <legend class="text-danger">{% trans "Danger zone" %}</legend>

            <!-- Top Alert -->
            <div class="danger-zone-alert">
                {% blocktrans trimmed %}
                    <strong>Danger zone:</strong> These actions can affect your event and may be irreversible. Please proceed with caution.
                {% endblocktrans %}
            </div>

            <!-- Section 1: Event status -->
            <div class="danger-zone-section">
                <h4>{% trans "Event status" %}</h4>
                <p class="text-muted">{% trans "Manage the visibility or status of your event." %}</p>
                
                <div class="row">
                    <!-- Go offline -->
                    <div class="col-md-6">
                        <div class="danger-card">
                            <div class="danger-card-content">
                                <strong>{% trans "Take event offline" %}</strong>
                                <p>{% blocktrans trimmed %}Hide this event from attendees. You can bring it back online anytime.{% endblocktrans %}</p>
                            </div>
                            <div class="danger-card-action">
                                <a href="{% url 'eventyay_common:event.live' event=request.event.slug organizer=request.event.organizer.slug %}" class="btn btn-default text-danger danger-action-btn">
                                    {% trans "Go offline" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Cancel event -->
                    <div class="col-md-6">
                        <div class="danger-card">
                            <div class="danger-card-content">
                                <strong>{% trans "Cancel event" %}</strong>
                                <p>{% blocktrans trimmed %}Cancel this event and start the cancellation process. Ticket holders may need to be refunded.{% endblocktrans %}</p>
                            </div>
                            <div class="danger-card-action">
                                <a href="{% url 'control:event.cancel' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default text-danger danger-action-btn">
                                    {% trans "Cancel event" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 2: Data management -->
            <div class="danger-zone-section">
                <h4>{% trans "Data management" %}</h4>
                <p class="text-muted">{% trans "Manage and remove specific data while retaining required financial records." %}</p>
                
                <div class="row">
                    <!-- Delete personal data -->
                    <div class="col-md-6">
                        <div class="danger-card">
                            <div class="danger-card-content">
                                <strong>{% trans "Delete personal data" %}</strong>
                                <p>{% blocktrans trimmed %}Remove personal information such as attendee names and email addresses while retaining required financial records.{% endblocktrans %}</p>
                            </div>
                            <div class="danger-card-action">
                                <a href="{% url 'control:event.shredder.start' event=request.event.slug organizer=request.event.organizer.slug %}" class="btn btn-default text-danger danger-action-btn">
                                    {% trans "Delete data" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Delete talk data -->
                    {% if is_talk_event_created %}
                    <div class="col-md-6">
                        <div class="danger-card">
                            <div class="danger-card-content">
                                <strong>{% trans "Delete talk data" %}</strong>
                                <p>{% blocktrans trimmed %}Permanently remove proposals, speaker profiles, and uploaded talk-related content.{% endblocktrans %}</p>
                            </div>
                            <div class="danger-card-action">
                                <a href="{% url 'orga:event.delete_talk_data' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-default text-danger danger-action-btn">
                                    {% trans "Delete talk data" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Section 3: Permanent deletion -->
            <div class="danger-zone-section section-red-bg">
                <h4 class="text-danger">{% trans "Permanent deletion" %}</h4>
                <p class="text-danger">{% trans "These actions cannot be undone. Please be absolutely sure." %}</p>
                
                <div class="danger-card danger-card-solid-red">
                    <div class="danger-card-content">
                        <strong>{% trans "Delete event" %}</strong>
                        <p>{% blocktrans trimmed %}Permanently delete this event and all deletable associated data. Events containing protected records, such as completed orders outside test mode, cannot be deleted.{% endblocktrans %}</p>
                    </div>
                    <div class="danger-card-action">
                        <a href="{% url 'control:event.delete' organizer=request.event.organizer.slug event=request.event.slug %}" class="btn btn-danger {% if not request.event.allow_delete %}disabled{% endif %}">
                            {% trans "Delete event" %}
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group submit-group event-settings-submit">
        <button type="submit" class="btn btn-primary btn-save">
            {% trans "Save" %}
        </button>
        <div class="pull-left event-settings-danger-actions">
            <a href="{% url "eventyay_common:event.clone" organizer=request.event.organizer.slug event=request.event.slug %}"
               class="btn btn-default btn-lg">
                <span class="fa fa-copy"></span>
                {% trans "Clone event" %}
            </a>
        </div>
    </div>

    {% comment %}
    <div class="modal popup-modal" id="alert-modal-enable-talk" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-card">
                        <div class="modal-card-icon">
                            <i class="fa fa-cog big-rotating-icon"></i>
                        </div>
                        <div class="modal-card-content">
                            <h3>{% trans "Component not enabled!" %}</h3>
                            <p>{% trans "Do you want to enable the feature?" %}</p>
                            <div class="button-group">
                                <button class="btn btn-primary" name="enable_talk_system" value="enable">{% trans "Yes"
                                    %}</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel"
                                    %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal popup-modal" id="alert-modal-enable-video" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-card">
                        <div class="modal-card-icon">
                            <i class="fa fa-cog big-rotating-icon"></i>
                        </div>
                        <div class="modal-card-content">
                            <h3>{% trans "Component not enabled!" %}</h3>
                            <p>{% trans "Do you want to enable the feature?" %}</p>
                            <div class="button-group">
                                <button class="btn btn-primary" name="enable_video_system" value="enable">{% trans "Yes"
                                    %}</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel"
                                    %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal popup-modal" id="alert-modal-disabled" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-card">
                        <div class="modal-card-icon">
                            <i class="fa fa-cog big-rotating-icon"></i>
                        </div>
                        <div class="modal-card-content">
                            <h3>{% trans "Component is enabled!" %}</h3>
                            <p>{% trans "The feature cannot be disabled, but if you do not publish it, it will not show
                                up publicly." %}</p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Ok"
                                %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <!-- Cropper Modal -->
    <div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel"
        aria-hidden="true" style="z-index: 1060;">
        <div class="modal-dialog modal-lg" role="document" style="margin-top: 80px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="cropperModalLabel">{% trans "Crop Image" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="img-container"
                        style="max-height: 500px; overflow: hidden; display: flex; justify-content: center;">
                        <img id="cropperImage" src="" alt="Picture" style="max-width: 100%;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" class="btn btn-primary" id="cropperSaveBtn">{% trans "Apply Crop" %}</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendored/cropperjs/cropper.min.js' %}"></script>
    <script src="{% static 'eventyay-common/image_cropper.js' %}"></script>
</form>
<form id="event-gmail-disconnect-form"
      action="{{ gmail_disconnect_url }}"
      method="post">
    {% csrf_token %}
</form>
<script src="{% static 'eventyay-common/js/event-settings-images.js' %}" type="module"></script>
{% endblock %}