{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% translate "Attendees" %}{% endblock %}

{% block content %}
    <h1>{% translate "Attendees" %}</h1>
    <p>{% translate "This is a list of all paid attendees and their check-in status." %}</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Filter" %}</h3>
        </div>
        <div class="panel-body">
            <form method="get">
                <div class="row filter-form">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.query layout='inline' %}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.event_query layout='inline' %}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.event_status layout='inline' %}
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        {% bootstrap_field filter_form.checkin_status layout='inline' %}
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-filter"></span>
                        <span class="hidden-md">{% translate "Filter" %}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if attendees %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th>{% translate "Event" %}</th>
                    <th>{% translate "Order Code" %}</th>
                    <th>{% translate "Product" %}</th>
                    <th>{% translate "Status" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in attendees %}
                    <tr>
                        <td>{{ attendee.name }}</td>
                        <td>{{ attendee.email }}</td>
                        <td>{{ attendee.event }}</td>
                        <td>{{ attendee.order_code }}</td>
                        <td>{{ attendee.product }}</td>
                        <td>{{ attendee.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pretixcontrol/pagination.html" %}
    {% else %}
        <div class="empty-collection">
            <p>{% translate "There are no attendees to show." %}</p>
        </div>
    {% endif %}
{% endblock %}
