body {
  height: 100vh;
  overflow: hidden;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#page-content {
  background: var(--color-bg);
  flex-grow: 1;
  max-width: 100%;
  padding: 20px 40px;
  margin: 0;
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .flex-content {
    max-width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: no-wrap;

  .flex-content {
    flex: 1 0 0;
    align-self: stretch;
  }

  .flex-sidebar {
    max-width: 240px;
    padding-left: 24px;

    h3 {
      font-size: 16pt;
    }

    p {
      margin: 0px 0px 0px 0px;
    }
  }
}

.superuser-warning {
  position: absolute;
  background: $brand-danger;
  padding: 8px 20px;
  color: white;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  z-index: 1000;

  a {
    color: white;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}

.submission_featured {
  i {
    position: absolute;
    margin-left: 6px;
    margin-top: -6px;
  }

  .done {
    color: $brand-primary;
  }

  .fail {
    color: $brand-danger;
  }
}
table.table-sticky thead {
  position: sticky;
  top: -20px;
  background-color: var(--color-bg);
  /* 100 is in between the z-index of some page content and the navbar */
  z-index: 100;
  box-shadow: 0 2px var(--color-border);
}

.accordion .card {
  h2 {
    margin-bottom: 0;
  }
  button {
    align-items: baseline;
  }
}
.accordion .card button[data-toggle="collapse"]::before,
details summary.card-header::before {
  content: "\f106";
  position: absolute;
  left: 14px;
  top: 24px;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: ForkAwesome;
  transform: rotate(90deg);
  transition: transform 150ms ease-in 0s;
}
#template-accordion
  button[data-toggle="collapse"][aria-expanded="true"]::before,
details[open] summary::before {
  transform: rotate(180deg);
}

details.card {
  margin-bottom: 18px;
  summary.card-header {
    list-style: none;
    padding-left: 36px;
    font-weight: bold;
    &::before {
      top: 18px;
    }
  }
}
aside.sidebar {
  background-color: var(--color-grey-lightest);
  border-right: 1px solid var(--color-grey-lighter);
  width: 45px;
  height: 100vh;
  display: flex;
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  z-index: 150;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  overflow-y: auto;

  &.sidebar-uncollapsed,
  &:hover {
    width: 250px;
    a.nav-link i + span {
      display: inline-block;
    }
    .nav-fold div > a {
      display: block;
    }
    #nav-search {
      #search-context-icon .fa-stack-1x,
      #search-context-icon .fa-stack-2x {
        margin-left: 0;
      }
      #search-context-text {
        display: flex;
      }
    }
  }

  a {
    color: var(--color-text-lighter);
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
  }

  .nav-fold span.has-children {
    display: flex;
    flex-direction: row;

    a {
      flex-grow: 1;
    }

    .arrow {
      flex-grow: 0;
      width: 40px;
      border: none;
      display: flex;
      justify-content: center;

      i {
        padding-top: 4px;
        margin-right: 0;
      }
    }
  }

  .nav-link,
  .nav-fold {
    display: block;
    border-top: 1px solid var(--color-grey-light);
    div > a {
      display: none;
    }
  }

  .nav-link {
    padding: 10px 15px;

    &:last-child {
      border-bottom: 1px solid var(--color-grey-light);
    }
  }

  .nav-link {
    .fa {
      margin-right: 5px;
    }

    i + span {
      display: none;
    }

    &.nav-link-second-level span {
      padding-left: 1.6em;
    }
  }

  .nav-link.nav-link-second-level,
  .nav-link.nav-link-inner,
  .nav-link.nav-link-inner.active {
    border: none;
  }

  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.nav-link-second-level.active,
  .nav-link.nav-link-second-level.active:hover {
    background-color: var(--color-primary-lighter);
  }
  .nav-link:hover,
  .nav-link.nav-link-second-level:hover {
    background-color: var(--color-grey-lighter);
  }
  #nav-search {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
    color: var(--color-primary);
    height: 56px;

    &:after {
      /* dropdown indicator */
      margin-right: 12px;
    }

    #search-context-icon {
      min-width: 38px;
    }

    #search-context-text {
      display: none;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 6px;
      .context-name,
      .context-meta {
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .context-name {
        font-family: "Titillium Web";
        font-weight: 600;
        font-size: 15px;
      }
      .context-meta {
        font-size: 11px;
        color: var(--color-text-lighter);
        font-weight: normal;
      }
    }
  }

  #nav-search-dropdown {
    width: 250px;
    transform: unset !important;
    top: 53px !important;
    max-height: calc(100vh - 53px - 50px);
    margin: 0;
    padding: 0;

    box-shadow: var(--shadow-big);
    border-radius: 0;
    background: var(--color-offwhite);
    overflow-y: auto;

    .query-holder {
      padding: 8px;
      position: sticky;
      top: 0;
      background: var(--color-offwhite);
    }

    ul#search-results {
      padding: 0;
      margin: 0;
      list-style: none;

      li.loading {
        text-align: center;
        padding: 8px;
      }

      li > a {
        text-decoration: none;
        & > div {
          display: flex;
          flex-direction: column;
          margin: 0;
          border-top: 1px solid var(--color-grey-light);
          padding: 8px;
          font-size: 14px;
          line-height: 15px;
          &:hover,
          &.active {
            background: var(--color-grey-lightest);
          }
        }
        .search-title > span,
        .search-detail {
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .search-title {
          font-family: "Titillium Web";
          padding-bottom: 4px;
          display: flex;
          align-items: center;
        }
        .search-detail {
          font-size: 11px;
          color: var(--color-text-lighter);
          font-weight: normal;
        }
      }
    }
  }
}

.navbar-brand {
  img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: auto;
    margin: auto;
  }
}

.speaker-info {
  display: flex;
  flex-direction: row;

  .speaker-image img {
    max-height: 160px;
    float: right;
  }
}

#speaker-typeahead {
  span.twitter-typeahead,
  input {
    width: 350px;
    margin-right: 8px;
  }
}

footer {
  margin-top: var(--size-spacer);
  text-align: center;
  font-size: 11px;
}

.dashboard-live {
  margin: 6px;
  font-size: 22px;
}

.dashboard-live-text,
.dashboard-live {
  margin-top: 12px;
}

.form-control.tt-hint[readonly] {
  background-color: var(--color-bg) !important;
}

.search-submit-group {
  padding-bottom: 0;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;

  & > .form-group {
    width: 300px;
    display: flex;
    margin-right: 16px;

    [type="text"] {
      height: 2.25rem;
    }

    label {
      display: none;
    }
    .form-control.is-valid {
      background-image: none;
    }
  }

  button,
  [role="button"],
  details {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 16px;
  }
  button,
  [role="button"] {
    margin-right: 16px;
    margin-left: auto;
  }
  #pending .form-group {
    margin-bottom: 0;
  }
  #pending label {
    color: #6c757d;
  }
}
.filter-form {
  .form-group {
    margin-right: 8px;
    .form-control.is-valid {
      background-image: none;
    }
  }
}
.resource-option-row,
.resource-option-input {
  .resource-option-delete {
    padding-right: 8px;
  }
  .form-group input {
    height: 2rem;
  }
}

.logentry {
  display: flex;
  flex-direction: column;

  & > * {
      display: inline-block;
  }

  span i.fa {
    padding-right: 4px;
  }
  .time {
    color: var(--color-text-muted);
  }
}

.dashboard-history {
  overflow-y: none;
  max-height: none;
  border: none;

  .list-group {
    .logentry {
      flex-direction: row;

      > span {
        padding-right: 8px;
        width: 350px;

        &.time,
        &.person {
          width: 200px;
        }

        &.log-object {
          width: 250px;
        }
        br {
          display: none;
        }
      }
    }
  }
}

td.reviewer {
  display: flex;
  flex-direction: row;
}

form #id_header_pattern,
form #id_display-header_pattern {
  display: flex;
  padding: 0;
  overflow-x: auto;

  .form-check {
    padding-left: 0;
  }

  label {
    width: 100px;
    position: relative;
    margin-right: 8px;

    &:before {
      left: 40px;
      top: 8px;
    }

    &:after {
      left: 44px;
      top: 8px;
    }
  }

  .mini-header {
    width: 100px;
    height: 100px;
    background-color: var(--color, var(--color-primary));
  }
}

.form-plugins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  .plugin-card {
    margin: 16px;
    width: 40%;
    flex-grow: 1;
    flex-shrink: 0;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      font-weight: bold;

      .btn {
        max-width: 150px;
      }
    }
  }
}

h2 .submission-state-dropdown {
  padding: 4px;
}

.submission-state-dropdown {
  display: inline-block;
  border-radius: 6px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--submission-color-primary),
    var(--submission-color-primary) 8px,
    var(--submission-color-secondary) 8px,
    var(--submission-color-secondary) 16px
  );
  padding: 3px;

  summary {
    background-color: white;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    h4 {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0;
      display: inline-flex;
      padding: 4px 0 3px 0;
      align-items: baseline;
    }

    i.fa:first-child {
      padding: 0 6px 0 3px;
    }
    i.fa.fa-caret-down {
      margin-left: 10px;
    }
  }
  &:hover summary {
    background-color: inherit;
    color: inherit;
  }

  a {
    font-weight: bold;
    font-size: 16px;
  }
}

.submission-state-deleted,
.submission-state-withdrawn,
.submission-state-canceled {
  color: var(--color-grey);
  --submission-color-primary: var(--color-grey);
  --submission-color-secondary: var(--color-grey);
}
.submission-state-dropdown.submission-state-pending-deleted,
.submission-state-dropdown.submission-state-pending-withdrawn,
.submission-state-dropdown.submission-state-pending-canceled {
  --submission-color-secondary: var(--color-grey);
}
.submission-state-deleted:hover,
.submission-state-withdrawn:hover,
.submission-state-canceled:hover {
  color: white;
  background-color: var(--color-grey);
}

.submission-state-submitted {
  color: var(--color-info);
  background-color: white;
  --submission-color-primary: var(--color-info);
  --submission-color-secondary: var(--color-info);
}
.submission-state-dropdown.submission-state-pending-submitted {
  --submission-color-secondary: var(--color-info);
}
.submission-state-submitted:hover {
  color: white;
  background-color: var(--color-info);
}

.submission-state-accepted {
  color: var(--color-success-light);
  background-color: white;
  --submission-color-primary: --color-success-light;
  --submission-color-secondary: --color-success-light;
}
.submission-state-dropdown.submission-state-pending-accepted {
  --submission-color-secondary: var(--color-success-light);
}
.submission-state-accepted:hover {
  background-color: var(--color-success-light);
  color: white;
}

.submission-state-confirmed {
  color: var(--color-primary);
  background-color: white;
  --submission-color-primary: var(--color-primary);
  --submission-color-secondary: var(--color-primary);
}
.submission-state-dropdown.submission-state-pending-confirmed {
  --submission-color-secondary: var(--color-primary);
}
.submission-state-confirmed:hover {
  color: white;
  background-color: var(--color-primary);
}

.submission-state-rejected {
  color: var(--color-danger);
  background-color: white;
  --submission-color-primary: var(--color-danger);
  --submission-color-secondary: var(--color-danger);
}
.submission-state-dropdown.submission-state-pending-rejected {
  --submission-color-secondary: var(--color-danger);
}
.submission-state-rejected:hover {
  color: white;
  background-color: var(--color-danger);
}

.cfp-option-table {
  width: 75%;
  display: table;
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    margin-bottom: 4px;
    margin-top: 4px;
    input {
      margin-left: auto;
      margin-right: auto;
    }
  }
  thead th {
    line-height: 1;
    vertical-align: top;
    text-align: center;
  }
  input[type="number"] {
    width: 64px;
  }
  tr,
  tr td {
    line-height: 2.5;
  }
}
#id_locales.checkbox,
#id_initial-locales.checkbox,
#id_tags {
  padding: 0;
  label {
    display: inline-block !important;
    margin-bottom: 8px;
  }
}

.colorpicker-wrapper {
    .input-group-prepend .input-group-text {
        background-color: var(--color-grey-lighter);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        padding: 0;
        .colorpicker-preview {
            width: 20px;
            height: 20px;
            border-radius: 2px;
        }
    }
    .picker_wrapper.popup {
        border-radius: var(--size-border-radius);
        box-shadow: var(--shadow-big);
        .picker_arrow {
            display: none;
        }
        .picker_hue, .picker_sl, .picker_sample {
            border-radius: var(--size-border-radius);
        }
        button {
            border: 1px solid var(--color-success);
            background: var(--color-success);
            font-family: var(--font-family-title);
            border-radius: var(--size-border-radius);
            text-transform: uppercase;
        }
    }

}

.colorpicker-saturation .colorpicker-guide {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: -5px 0 0 -5px;
}
.color-square {
  display: inline-block;
  align-self: baseline;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-grey-light);
  margin-right: 2px;
}
.phase-option-row .row,
.score-row .row {
  margin-bottom: 8px;
  .text-right input {
    text-align: right;
  }
}
#stats {
  display: flex;
  flex-wrap: wrap;
  .card {
    display: inline-flex;
    flex-grow: 1;
    margin: 4px;
    &.stats-timeline {
      width: 100%;
    }
  }
  .pie svg,
  .pie {
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
  #toggle-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-success);
    background: var(--color-success);
    &:before,
    &:after {
      color: var(--color-success);
    }
    margin: 0 8rem 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;

    &:before,
    &:after {
      line-height: 1.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      transition: opacity 0.25s;
    }
    &:before {
      content: attr(data-left);
      right: 4rem;
    }
    &:after {
      content: attr(data-right);
      left: 4rem;
      opacity: 0.5;
    }

    > .handle {
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.135rem;
      border-radius: 1.125rem;
      background: #fff;
      transition: left 0.25s;
    }
    &.active {
      transition: background-color 0.25s;
      > .handle {
        left: 1.6875rem;
        transition: left 0.25s;
      }
      &:before {
        opacity: 0.5;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
#question-stats {
  display: flex;
  flex-wrap: wrap;
  .table {
    width: auto;
    padding: 16px;
  }
  #question-answers {
    margin-right: 32px;
  }
}
.i18n-form-group input[lang],
.i18n-form-group textarea {
  border-top-width: 0;
  border-radius: 0;

  &:first-child {
    border-top-width: 1px;
    border-top-left-radius: var(--size-border-radius);
    border-top-right-radius: var(--size-border-radius);
  }
  &:last-child {
    border-bottom-right-radius: var(--size-border-radius);
    border-bottom-left-radius: var(--size-border-radius);
  }
}
.i18n-form-single-language input[lang],
.i18n-form-single-language textarea[lang],
.i18n-form-single-language input[lang]+label {
  background:none !important;
  padding:.375rem .75rem
}

#fake-changelog {
  margin: 0 42px 24px 42px;
  border-top: 1px solid var(--color-grey-light);
  padding: 16px 24px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .i18n-form-group {
    width: 100%;
  }
}
#release #notify-speakers-check {
  small {
    margin-top: 0;
    font-size: 80%;
    a {
      color: var(--color-grey);
    }
  }
}
#review-filter-form {
  #range-wrapper {
    margin-right: 48px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      color: #495057;
      font-size: 1rem;
    }
    .rs-container {
      font-family: inherit;
      color: #495057;
      .rs-selected {
        background-color: var(--color-primary);
      }
    }
  }
  #column-select {
    li.dropdown-item {
      padding-left: 48px;
      margin-top: 8px;
    }
  }
}
.review-table.table {
  tbody tr,
  thead tr {
    .unmark-radio {
      opacity: 0;
      margin-top: 2px;
      margin: 6px 4px 0 8px;
      color: var(--color-grey-medium-light);
      font-size: 16px;
    }
    .unmark-radio.always-active {
      opacity: 1;
      cursor: pointer;
    }
    .radio {
      padding: 4px;
      label {
        margin-left: 6px;
        margin-bottom: 0;
        height: 24px;
        width: 24px;
        &::before {
          font-family: ForkAwesome;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.3);
          text-align: center;
        }
      }
      &.reject {
        label::after {
          background: var(--color-danger);
        }
        label::before {
          content: "\f00d";
        }
      }
      &.accept {
        label::before {
          content: "\f00c";
        }
      }
    }
    &:hover .unmark-radio.active {
      opacity: 1;
      cursor: pointer;
    }
    &:first-child td {
      border-top: none;
    }
  }
}
#submitBar {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: fixed;
  right: 0;
  bottom: 0;
  background: var(--color-grey-lightest);
  width: 100%;
  z-index: 50;
  > span {
    font-size: 16px;
    margin-right: 16px;
    span {
      font-weight: bold;
      margin-right: 16px;
    }
  }
  button {
    margin: 16px;
  }
}
#csswrap {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.progress {
  position: relative;
  width: 100%;
  &::after {
    color: black;
    content: attr(title);
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
  }
}
#anonymise {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100% - 24px);
    margin: 8px 16px;
    > div {
      flex-grow: 1;
      min-width: 300px;
      width: 48%;
    }
  }
}
#anon-menu {
  position: absolute;
  margin-top: -48px;
  margin-right: 42px;
  right: 0;

  button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.72);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
    &:after {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      content: " ";
      border-top: 12px solid rgba(0, 0, 0, 0.72);
      position: absolute;
      right: 70%;
      bottom: -12px;
    }
  }
}
.hide-label {
  label {
    display: none;
  }
}
.mail-preview-group {
  margin-bottom: -15px;
}
div.mail-preview {
  border: 1px solid #ccc;
  border-top-width: 1px;
  border-radius: 3px;
  padding: 4px 36px;

  .placeholder {
    background: transparentize(var(--color-primary), 0.7);
  }
}

.mail-preview-group div[lang] {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  border-top-width: 0;
  margin-bottom: 0;
  padding-right: 15px;
  padding-bottom: 15px;

  &:first-child {
    border-top-left-radius: var(--size-border-radius);
    border-top-right-radius: var(--size-border-radius);
    border-top-width: 1px;
  }
  &:last-child {
    border-bottom-left-radius: var(--size-border-radius);
    border-bottom-right-radius: var(--size-border-radius);
    margin-bottom: 20px;
  }
  h2,
  h3 {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  p {
    margin: 0 0 10px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.list-group .list-group-item-action h4 {
  /* This is in the email editor placeholder sidebar */
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  .fa-chevron-right {
    position: absolute;
    right: 24px;
    height: 24px;
    top: calc(50% - 12px);
  }
}

.form-with-placeholder {
  margin-right: 300px;
}
#placeholder-column {
  width: 270px;
  max-height: calc(100vh - 55px);
  overflow-y: auto;
  position: fixed;
  right: 0;
  padding: 0 12px;
  top: 50px;
  border-left: 1px solid var(--color-grey-lighter);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  legend {
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 16px 0 8px 0;
  }

  .list-group-item.placeholder {
    cursor: pointer;

    .placeholder-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .placeholder-text {
        white-space: nowrap;
      }
    }

    i {
      padding: 8px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
    }
    i:hover {
      background: var(--color-grey-lighter);
    }
  }
}

.speaker-avatar {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dashboard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 20px;
}

.dashboard-block-wrapper,
.dashboard-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  margin: 8px;
  padding: 12px 4px;
  min-height: 160px;
  width: 340px;
  color: var(--color-primary);
  background: var(--color-grey-lightest);
  text-align: center;
  max-width: calc(100% - 16px);
  overflow-wrap: break-word;
  position: relative;
  border-radius: 4px;
  &.dashboard-block-wrapper {
    padding: 0;
    max-width: 100%;
    > .dashboard-block {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &:hover {
    background: var(--color-grey-lightest);
    color: var(--color-primary);
    text-decoration: none;
  }

  &.dashboard-block-extended {
    min-height: 100px;
  }
  &.symbol {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    i {
      font-size: 56px;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: normal;

    .fa {
      padding-right: 0.3em;
    }
  }

  .dashboard-description {
    padding: 0 8px;
    font-size: 20px;

    ul {
      text-align: left;
    }
  }
  .dashboard-block-extension {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    .dashboard-block-addon {
      flex-grow: 1;
      font-weight: 400;
      &:hover {
        background: var(--color-grey-lightest);
        color: var(--color-primary);
        text-decoration: none;
      }
      &.dashboard-block-addon-success {
        color: var(--color-grey-lightest);
        background-color: var(--color-success);
      }
      &.dashboard-block-addon-info {
        color: var(--color-grey-lightest);
        background-color: var(--color-info);
      }
      &.dashboard-block-addon-error {
        color: var(--color-grey-lightest);
        background-color: var(--color-danger);
      }
    }
  }
  &.event-block {
    padding-bottom: 48px;
    .stats {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > * {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.state.inactive {
          background-color: var(--color-grey);
          color: white;
          font-weight: bold;
        }
        &.state.active {
          background-color: var(--color-success);
          color: white;
          font-weight: bold;
        }
        &.submissions {
          background-color: var(--color-grey-light);
          color: var(--color-text-lighter);
        }
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 60px;
  padding-bottom: 90px;

  .timeline-element {
    display: inline-block;
    flex-grow: 1;
    padding: 10px;
    position: relative;
    min-width: 200px;
    height: 80px;
    max-width: 320px;
    padding: 0.5em;

    &::after {
      content: "  ";
      position: absolute;
      top: 0;
      right: -50px;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 50px solid white;
      z-index: 5;
    }

    .timeline-text {
      display: none;
    }

    &:hover .timeline-text,
    .timeline-text:hover {
      display: block;
      color: black;
      position: absolute;
      padding-right: 20px;
      margin-top: 8px;
      background: white;
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
      opacity: 1;
    }

    .timeline-heading {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
    }
  }

  .timeline-element.done {
    .timeline-heading {
      font-weight: normal;
    }
  }

  .timeline-element.next {
    .timeline-heading {
      font-weight: normal;
    }
  }

  .timeline-element:nth-of-type(1) {
    background-color: #e5e5e5;

    &::after {
      border-left: 50px solid #e5e5e5;
    }
  }

  .timeline-element:nth-of-type(2) {
    background-color: #d3d3d3;

    &::after {
      border-left: 50px solid #d3d3d3;
    }
  }

  .timeline-element:nth-of-type(3) {
    background-color: #c2c2c2;

    &::after {
      border-left: 50px solid #c2c2c2;
    }
  }

  .timeline-element:nth-of-type(4) {
    background-color: #b0b0b0;

    &::after {
      border-left: 50px solid #b0b0b0;
    }
  }

  .timeline-element:nth-of-type(5) {
    background-color: #a1a1a1;

    &::after {
      border-left: 50px solid #a1a1a1;
    }
  }

  .timeline-element.next:nth-of-type(6) {
    background-color: #858585;
    color: white;

    &::after {
      border-left: 50px solid #858585;
    }
  }

  .timeline-element.active {
    background-color: mix(#fff, var(--color-success), 25%);
    color: white;

    &::after {
      background: transparent;
      border-left-color: mix(#fff, var(--color-success), 25%);
    }
  }
}

.pending-mails {
  background: var(--color-warning);
  color: var(--color-grey-lightest);
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  padding: 5px;
}

.adder-textbox {
  height: 2rem;

  padding-top: 2px;
  display: block;

  input {
    height: $height;
    max-width: 250px;
    display: inline-block;
  }

  span.twitter-typeahead {
    display: inline !important;
  }

  .btn {
    height: $height;
    width: $height + 0.1rem;
    text-align: center;
    vertical-align: top;
    margin-left: 5px;
  }
}
@media print {
  body,
  #page-content,
  .pretalx-schedule {
    height: 100% !important;
  }
}
@media (max-width: 640px) {
  .timeline {
    margin-right: 8px;

    .timeline-element.done,
    .timeline-element.next {
      display: none;
    }

    .timeline-element.active {
      display: block;
      width: 100%;

      &::after {
        display: none;
        width: 0;
      }
    }
  }
}
@media (max-width: 768px) {
  nav input,
  nav #navigate,
  nav .twiter-typeahead {
    display: none !important;
  }

  .navbar {
    padding: 0.1rem 1rem;

    ul {
      flex-direction: row;

      .fa {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 0;
      }
    }
  }

  .navbar-collapse {
    flex-basis: auto;
  }

  aside.sidebar {
    position: absolute;
    display: none;
  }

  aside.sidebar-uncollapsed {
    display: inherit;
    z-index: 600;
  }

  fieldset .alert.col-md-9.offset-md-3 {
    margin: 0;
  }

  #page-content {
    padding: 4px 8px;
    flex-grow: 0;
    width: 100%;
    margin-left: 0;
  }

  ul.nav-pills {
    li.nav-item {
      padding: 0;
      margin: 0;

      a {
        padding: 4px 8px;
      }
    }
  }

  .col-form-label {
    text-align: left;
    display: flex;

    span {
      padding-left: 4px;
    }
  }
  .dashboard-history .list-group .logentry {
    flex-direction: column;
    border-bottom: 1px solid var(--color-grey-light);
    padding-top: 16px;
    .meta {
      flex-direction: column;
      .time {
        padding-bottom: 16px;
      }
    }
  }
}
