html.rtl {
  #page-content {
    margin-right: 250px;
    margin-left: 0;
  }
  .event-logo-form-fields {
    text-align: right;
  }
  .navbar-nav.flip {
    flex-direction: row-reverse;
  }
  .sidebar-text {
    margin-right: 8px;
  }
  .offset-md-3 {
    margin-left: inherit !important;
    margin-right: 25%;
  }
  .offset-md-9 {
    margin-left: inherit !important;
    margin-right: 75%;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
    float: left;
    text-align: right;
  }
  [role="tab"] {
    float: right;
    margin-left: auto;
    margin-right: -2px;
  }
}
