body {
  background: var(--color-bg);
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1000;
}

.logo {
  width: 10rem;
  height: auto;
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  width: 24rem;
}

.hidden {
  display: none;
}
.progress {
  height: 4px;
}
