{% extends "orga/base.html" %}

{% load compress %}
{% load context_urls %}
{% load i18n %}
{% load static %}

{% block scripts %}
    {% compress js %}
        <script defer src="{% static 'vendored/zxcvbn.js' %}"></script>
        <script defer src="{% static 'common/js/password_strength.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block nav_top_header %}
    <a href="#" style="text-decoration: none; color: inherit;">
        <div id="nav-search" class="dropdown-toggle summary-div" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="d-flex justify-content-between align-items-center">
                <span id="search-context-icon" class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <div id="search-context-text">
                    <span class="context-name font-weight-bold">{% translate "Account" %}</span>
                </div>
            </div>
        </div>
        <div id="nav-search-input-wrapper" class="d-none dropdown-content dropdown-menu dropdown-menu-left" aria-labelledby="nav-search" data-source="{% url 'orga:nav.typeahead' %}" data-event-typeahead data-organiser="{% if request.event %}{{ request.event.organiser.pk }}{% elif request.organiser %}{{ request.organiser.pk }}{% endif %}">
            <div class="query-holder">
                <div class="form-box">
                    <input type="search" class="form-control" placeholder="{% translate 'Search' %} (Alt + k)" data-typeahead-query>
                </div>
            </div>
            <ul id="search-results">
            </ul>
        </div>
    </a>
{% endblock %}

{% block extra_title %}{% translate "User settings" %} :: {% endblock extra_title %}
{% block content %}
    <fieldset class="m-2">
        <legend>{% translate "User settings" %}</legend>
        {% include "orga/includes/base_form.html" with form=profile_form submit_name="form" submit_value="profile" %}
    </fieldset>

    <fieldset class="m-2 password-input-form">
        <legend>{% translate "Login settings" %}</legend>
        {% include "orga/includes/base_form.html" with form=login_form submit_name="form" submit_value="login" %}
    </fieldset>

    {% include "common/user_api_token.html" with orga="true" %}

{% endblock content %}
