name: Documentation

on:
  push:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'
      - 'src/tests/**'
  pull_request:
    branches: [ development, master ]
    paths-ignore:
      - 'src/pretix/locale/**'
      - 'src/pretix/static/**'
      - 'src/tests/**'

jobs:
  spelling:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install system packages
        run: sudo apt update && sudo apt install enchant hunspell aspell-en
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Dependencies
        run: uv sync --only-group doc
      - name: Spellcheck docs
        run: make spelling
        working-directory: ./doc
      - name: Check no errors
        run: '[ ! -s _build/spelling/output.txt ]'
        working-directory: ./doc
