name: Strings

on:
  push:
    branches: [ development, master ]
    paths:
      - 'doc/**'
      - 'src/pretix/locale/**'
  pull_request:
    branches: [ development, master ]
    paths:
      - 'doc/**'
      - 'src/pretix/locale/**'

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Check gettext syntax
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install system packages
        run: sudo apt update && sudo apt install gettext
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Python dependencies
        run: uv sync --all-extras
      - name: Compile messages
        run: python manage.py compilemessages
        working-directory: ./src
      - name: Compile jsi18n
        run: python manage.py compilejsi18n
        working-directory: ./src
  spelling:
    runs-on: ubuntu-latest
    name: Spellcheck
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install system packages
        run: sudo apt update && sudo apt install enchant hunspell hunspell-de-de aspell-en aspell-de
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Dependencies
      - name: Install Python dependencies
        run: uv sync --all-extras --group test
      - name: Spellcheck translations
        run: uv run potypo
        working-directory: ./src
