name: Code Style

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'src/pretalx/locale/**'
      - 'src/pretalx/static/**'
      - 'doc/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'src/pretalx/locale/**'
      - 'src/pretalx/static/**'
      - 'doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  isort:
    name: isort
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Dependencies
        run: python -m pip install -Ue ".[dev]"
      - name: Run isort
        run: isort -c .
        working-directory: ./src
  flake:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Dependencies
        run: python -m pip install -Ue ".[dev]"
      - name: Run flake8
        run: flake8 .
        working-directory: ./src
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Dependencies
        run: python -m pip install -Ue ".[dev]"
      - name: Run black
        run: black --check .
        working-directory: ./src
  html:
    name: HTML checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Dependencies
        run: python -m pip install -Ue ".[dev]"
      - name: Run djhtml
        run: 'djhtml pretalx/'
        working-directory: ./src
      - name: Make sure we always use trimmed translation strings
        run: "! git grep ' blocktranslate ' | grep -v trimmed"
